<!--#include virtual="/header-start.html" -->
<title>Alternative 3</title>
<!--#include virtual="/header-end.html" -->
<p>Projet trouvant son origine dans un documentaire télévisé satyrique. La raison d'être de ce projet serait que notre
  monde serait en passe de devenir rapidement inhabitable en raison de la pollution de la biosphère par l'humanité.
  D'après ce scénario, 3 alternatives auraient été examinées pour éviter une catastrophe globale :</p>
<ol>
  <li>Faire exploser des bombes nucléaires en haute altitude, afin de créer des trous dans la haute atmosphère, par
    lesquels l'effet de serre néfaste pour être évacué vers l'espace ;</li>
  <li>Construire de gigantesques villes <a
      href="/science/crypto/ufo/observation/scenario/Souterrains.html">souterraines</a>, où un petit pourcentage de la
    population pourrait être évacué, laissant les autres prendre leurs risques à la surface dévastée de la planète ;
  </li>
  <li>Migrer sur <a href="/place/systeme/solaire/planete/mars">Mars</a> de façon ultra-secrète des élites des puissances
    de la <a href="/place/systeme/solaire/planete/terre">Terre</a>.</li>
</ol>
<p>Les deux premières alternatives auraient été abandonnées en raison de leur infaisabilité, laissant l'Alternative 3.
  Ainsi, certaines des personnes disparaissant de par le monde (jusqu'à {{100000 | number}} d'après certaines
  estimations) seraient enlevées à bord d'appareils de conception extraterrestre, changés en esclaves abétés par des
  moyens chirurgicaux et chimiques, et condamnés à passer le reste de leurs vies dans les colonies martiennes.
</p>
<p>Des thèses conspirationnistes <span class="source">Alternative 3</span> voient d'autres objectifs cachés dans la <a
    href="/org/us/dod/SDI.html">SDI</a> :</p>
<ul>
  <li>les camps US et Soviétiques collaborent en fait de le développement d'une telle technologie afin de disposer d'une
    force de dissuasion face à une menace extraterrestre avérée <span class="source">Corso 1997</span>.
  </li>
  <li>une catégorie d'extraterrestre a convaincu le gouvernement de la menace que représente l'arrivée (prévue alors en
    <time>1992</time>) d'une autre catégorie, dit "pléiadiens", ou "blonds", et l'aide à développer cette technologie
    afin de se défendre ou dissuader <span class="source">Lear 1998</span>.
  </li>
</ul>
<p>En <time>1978</time> est publié le livre <i lang="en"><a href="/time/1/9/7/8/Alternative3">Alternative 3</a></i>.
</p>
<span class="source">Baker 1999</span>
<span class="source">Thule - <a href="https://thule.org/alt3.html">Alternative Three</a> - Où la version télévisée peut être visualisée
    (Real Audio).</span>
<!--#include virtual="/footer.html" -->
