<!--#include virtual="/header-start.html" -->
<title>AAAS</title>
<meta name="url" content="https://www.aaas.org">
<!--#include virtual="/header-end.html" -->
<p>Fondée en <time>1848</time> en <span class="place">Philadelphie</span>, l'<em>American Association for the
  Advancement of Science</em> — prononcer "triple-A-S" — est l'une des plus anciennes et peut-être la plus grande
  fédération d'organisations scientifiques, avec plus de 275 organismes scientifiques affiliés. Elle est notamment
  éditrice de la célèbre revue <a href="https://www.scienceonline.org"><i lang="en">Science</i></a>.
</p>
<p>Durant ses problèmes avec l'HUAC, <span class="people">Edward U. Condon</span> est nommé président de l'AAAS.</p>
<p>L'AAAS compte plus de {{138000 | number}} membres, dont <span class="people">James E. McDonald</span> (jusqu'en
  <time>1967</time>), <span class="people">Peter A. Sturrock</span>, <span class="people">Carl Sagan</span> ou
  <span class="people">Thornton Page</span>, qui en devient vice-président pour l'astronomie en <time>1968</time>.
</p>
<section>
  <h2>Symposium</h2>
  <p>Cette année-là, <span class="people">Philip Morrison</span>, Walter Orr Roberts (University Corporation pour la
    Recherche Atmosphérique à Boulder, Colorado) et surtout <span class="people">Sagan</span> et <a
        href="/people/p/PageThornton/index.html">Page</a> approchent l'AAAS pour que l'association organise un symposium
    sur les ovnis, à l'occasion d'une conférence de l'AAAS prévue en décembre.</p>
  <p>Cependant, le symposium (134ᵉ conférence de l'AAAS) est reporté à l'année suivante, en attente de la parution du <a
      href="/time/1/9/6/8/CondonReport">Rapport Condon</a> et en raison de l'opposition de certains scientifiques à
    traiter le sujet des ovnis. Le symposium se tient finalement les <time>1969-12-26</time> et <time>1969-12-27</time>
    à <span class="place">Boston (Massachussetts)</span>, où l'AAAS refuse de cautionner le <a
        href="/time/1/9/6/8/CondonReport">Rapport Condon</a>.</p>
</section>
<p>L'AAAS a accepté que d'inclure la <a href="/science/para/psi">parapsychologie</a> (contrairement à d'autres domaines
  de recherche comme la <a
      href="/science/crypto/zoo">cryptozoologie</a> ou l'<a href="/science/crypto/ufo">ufologie</a>).
</p>
<p>L'AAAS édite le journal <em>Science</em>.</p>
<p>Un équivalent français de l'AAAS est l'<a href="https://histsciences.univ-paris1.fr/databases/afas">AFAS</a>.
</p>
<p><strong>Références</strong> :</p>
<ul>
  <li><span class="source">Sagan-<a href="/people/p/PageThornton/index.html">Page</a> 1972</span> <em>UFO's - A
    scientific debate</em> de <span class="people">Carl Sagan</span> et <span class="people">Thornton Page</span> (1972,
    Cornell University Press) (Barles & Noble 1996) - Livre tiré des déclarations préparées lors du Symposium de l'<a
        href="../asso/AAAS.html">AAAS</a> les 26 et 27 décembre 1969 à Boston (Massachusetts), avec notamment :
    <ul>
      <li><a href="/people/h/HartmannWilliamK">Hartmann</a> (photos),</li>
      <li><a href="/people/r/RoachFranklinE">Roach</a> (point de vue des astronomes),</li>
      <li><em>Twenty-one Years of UFO Reports</em> par <a href="/people/h/HynekJosefAllen">J. Allen Hynek</a>
      </li>
      <li><a href="/people/m/MenzelDonaldH">Menzel</a> (le mythe moderne)</li>
      <li><a href="/people/d/DrakeFrank">Drake</a> (capacités et limitations des témoins d'ovnis et de phénomènes
        similaires).
      </li>
    </ul>
  </li>
  <li>
    <ul>
      <li><span class="people">James E. MacDonald</span>: <em>Science in default : 22 years of inadequate UFO
        investigations</em></li>
      <li><em>Motion Pictures of UFO's</em> par Robert M. L. Baker</li>
      <li><em>La nature de la preuve scientifique : une synthèse</em> par <span class="people">Philip Morrison</span>
      </li>
    </ul>
  </li>
</ul>
<!--#include virtual="/footer.html" -->
