<!--#include virtual="/header-start.html" -->
<title>LANL</title>
<meta content="https://www.lanl.gov" name="url"/>
<!--#include virtual="/header-end.html" -->
<p>Les <i lang="en">Los Alamos National Laboratories</i> constituent un centre de recherche (et une <a
    href="/place#LosAlamos"> ville</a>) du <a href="/place/systeme/solaire/planete/terre/amer/n/us/nm">Nouveau
  Mexique</a> appartenant à la <a href="/org/us/NRC.html">NRC</a>. </p>
<p>À l'époque de sa fondation, le laboratoire est dédié uniquement au développement de nouvelles armes. C'est là que
  sont développées les premières bombes atomiques en <time>1943</time> (dans le cadre du projet <a
      href="/org/us/dod/Manhattan.html">Manhattan</a> avec notamment <span class="people">Robert Oppenheimer</span>, <a
      href="/people/v/VonNeumannJohn">von Neumann</a>, <span class="people">Edward Teller</span>) et à hydrogène (<span
      class="people">Teller</span>). De <time>1944/1945</time> <span class="people">Luis W. Alvarez</span> travaille
  sous la direction d'<span class="people">Oppenheimer</span> dans l'équipe qui met au point la 1ʳᵉ bombe atomique.</p>
<p>Certains indiquent que le site aurait avoir analysé l'épave et les EBE du <a
    href="/science/crypto/ufo/enquete/dossier/Roswell">crash d'ovni de Roswell</a> en <time>1947</time>, puis entre
  <time>1948/1952</time>, avoir été le théatre d'observations d'ovnis par le personnel de la base, en particulier ceux
  décrits comme des <q><a href="/science/crypto/ufo/enquete/dossier/GreenFireballs">boules lumineuses vertes</a></q>.
</p>
<p>C'est dès le <time>1948-02-16</time>, une conférence secrète est tenue à Los Alamos pour discuter du phénomène ovni,
  en particulier des <q><a href="/science/crypto/ufo/enquete/dossier/GreenFireballs">boules lumineuses vertes</a></q>
  qui ont été largement signalées dans la région. Parmi les scientifiques et militaires présents se trouve <span
      class="people">Teller</span> et <span class="people">Lincoln LaPaz</span>, dont l'opinion d'expert est demandée au
  cours de la conférence <span class="source">The Ultimate Ufologist Web Page</span>.
</p>
<p>En <time>1949</time> se trouvent là d'importantes installations stratégiques vouées à la mise au point de bombes
  atomiques. On y observe à nouveau des ovnis décrits comme des <q>boules de feu vertes</q> descendre depuis une haute
  altitude, <q>en provenance de Russie</q>. Le <time>1949-01-31</time>, un agent du <a href="../../../ic/fbi">FBI</a> en
  poste à San Antonio signale dans un rapport qu'il vient d'être informé par la division <a
    href="/org/us/dod/af/G2.html">G-2</a> de la 4ᵉ Armée que l'affaire des <q>appareils aériens non identifiés</q>,
  ou les <q>phénomènes aériens non identifiés</q>, connus aussi comme les <q>disques volants</q>, <q>soucoupes
    volantes</q> et <q>boules de feu</q> est considérée comme très secrète (<em><q>top secret</q></em>) par les
  officiers de l'Armée de Terre et de l'Armée de l'Air. Le mémo du <a
      href="../../../ic/fbi">FBI</a> fait état d'une moyenne de {{43000 | number}} km/h pour les vitesses observées pour
  de tels objets lors d'observations récentes, et évoluant à une altitude située entre 9600 et 10 600 km. Les objets
  sont décrits comme terminant leur vol en descente brutalement verticale vers Los Alamos. </p>
<p>Depuis le centre à étendu ses recherches aux supercalculateurs, les nouveaux matériaux, les lasers, technologies de
  l'environnement, capteurs spatiaux et autres domaines.</p>
<p>Le LANL dépent du <a href="/org/us/bmi">BMI</a>.</p>
<!--#include virtual="/footer.html" -->
