.hovered {
  border: none;
  border-radius: 0.2em;
  background: rgba(184, 197, 212, 0.49);
  transition: background 0.2s ease-out
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow: auto
}

body nav {
  position: static
}

nav {
  width: 100%;
  height: 100%
}

nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

nav ul li {
  display: table;
  text-align: center;
  float: left
}

nav ul li a {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  color: darkslategray;
  font-size: 1.5em;
  font-family: "Arial", sans-serif;
  text-shadow: 0 0 10px white
}

@media screen and (min-width: 0em) and (max-width: 25em) {
  li {
    gridWidth: 1;
    gridHeight: 8;
    width: 100%;
    height: 12.5%
  }
}

@media screen and (min-width: 25em) and (max-width: 50em) {
  li {
    gridWidth: 2;
    gridHeight: 4;
    width: 50%;
    height: 25%
  }
}

@media screen and (min-width: 50em) and (max-width: 75em) {
  li {
    gridWidth: 4;
    gridHeight: 2;
    width: 25%;
    height: 50%
  }
}

@media screen and (min-width: 75em) and (max-width: 1000em) {
  li {
    gridWidth: 8;
    gridHeight: 1;
    width: 12.5%;
    height: 100%
  }
}

.chapter1 {
  background-image: url("time/1/9/5/0/06/08/TelephoneRegister.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background 0.3s ease
}

.chapter2 {
  background-image: url("/place/systeme/solaire/planete/terre/Apollo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background 0.3s ease
}

.chapter3 {
  background-image: url("/org/us/ic/nsa/nsa-place.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background 0.3s ease
}

.chapter4 {
  background-image: url("/people/a/AdamsWilliamA/portrait.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background 0.3s ease
}

.chapter5 {
  background-image: url(politics);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background 0.3s ease
}

.chapter6 {
  background-image: url("/croyance/conspirationnisme/TireursDeFicelles.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background 0.3s ease
}

.chapter7 {
  background-image: url("/people/p/PersingerMichael/p040-15.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background 0.3s ease
}

.chapter8 {
  background-image: url("/tech/aero/appareil/avion/sr71/SR-71_NASA.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background 0.3s ease
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 200
}

.search {
  width: 100%;
  min-width: 17em;
  padding: 0;
  transition: all 0.3s ease;
  vertical-align: middle;
  text-align: center;
  box-shadow: #4d4d4d 0 0 0.1em 0.1em;
  border-radius: 0.2em
}

.search form {
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 1em
}

.search form input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2)
}

.search form .iconic.magnifying_glass {
  right: 1em;
  top: 1em
}

.search:hover {
  background: rgba(184, 197, 212, 0.9);
  box-shadow: black 0 0 6em 01em
}

.search:hover input {
  background: white
}

.search-result {
  position: relative;
  margin: 0;
  border-radius: 0.2em
}

.map {
  display: none
}
