.map {
  position: fixed;
  top: calc(var(--header-height) + var(--mobile-nav-height));
  right: 0;
  left: var(--nav-width);
  transform: translateX(100%);
  height: 100%;
  bottom: 0;
  border: 0;
  padding: 0;
  transition: transform .3s ease;
}

#map-canvas, #map-canvas iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
