@charset "UTF-8";
@import "map.css";
@import "search/search.css";
@import "figure.css";
@import "people/index.css";
@import "section.css";
@import "table.css";

:root {
  --mobile-nav-height: 2rem;
  --header-height: 6rem;
  --nav-width: 18vw;
  --map-width: 18vw;
  --margin: 1rem;
  --icon-color: grey;
  --background-color: white;
  --color: black;
  --link-color: lightblue;
  --font-family: system-ui, sans-serif;
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: reduce) {
  * {
    view-transition-name: unset !important;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%
}

html, body {
  scroll-behavior: smooth;
}

.people-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin: 0;
  margin-left: 0.3em;
}

.text section, .text ul {
  text-align: justify;
  vertical-align: sub
}

.map h1, nav h1 {
  display: none
}

* {
  letter-spacing: .01rem;
  line-height: 1.7;
  box-sizing: border-box
}

.text section time.duration, .text ul time.duration {
  font-weight: 400;
  font-family: monospace
}

body {
  margin: 0;
  padding: 0;
  padding-top: calc(var(--header-height) + var(--mobile-nav-height));
  line-height: 1.5em;
}

body.wait, body.wait * {
  cursor: wait
}

p {
  padding-left: var(--margin);
  padding-right: var(--margin);
}

.indexed time {
  font-weight: 700
}

.links {
  column-width: 14em;
}

.links li {
  margin-top: 2.5mm
}

.multi-list li {
  text-align: left
}

.multi-list, form, header, header h1, .text {
  margin: 0
}

.divider {
  width: .3em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  cursor: col-resize;
  z-index: 2
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

#main {
  padding: 0
}

.columns {
  -webkit-column-width: 15em;
  -moz-column-width: 15em;
  column-width: 15em
}

.columns a, .columns details summary, details .columns summary {
  width: 100%
}

.multi-list {
  width: 100%;
  padding: 0;
  list-style: none
}

.multi-list li {
  float: left;
  width: 45%;
  margin: 0;
  padding: 0
}

.mainTitle {
  font-size: larger
}

.added {
  background: #fff0f0
}

strong, strong:hover {
  font-weight: 700
}

.caviar {
  background-color: #333;
  color: #333
}

form {
  padding: 0
}

.objection {
  color: #FF5E5E
}

.selected {
  background: #e2e2e8
}

.udotted {
  border-bottom: thin dashed
}

.Mini {
  font-size: .5em
}

.context {
  font-size: 12px;
  font-variant: small-caps
}

.explanation, .mois, .note, .source {
  font-variant: normal
}

#main-header h1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-family: inherit;
  letter-spacing: 1px;
  color: #666;
  line-height: 1.5;
  padding: .7em;
  padding-left: 0.6em;
  max-height: 4em;
  font-weight: 400;
  text-shadow: 0 0 .5em #fff;
  overflow: hidden;
}

.title {
  font-weight: lighter;
  position: fixed;
  font-size: 5em;
  color: #F5F5FF;
  z-index: -1;
  margin: 2vh 0
}

.SubMenu .title, nav.collapsed .outline-title {
  font-weight: 700
}

nav {
  font-size: .9em;
  transition: width, height .3s;
  z-index: 100;
  width: 100%;
  background-color: rgba(253, 250, 250);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset
}

nav.collapsed {
  top: 0;
  position: fixed;
  z-index: 201
}

nav ul {
  margin: 0;
  padding: 0
}

nav ul li, nav ul > li {
  padding: .2rem .3rem
}

.outline, nav ul {
  background: rgba(242, 242, 248, .95)
}

nav ul li.alternate {
  color: #d3d3d3
}

nav li:hover {
  border-right: none
}

nav li .label li:hover {
  cursor: pointer
}

details nav ul li summary, nav ul li a, nav ul li details summary {
  display: block
}

nav ul > li {
  float: left;
  display: inline
}

.outline, .outline li, .outline li a, .outline li details summary, details .outline li summary {
  display: block
}

.outline {
  overflow: auto;
  padding: 0;
  background: linear-gradient(left top, rgba(242, 242, 248, .95), rgba(255, 255, 255, .95));
  position: absolute;
  height: 0;
  font-size: .7em
}

.outline li {
  width: 100%;
  padding: .2rem .3rem;
  float: none
}

.outline li h1 {
  padding: 0;
  margin: 0
}

.outline li {
  border-top: 0.5px solid lightgray;
}

.outline li h2, .outline li h3, .outline li h4, .outline li h5, .outline li section h1, section .outline li h1 {
  background: 0 0;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 1.3;
  letter-spacing: normal;
}

.outline li h3, .outline li h4, .outline li h5, .outline li section section h1, section section .outline li h1 {
  margin: 0;
  padding: 0;
  width: auto
}

.outline li h3 {
  margin-left: 0.5em;
}

.outline li h4 {
  margin-left: 1em;
}

.outline li h5 {
  margin-left: 1.5em;
}

.outline li:focus {
  color: #FFF;
  background-color: rgba(11, 117, 178, .4);
  text-decoration: none;
  cursor: pointer
}

.outline-title:hover + .outline, .outline:hover {
  height: auto
}

.menu, iframe {
  overflow: auto
}

.long {
  max-height: 80vh
}

.menu {
  width: 100%
}

.menu ul {
  margin: 0;
  padding: 0
}

.menu ul li {
  float: left;
  font-size: .9em;
  display: inline;
  border: none
}

.menu ul li a, .menu ul li details summary, details .menu ul li summary {
  text-decoration: none;
  color: rgba(11, 117, 178, .4);
  padding: .2rem .3rem;
  border: none
}

.menu ul li .current, .menu ul li a:active, .menu ul li a:focus, .menu ul li details summary:active, .menu ul li details summary:focus, details .menu ul li summary:active, details .menu ul li summary:focus {
  color: #FFF;
  background-color: rgba(11, 117, 178, .4);
  text-decoration: none;
  border: none
}

.SubMenu {
  float: right
}

.SubMenu .title {
  text-indent: 1.4em
}

data {
  border-bottom: 1px #999 dotted
}

.wide {
  width: 100%
}

iframe {
  display: block
}

iframe .wide {
  border-style: ridge
}

.left, .left.side {
  float: left;
  margin-left: 0;
  margin-right: 1.5em
}

.right, .right.side {
  float: right;
  margin-left: 1.5em;
  margin-right: 0
}

p, td {
  text-align: justify
}

.abstract, .abstract2 {
  font-weight: 700;
  border-right-style: none;
  background: rgba(47, 47, 47, .1);
  padding: .7em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset
}

.abstract2, td, th {
  font-weight: 400
}

.org {
  background-color: #E9FFE5
}

.personne {
  background-color: #FEE9EA
}

.tech {
  list-style-type: square;
}

#rr0-context-select {
  clear: both;
}

#rr0-context-select > * {
  text-align: right;
  display: block;
}

p {
  margin: 1.25em 0 1.5em;
  -ms-hyphens: auto;
  hyphens: auto
}

a, details summary, .toggle, form label {
  text-decoration: none;
  padding: .2rem .3rem;
  margin: -.2rem -.3rem
}

.note-id, .source-id {
  text-decoration: none;
  padding: .2rem .3rem;
}

a, details summary, .toggle, .note-id, .source-id {
  color: #069;
}

a:hover, details summary:hover, .toggle:hover, .indexed li:hover, form label:hover, .multilang:hover {
  border: none;
  border-radius: .2em;
  background: rgba(184, 197, 212, .19)
}

.canular, .hoax, .deprecated {
  text-decoration: line-through
}

abbr {
  border-bottom: 1px dotted #999
}

details[open] {
  border: 1px dotted #000
}

details[open] > * {
  margin: 0;
  padding: .5em
}

details[open] summary {
  color: #000;
  margin: 0;
  padding: 0
}

details[open] summary:hover {
  background: 0 0
}

.text > p:first-of-type {
  margin-top: 0
}

.text > p:last-of-type {
  margin-bottom: 0
}

.option {
  white-space: nowrap;
  display: inline-block;
  margin-right: 1em
}

a:hover, details summary:hover, .indexed li:hover, .multilang:hover {
  transition: background .2s ease-out
}

.book .cover {
  position: absolute
}

.scrollable {
  width: 100%;
  overflow: auto;
}

.exergue .source {
  vertical-align: baseline
}

blockquote ol > li, blockquote p, blockquote ul > li, q {
  background: repeat-x rgba(250, 255, 6, .1)
}

iframe.long {
  height: 80vh;
  transition: all .8s ease-out
}

cite {
  font-style: normal;
  color: grey;
  margin-top: -0.4em;
  display: block;
  text-align: right;
}

cite::before {
  content: '— ';
}

p[data-author]:before {
  content: attr(data-author) " : "
}

q:before {
  content: "«\00a0"
}

q:after {
  content: "\00a0»"
}

q.question:before {
  content: "—\00a0"
}

q.question:after {
  content: ""
}

q.answer:before {
  content: "—\00a0"
}

q.answer:after {
  content: ""
}

q.question {
  font-weight: bolder;
  margin-bottom: 0
}

q.answer {
  margin-top: .5em
}

blockquote {
  margin: 0 0 0 1.5em
}

blockquote.answer {
  display: inline;
  margin-left: 0
}

blockquote.answer p:first-child:before {
  content: "—\00a0"
}

blockquote.answer p:first-child:after {
  content: ""
}

code, pre {
  background-color: #f1f6f7
}

blockquote ol > li:before, blockquote p:before, blockquote ul > li:before {
  content: "«\00a0"
}

blockquote ol > li.question:before, blockquote p.question:before, blockquote ul > li.question:before {
  content: "—\00a0"
}

blockquote ol > li.question:after, blockquote p.question:after, blockquote ul > li.question:after {
  content: ""
}

blockquote ol > li.answer:before, blockquote p.answer:before, blockquote ul > li.answer:before {
  content: "—\00a0"
}

blockquote ol > li.answer:after, blockquote ol > li:after, blockquote p.answer:after, blockquote p:after, blockquote ul > li.answer:after, blockquote ul > li:after {
  content: ""
}

blockquote ol > li.question, blockquote p.question, blockquote ul > li.question {
  font-weight: bolder;
  margin-bottom: 0
}

blockquote ol > li.answer, blockquote p.answer, blockquote ul > li.answer {
  margin-top: .5em
}

blockquote ol > li:last-child:after, blockquote p:last-child:after, blockquote ul > li:last-child:after {
  content: "\00a0»"
}

span.question {
  font-weight: 700
}

span.question::before {
  content: ""
}

span.question::after {
  content: " : "
}

span.answer::after, span.answer::before {
  content: ""
}

.exergue {
  font-style: italic;
  text-align: right;
  color: #4C4C4C
}

.dateEnd, .dateStart {
  text-align: right;
  color: #6373A0
}

.anticode, code {
  text-align: left
}

.exergue .source {
  display: inline
}

.exergue .source > a:first-of-type, .exergue .source details summary:first-of-type, details .exergue .source summary:first-of-type {
  display: none
}

code {
  font-size: 1.1em
}

code .tag {
  color: blue;
}

pre {
  overflow: auto;
  display: block;
  max-height: 80vh
}

pre code {
  background-color: initial
}

.obsolete {
  background-color: #FFF
}

.anticode {
  font-family: monospace;
  font-size: medium;
  background-color: #F6F6F6;
  font-style: normal;
  font-weight: 400
}

.dateEnd, .dateStart, .titleCorner {
  font-style: italic
}

.titleCorner {
  border-top-style: none;
  border-left-style: none;
  background-position: center center;
  border-right-style: none;
  background-color: transparent;
}

.oui {
  background-color: rgba(214, 252, 217, .5)
}

.non {
  background-color: rgba(252, 219, 209, .5)
}

.dateEnd, .dateStart {
  background-color: #F3F8FA
}

.context {
  border: 1px dashed #add8e6
}

.dateEnd {
  vertical-align: top;
  border-style: solid solid none none;
  border-top: medium #FFF;
  border-right: medium #D7E2EA;
  letter-spacing: 3px
}

.dateStart {
  vertical-align: bottom;
  border-style: none;
  border-right: medium solid #D7E2EA;
  border-bottom: medium solid #D7E2EA;
  letter-spacing: 3px
}

.explanation, .heure, .note, .source {
  font-style: normal
}

.disappeared::after, .meprise::after, .misinterpretation::after, .note, .source {
  vertical-align: super
}

.source-id, .note-id {
  color: #069;
}

.source-id:hover, .note-id:hover {
  color: var(--link-color);
}

.source-id:hover .source-contents,
.note-id:hover .note-contents {
  position: absolute;
  margin-top: 1em;
  display: inline-block;
  padding: 0.35em 0.5em;
  color: var(--color);
  background: var(--background-color);
  box-shadow: var(--icon-color) 0.15em 0.15em 0.3em;
  border: 1px outset var(--icon-color);
  border-radius: 0.25em;
  z-index: 2;
}

.mois {
  font-weight: bolder;
  color: #666
}

.jour {
  font-weight: 700
}

.explanation, .note, .source {
  font-weight: 400
}

.heure {
  font-family: "Courier New", Courier, monospace
}

.disappeared:after {
  color: #d3d3d3;
  font-size: .5em;
  content: " disparu"
}

dt, dd {
  display: inline-block;
  margin: 0;
}

.document-author {
  font-size: .8em;
  padding: .5em 1em;
  color: grey;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGZkZmYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzklIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: linear-gradient(135deg, #eaeaf9 0, rgba(255, 255, 255, 0) 79%)
}

a[target="_blank"]::after {
  content: " 🔗"
}

.place, .plac {
  color: #006;
  cursor: pointer;
}

.place:hover, .plac:hover {
  background-color: #f5f5ff;
  color: navy;
  border-radius: .2em
}

#starmap {
  width: 100%;
  height: 0
}

.hovered {
  border: none;
  border-radius: .2em;
  background: rgba(184, 197, 212, .49);
  transition: background .2s ease-out
}

.meprise:after, .misinterpretation::after {
  color: #d3d3d3;
  font-size: .5em;
  content: " m\E9prise"
}

.explanation {
  font-size: 9pt;
  line-height: normal;
  color: #666
}

#notes, #sources, .footer, .note, .source {
  font-size: .8em
}

footer {
  margin-top: 2em;
  line-height: 1em
}

footer iframe {
  display: inline
}

.deceased::after {
  content: " †";
  color: grey;
}

.pseudonym {
  font-style: italic;
}

.footer {
  line-height: 1.7em;
  color: #666;
  text-align: right
}

.note, .source {
  line-height: normal
}

.note-id {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

.note-contents {
  color: grey;
  display: none;
}

.anchor:target + .note-contents {
  display: inline-block;
}

.source-id {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

.source-contents {
  color: grey;
  display: none;
}

.anchor:target + .source-contents {
  display: inline-block;
}

.foot:target {
  background: #bbb;
  color: #fff
}

#notes, #sources, .note, .source {
  color: #666
}

.note, .source {
  display: none
}

#notes {
  list-style-type: lower-alpha
}

#notes li.note {
  margin: 0 0 5px
}

.book a, .book details summary, details .book summary {
  display: inline-block
}

.book a:hover .cover, .book details summary:hover .cover, details .book summary:hover .cover {
  opacity: 1;
  z-index: 1;
  box-shadow: 0 .5em 1em -.1em #555
}

.book .cover {
  opacity: 0;
  transition: opacity .3s, box-shadow .3s
}

.pln {
  color: #000
}

pre.prettyprint {
  padding: 2px;
  border: 1px solid #888
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #eee
}

#footerTable {
  overflow: hidden
}

.visible {
  display: inline-block;
}

dl.bullet {
  margin: 0;
  padding: 0;
}

dl.bullet dt::before {
  content: '\2022';
  display: inline-block;
  width: 1.8em;
  text-align: right;
  padding-right: 0.7em;
}

dl.bullet dt {
  float: left;
  font-weight: bold;
}

dl.bullet dt::after {
  content: ' : ';
  padding-right: 0.3em;
}

dl.bullet dd {
  display: block;
  margin-left: 2.5em;
}

#main-header {
  position: sticky;
  top: -100%;
  margin-top: calc(var(--header-height) * -1 - var(--mobile-nav-height));
  background-size: cover !important;
  background-position: center !important;
  background-image: linear-gradient(to right, rgba(224, 224, 233, 0.5) 0, rgba(255, 255, 255, .5) 100%);
}

#main-nav {
  position: sticky;
  top: 0;
  z-index: 101;
  width: auto;
}

#main-nav ul {
  list-style: none;
  width: 100%;
}

.map-toggle {
  order: 100;
  flex: 1;
  text-align: right;
}

.toggle {
  appearance: none;
  border: none;
  background-color: transparent;
}

.map-toggle .toggle {
  font-size: 0.9rem;
  display: none;
}

#main-nav li {
  display: inline-block;
  padding: 0.6em;
}

#main-nav a:before {
  margin-right: 0.2em;
}

#main-nav .start:before {
  content: "⇤";
}

#main-nav .prev:before {
  content: "←";
}

#main-nav .next:before {
  content: "→";
}

*:not(html)[lang='en'] {
  font-style: italic;
}

.anchor {
  position: relative;
  top: calc((var(--header-height) + 0.5rem) * -1);
  cursor: default;
}

.index-anchor {
  top: calc((var(--header-height) + 1.5rem) * -1);
}

nav > ul {
  overflow: hidden
}

abbr[title]:after {
  content: " (" attr(title) ")"
}

@media (min-width: 60em) {

  abbr[title]:after {
    content: ""
  }

  #main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    z-index: 102;
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
  }

  #main-nav {
    position: fixed;
    width: var(--nav-width);
    top: calc(var(--header-height) - 0.3rem);
    margin: 0;
    left: 0;
  }

  #main-nav ul {
    display: flex;
    flex-direction: column;
  }

  .label {
    display: inline
  }

  nav {
    overflow: visible;
    max-width: var(--nav-width);
    position: absolute;
    height: 100%;
  }

  nav ul {
    background: 0 0
  }

  nav ul li {
    display: block;
    padding: .2rem .3rem;
    float: none
  }

  .outline, .outline li, .outline li a, .outline li details summary, details .outline li summary {
    display: block
  }

  .outline {
    overflow: auto;
    padding: 0;
    background: rgba(242, 242, 248, .95);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header-from-color', endColorstr='$header-to-color', GradientType=1);
    background: linear-gradient(left top, rgba(242, 242, 248, .95), rgba(255, 255, 255, .95));
    position: relative;
    height: auto;
    box-shadow: none;
    max-height: 75vh;
    margin-left: 10%
  }

  #summary {
    max-height: 65vh;
    overflow: auto;
  }

  .outline li {
    padding: .2rem .3rem;
    float: none
  }

  .outline li h1 {
    padding: 0;
    margin: 0
  }

  .outline li:focus {
    color: #FFF;
    background-color: rgba(11, 117, 178, .4);
    text-decoration: none;
    cursor: pointer
  }

  body {
    padding-top: var(--header-height);
    margin-left: var(--nav-width);
    width: 76vw;
  }
}

body.with-map .map {
  transform: translateX(0);
}

@media (min-width: 80em) {

  .map {
    left: auto;
    width: var(--map-width);
  }

  body {
    padding-top: var(--header-height);
    margin-left: 21vw;
    width: 57vw;
  }
}

@keyframes show-portrait {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.data-resolved {
  position: relative;
}

.portrait {
  margin: 0;
  transform-origin: top;
  position: absolute;
  z-index: 1;
  left: 0;
  transform: scale(0);
  opacity: 0;
  display: block;
  transition: 0.3s opacity ease, 0.3s box-shadow ease, 0.3s transform ease;
  box-shadow: #0000006e 5px 12px 20px 0;;
}

a:hover {
  position: relative;

  .portrait {
    animation: show-portrait 0.3s 1s forwards;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background-color: black;
    --color: lightgrey;
  }

  .footer {
    color: grey;
  }

  .witness, .temoin, .temoin1, .temoin2, .temoin3 {
    background: linear-gradient(to right, #000, #333 2%, #333 98%, #000);
  }

  blockquote ol > li, blockquote p, blockquote ul > li, q {
    background: repeat-x rgba(250, 250, 255, .3)
  }

  details[open] summary {
    color: white;
  }

  details[open] summary:hover, details summary:hover {
    background-color: rgb(24, 37, 42);
  }

  .document-author {
    color: grey;
    background: linear-gradient(135deg, #555555 0, rgba(255, 255, 255, 0) 79%)
  }

  a, .toggle {
    color: var(--link-color);
  }

  #main-header {
    background-image: linear-gradient(to right, rgba(25, 25, 31, 0.5) 0, rgba(255, 255, 255, .5) 100%)
  }

  #main-header h1 {
    color: lightgrey;
    text-shadow: none;
  }

  #main-nav {
    background-color: black;
    box-shadow: 0 1px 4px rgb(255 255 255 / 30%), 0 0 40px rgb(255 255 255 / 10%) inset
  }

  .outline, nav ul {
    background: rgb(20, 20, 25);
  }

  .outline li {
    border-color: rgb(80, 80, 80);
  }

  .people.witness, .temoin, .temoin1, .temoin2, .temoin3 {
    color: white;
    background: linear-gradient(to right, #000, #333 2%, #333 98%, #000);
  }

  .place, .plac {
    color: lightskyblue;
  }

  .place:hover, .plac:hover {
    background-color: darkslategray;
  }

  .exergue {
    color: lightgrey;
  }

  .abstract, .abstract2 {
    background-color: #2f3032;
  }

  code, pre {
    background-color: #2f3032;
  }
}

@media print {
  * {
    display: none
  }

  *:after {
    content: "Do not print"
  }
}

.indexed li p, .multilang p {
  margin: 0;
}

.hidden {
  display: none;
}

li.visible {
  display: list-item;
}

p.visible {
  display: block;
}

span.visible {
  display: inline;
}
