table tbody {
  max-height: 80vh
}

table {
  border-collapse: collapse;
  border: none
}

table tbody tr, table thead {
  display: table;
  table-layout: fixed;
  width: 100%
}

table tbody {
  box-shadow: inset 0 .3em 1em 0 rgba(0, 0, 1, .21);
  display: block;
  overflow-y: auto;
  overflow-x: hidden
}

table.no-border {
  border: none;

  tbody {
    box-shadow: none;
  }

  td {
    border: none;
  }
}

.scrollable table {
  width: 200%;
}

td, th {
  width: auto;
  padding: .4em .7em;
  border: 1px solid #d3d3d3
}

th {
  background-color: rgba(109, 110, 120, .1);
  color: #666;
  text-align: left
}

.image-container td, .left td, .left .side td, .right td, .right .side td {
  height: 100%
}
