<!--#include virtual="/header-start.html" -->
<title>Neil A. Armstrong</title>
<!--#include virtual="/header-end.html" -->
<figure class="left side">
  <figcaption> Armstrong juste après sa 1<sup>ère</sup> marche sur la Lune.</figcaption>
  <img alt="Armstrong juste après sa première marche sur la Lune" src="portrait.jpg"/>
</figure>
<p>Armstrong naît à <span class="place">Wapakoneta (Ohio)</span> le <time>1930-08-05</time>. Il obtient un B.S. en
  ingéniérie aéronautique de l'<span class="place">Université de Purdue</span> en <time>1955</time>, Il est sélectionné
  dans le 2d groupe d'astronautres en <time>1962-09</time>. Il est pilote de doublure pour <a
      href="/org/us/nasa/projet/Gemini/Gemini5.html">Gemini 5</a>, pilote de commande pour <a
      href="/org/us/nasa/projet/Gemini">Gemini</a> 8, pilote de doublure pour <a href="/org/us/nasa/projet/Gemini">Gemini</a>
  11, et commandant doublure pour <a href="/org/us/nasa/projet/apollo/08">Apollo 8</a>.
</p>
<section>
  <h2>Apollo 11</h2>
  <p>Armstrong est commandant de <a href="/org/us/nasa/projet/apollo/11">Apollo 11</a>. Le <time>1969-07-21</time>,
    avant l'alunissage, il observe avec l'équipage un objet volant volumineux qui vogue dans la même direction que la
    capsule. Observé à travers un petit télescope, l'objet ressemble par moment à un cylindre creux et cabossé, mais en
    faisant bien le point, on distingue une forme en "L", <q>comme une valise ouverte</q> dira Armstrong. L'équipage
    pense qu'il s'agit de la fusée de lancement SIV-B, maintenant détachée, mais la base au sol annonce que la fusée en
    question se trouve à {{10000 | number}} km de là. L'un des enquêteurs suggérera que cet objet était peut-être un
    fragment du matériel d'isolation. Armstrong et <span class="people">Michael Collins</span> se posent en douceur sur
    la Lune tandis qu'<a href="../AldrinBuzz">Edwin Aldrin</a> reste en orbite basse et filme les faces visibles et
    cachées de notre satellite naturel.</p>
  <p>Les déclarations des 3 astronautes de la mission <a href="/org/us/nasa/projet/apollo/11">Apollo 11</a> sont claires
    : aucune trace de vie à la surface de la Lune. Cependant, la rumeur prétend également que les 3 astronautes furent
    constamment <q>surveillés</q> par des ovnis au cours de leur mission. Cette rumeur a pour origine la transcription
    d'une conversation radio entre l'équipage d'<a href="/org/us/nasa/projet/apollo/11">Apollo 11</a> et "<em>Mission
      Control</em>", la base terrestre de la <a href="/org/us/nasa">NASA</a>. Cependant, encore une fois, Armstrong,
    dément formellement toute observation anormale : <q>Excepté des objets d'origine naturelle, aucun fait bizarre n'a
      été signalé, trouvé, ou vu au cours de la mission <a href="/org/us/nasa/projet/apollo/11">Apollo 11</a>, ni
      d'ailleurs lors des missions ultérieures</q> <span class="source">Timothy Good.</span></p>
</section>
<p>En <time>1970</time> Armstrong obtient une maîtrise en ingéniérie aérospatiale de l'Université de Californie du Sud.
  En <time>1970-07</time> il devient Administrateur Adjoint de l'Association pour l'Aéronautique de la <a
      href="/org/us/nasa">NASA</a>, et prend sa retraite en <time>1971-08</time>.</p>
<p>Il meurt le <time>2012-08-25</time>.</p>
<p>
  <strong>Références</strong> :
</p>
<ul>
  <li><a href="https://perso.wanadoo.fr/max.q/apollo/Missions/as11.htm">Apollo 11</a> (maxQ)</li>
  <li>
    <a href="https://www.chucara.com/dossiers/espace/apollo11.html">Apollo 11</a> (Chucara) - Description des prétendues
    ovnis observés et conversations associées
  </li>
</ul>
<!--#include virtual="/footer.html" -->
