<!--#include virtual="/header-start.html" -->
<title>La rencontre de Fatima</title>
<!--#include virtual="/header-end.html" -->
<p>En <time>1915</time> (peut-être <time>1915-04</time>, Lucia ne se souvenant pas de la date exacte), Lucia dos Santos,
  8 ans, est en train de dire son chapelet près de <span class="place">Fatima (Portugal)</span> lorsqu'elle voit un <a
    href="../../meprise/nuage">nuage</a> blanc, translucide, et une forme humaine. Cela se reproduit une 2ᵉ fois, puis
  une 3ᵉ en <time>1915-10</time>.
</p>
<figure class="left side">
  <figcaption> Giacinta, Lucia et Francisco</figcaption>
  <img alt="Les 3 enfants de Fatima" src="fat24.jpg"/>
</figure>
<p>En <time>1916</time>, Lucia et ses 2 cousins, Francisco et Giacinta, aperçoit dans une grotte une figure lumineuse à
  l'apparence d'un garçon de 14 ans, qui se présente comme <q>l'ange de la paix</q>. Cette année-là, ils revoient la
  figure 2 autres fois <span class="source"><span class="people">Pinon, Gilles</span>:<em> Fatima, un ovni pas comme les
    autres</em>, Osmondes, 2002</span>.
</p>
<p>Le <time>1917-05-13 12:00</time>, toujours à Fatima, Lucia a 10 ans. Avec ses cousins Francisco (9 ans) et Giacinta
  (7 ans) Marto, frère et sœur, ils font paître leur troupeau de brebis après avoir assisté à la messe. Ils jouent à
  construire un mur autour d'un buisson quand leur attention est attirée par un phénomène lumineux, comme un globe
  brillant dans les airs. Ils redescendent alors vers leur ferme, et s'approchent d'une vaste dépression herbeuse
  appelée <em>Cova de Iria</em> <span class="note">Littéralement : la grotte de Sainte Irène,
  un ancien lieu sacré</span> pour voir ce qui se passe. Une lumière les englobe alors et les aveugle presque, mais leur
  permet de voir en son centre une petite femme en robe blanche. Elle leur parle en les rassurant et leur demande de
  revenir tous les mois au même endroit et à la même heure, pendant 6 mois.
</p>
<p>Le <time>1917-06-13 12:00</time>, une cinquantaine de personnes sont au rendez-vous à Fatima. Elles voient les petits
  bergers s'agenouiller soudain et devenir comme transfigurés. L'enfant la plus âgée, Lucia, parle à une entité
  invisible dont on n'entend pas les réponses. L'un des spectateurs déclare pourtant avoir perçu une voix très faible ou
  le bourdonnement d'une abeille. A la fin de ce dialogue, tous les témoins entendent une explosion et voient un petit
  <a href="../../meprise/nuage">nuage</a> qui s'éleve au voisinage d'un arbre.
</p>
<section>
  <h2>Prophéties</h2>
  <figure class="right side">
    <img alt="" src="fat25.jpg"/>
  </figure>
  <p>Le <time>1917-07-13 12:00</time>, le nombre des témoins est monté à 3000. On observe <q>un bourdonnement ou un
    ronflement, une diminution de la luminosité du Soleil et de sa chaleur, un petit <a
        href="../../meprise/nuage">nuage</a> blanchâtre autour de l'arbre des apparitions et un bruit puissant au départ
    de la Dame.</q></p>
  <figure class="left side">
    <figcaption> Les "<a href="../../indice/residu/filament">cheveux d'ange</a>" récupérés à Fatima</figcaption>
    <img alt="Les 'cheveux d'ange' récupérés à Fatima" src="Fatima.jpg"/>
  </figure>
  <p>Les enfants sont terrifiés par <q>une vision de l'enfer </q>et reçoivent une prophétie spécifique annonçant des
    apparitions de lumières inconnues dans le ciel :
  </p>
  <blockquote>
    <p>La guerre va prendre fin, mais si les peuples ne cessent pas d'offenser Dieu, il y aura une autre guerre plus
      terrible durant le règne de Pie 11 <span class="note">Il mourut en <time>1939</time></span>. <q>Quand vous verrez
        la nuit illuminée par une lumière inconnue, sachez que c'est le grand signe que Dieu vous donne qu'il va punir
        le monde pour ses crimes par le moyen de la guerre, de la famine et de la persécution de l'Eglise et du
        Saint-Père. Pour empêcher cela, je viendrai demander la consécration de la Russie... Si mes requêtes sont
        écoutées, la Russie sera convertie et il y aura la paix. Sinon, elle répandra ses erreurs sur le monde.</q></p>
  </blockquote>
  <p>L'apparition annonce qu'elle fera un miracle le <time>1917-10-13</time>.</p>
  <p>Le <time>1917-08-13 12:00</time>, {{18000 | number}} personnes sont sur les lieux de l'apparition, mais les enfants
    ne sont pas là. Ils ont été enlevés et jetés en prison par l'administrateur de l'arrondissement ayant décidé de
    mettre fin à ces <q>sottises</q>. En leur absence, on entend un coup de tonnerre suivi d'un éclair brillant. Un <a
        href="../../meprise/nuage">nuage</a> blanchâtre se forme autour de l'arbre.
  </p>
  <p>Il plane quelques mn, s'élève puis se dissipe. Les <a href="../../meprise/nuage">nuages</a> du ciel deviennent
    cramoisis puis passent au rose, au jaune et au bleu. Les témoins parleront de d'une <q>lumière colorée, comme un
      arc-en-ciel au sol</q>, <q>des <a href="../../meprise/nuage">nuages</a> autour du Soleil qui reflétaient diverses
      couleurs sur les gens.</q> Ils verront des <q><a href="../../indice/residu/filament">fleurs qui tombent</a></q>
    <span class="note">Le fameux phénomène des "<a href="../../indice/residu/filament">cheveux d'ange</a>"</span>. Un
    homme, Manuel Pedro Marto, déclarera sous serment, au cours de l'enquête canonique qui suivit, avoir vu un <q>globe
      lumineux tournant sur lui-même dans les <a href="../../meprise/nuage">nuages</a>.</q></p>
  <figure class="right side">
    <img alt="" src="fat26.jpg">
  </figure>
  <p>Le <time>1917-08-19</time>, les enfants, relâchés, gardent leurs moutons près d'Aljustrel quand ils voient l'éclair
    et une lueur brillante qui se fixe sur un arbre près d'eux. Au centre se dresse l'entité drappée de blanc et d'or.
  </p>
  <figure class="left side">
    <img alt="" src="fat27.jpg"/>
  </figure>
  <p>Le <time>1917-09-13 12:00</time>, la foule est de {{30000 | number}} personnes, y compris 2 prêtres parfaitement <a
    href="../../../analyse/scepticisme">sceptiques</a> venus spécialement pour établir la fausseté des prétendus
    "miracles". Le site des apparitions est un vaste amphithéâtre où la plus grande partie de la foule s'est installée
    pour être proche de l'arbre des apparitions. Cependant, les deux prêtres ont choisi un emplacement en un lieu plus
    élevé d'où ils peuvent tout voir. Le <a href="/place/systeme/solaire/Soleil">Soleil</a> devient alors moins intense
    bien qu'il n'y ait pas de <a href="../../meprise/nuage">nuages</a> dans le ciel. Des milliers de personnes : <q>La
      voilà... regardez !</q> Tous voient un globe de lumière descendant lentement la vallée, d'Est en Ouest, en
    direction des enfants. Il vient se poser sur l'arbre. Un <a href="../../meprise/nuage">nuage</a> blanc se forme et
    de brillants <q>pétales</q> blancs se mettent à tomber du ciel vide : <q>Comme les gens fixent ce spectacle étrange,
      ils remarquent bientôt que, contrairement aux lois de la perspective, ces globules luisants qui tombent deviennent
      de plus en plus petits quand ils s'approchent d'eux. Et quand ils tendent leurs mains et leurs chapeaux pour les
      saisir, ils s'aperçoivent que, d'une manière ou d'une autre, ils se sont volatilisés.</q> Les enfants voient à
    nouveau l'entité au centre du globe et le dialogue reprend entre <q>la Dame</q> et Lucia. La promesse d'un miracle
    pour le <time>1917-10-13</time> est renouvelée. Puis le globe lumineux s'élève et disparaît dans le <a
        href="/place/systeme/solaire/Soleil">Soleil</a>. Quand on demanda à l'un des prêtres de quelle nature lui
    paraissant le globe, celui-ci, très impressionné, dit qu'il pouvait s'agir d'un <q>véhicule céleste qui transportait
      la Mère de Dieu de son trône jusqu'au désert ici-bas.</q>
  </p>
  <figure class="right side">
    <figcaption> Une photo présentée comme <q>d'origine rigoureusement authentique</q> et dépeignant l'observation du
      <time>1917-10-13 12:30</time>, ou l'obscurcissement du soleil aurait été causé par <q>sa rotation très
        rapide</q><span class="source"> "Il prodigio di  Fatima", l'<em>Osservatore Romano</em>, 18 novembre 1951 < "Vatican Paper Publishes Photo in Proof of Fatima Miracle", <em>Life
        magazine, </em>3 décembre 1951, p. 45</span>, mais en fait prise le <time>1921-05-13</time> à 1 h du crépuscule
      <span class="source">Da Fonseca, Luis Gonzaga: <em>Le meraviglie di Fatima</em>, Edizioni Paoline,  1932</span>.
      La nature de cette photo sera également contestée, présentée plutôt comme une reconstitution artistique.
    </figcaption>
    <img
        alt="Une photo souvent présentée comme représentant l'observation du 13 octobre 1917 l'Osservatore Romano, 1951, mais en fait prise en 1921 Da Fonseca, Luis Gonzaga: Le meraviglie di Fatima, Edizioni Paoline, 1932. La nature de cette photo sera également contestée, présentée plutôt comme une reconstitution artistique."
        src="Fat12.jpg"/>
  </figure>
  <p>Le <time>1917-10-13 12:00</time>, devant une foule de {{70000 | number}} personnes malgré une forte pluie, les
    enfants entrent en communication avec <q>la Dame</q>. Les témoins observent le grand changement intervenant sur les
    visages des 3 enfants, transfigurés par la vision. Le miracle annoncé a lieu au départ de la Dame de la <em>Cova da
      Iria</em>. La pluie qui n'a cessé de tomber sur la foule s'arrête soudain, et les lourds <a
        href="../../meprise/nuage">nuages</a> s'écartent. Le <a href="/place/systeme/solaire/Soleil">Soleil</a> apparaît
    comme un disque d'argent brillant, <q>un disque fantastique qui tourne rapidement sur son axe et lance des faisceaux
      de lumières colorées dans toutes les directions. Des rayons de lumière rouge fusèrent du bord du <a
          href="/place/systeme/solaire/Soleil">Soleil</a> et colorèrent les <a href="../../meprise/nuage">nuages</a>, la
      terre, les arbres, les gens ; puis des rayons violets, bleus, jaunes et d'autres couleurs se succèdèrent.</q> Ces
    couleurs ont été décrites par un <a href="../../../analyse/scepticisme">sceptique</a> objectif comme des <q>secteurs
      monochromatiques</q> qui tournoyaient sans arrêt. Les rapports parlent d'un disque plat plutôt que d'un globe.
    Après un certain temps, il arrête sa rotation et <q>plongea vers le bas en zigzag — comme une feuille morte — vers
      la terre et les spectateurs horrifiés</q>. La plupart des observateurs croient alors que leur dernière heure est
    arrivée. Nombre d'entre eux, dont des détracteurs, s'agenouillent dans la boue et se mettent à se confesser
    publiquement. Finalement, le disque inverse son mouvement et disparaît vers le <a
        href="/place/systeme/solaire/Soleil">Soleil</a>, le vrai, à nouveau fixe et ébouissant dans le ciel. La foule
    boulversée se rend soudain compte que ses vêtements sont parfaitement secs. Etayant notamment cette version des
    faits est le témoignage du Dr. Almeida Garrett de l'<span class="place">Université de Coimbra</span>, décrivant la
    rotation très rapide d'un objet et contestant les explications de <a href="/place/systeme/solaire/Soleil">Soleil</a>
    vu à travers la brume ou un brouillard <span class="source">Martindale, C. C.: <em>The Meaning of
      Fatima</em>, S. J., P. J. Kenedy & Sons, New York, 1950</span>.
  </p>
  <figure class="left side">
    <figcaption> Lucia et le pape Jean-Paul II</figcaption>
    <img alt="Lucia et le pape Jean-Paul II" src="fat40001.jpg"/>
  </figure>
  <p>En <time>1918</time> Après les apparitions à Fatima l'année précédente, les résultats spirituels sont importants,
    malgré les efforts des autorités portugaises pour les minimiser et les déconsidérer. Les conversions et le retour à
    la pratique religieuse ont pris une dimension telle que le régime portugais, très anti-religieux, évolue rapidement
    et rétablit ses relations diplomatiques avec le Saint-Siège au Vatican.
  </p>
  <p>En <time>1919</time>, Francisco Marto, l'un des 3 petits bergers témoins de l'observation à Fatima en
    <time>1917</time>, meurt de la grippe espagnole.
  </p>
  <p>En <time>1920</time>, Giacinta Marto meurt de pleurésie.</p>
  <p>En <time>1941</time>, Lucia révèle les 2 premières parties de la prophétie de <time>1917-07</time>. Après qu'elle
    ait eu la confirmation que <q>Dieu voulait que la 3ᵉ partie du secret soit écrite maintenant</q>, et se sentant
    mourir, Lucia la couche sur papier entre le <time>1944-01-02/1944-01-09</time>, sous l'obédience de son évèque. Le
    Pape et l'évèque de Leira peuvent le lire immédiatement, mais le monde doit attendre l'an <time>2000</time>.
  </p>
  <p>Cette année-là au Vatican, le Secrétaire d'Etat aux Pélerins du Pape livre le contenu du 3<sup>ème</sup> secret
    impliquant <q>martyr et souffrance</q>, parlant d'un <q>homme habillé de blanc tombant au sol, apparemment mort,
      sous un éclat de tir</q>. Le Cardinal Angelo Sodano ajoute que le secret entier, semblant à l'évidence dépeindre
    l'assassinat manqué de Jean-Paul 2 en <time>1981</time> (après lequel ce dernier aurait eut une passion pour
    Fatima), sera rendu public après une préparation <q>appropriée</q> pour les fidèles. En cette même occasion sont
    béatifiés 2 des enfants décédés très tôt.
  </p>
</section>
<span class="source"><a
    href="https://www.vatican.va/roman_curia/congregations/cfaith/documents/rc_con_cfaith_doc_20000626_message-fatima_fr.html">Le
    message de Fatima</a>, Vatican</span> <span class="source"><span class="people">Hallet, Marc</span>:<em> Que penser
  des apparitions de la Vierge ?, </em>Favre, 1985</span>
<span class="source">"<a href="https://news.bbc.co.uk/1/hi/world/europe/747312.stm">Fatima's 'third secret'
    revealed</a>", <em>BBC News</em>, 13 mai 2000</span>
<span class="source"><span class="people">Meessen, Auguste</span>: "<a
    href="https://www.meessen.net/AMeessen/MirSun.pdf">Apparitions
    and Miracles of the
    Sun</a>", International Forum in Porto "Science, Religion and Conscience" 23-25 octobre 2003</span>
<!--#include virtual="/footer.html" -->
