<!--#include virtual="/header-start.html" -->
<title>L'affaire d'Haravilliers</title>
<!--#include virtual="/header-end.html" -->
<p>Monsieur D. est retraité d'un poste d'encadrement dans la construction d'installation de haute sécurité (comme celle
  de <a href="/org/eu/fr/dn/base/Taverny">Taverny</a>). De belle stature, élégant, c'est un grand-père qui vit
  simplement et confortablement, aux petits soins de ses petits enfants et de sa famille. Homme simple et discret, peu
  bavard, il est d'un naturel un peu solitaire, et ne se sent pas un grand besoin de communiquer. Il n'est pas lecteur
  de revues ufologiques et considère le phénomène, qu'il connait par "on-dit" — 2 personnes de sa famille en ont été
  témoins — avec une certaine distance. Il ne s'est jamais impliqué dans une recherche ou activité quelconque concernant
  ces manifestations.
</p>
<p>Monsieur D. présente également plusieurs anomalies sanguines, mais qui semblent remonter à son adolescence, pour le
  moins, et qui ont été identifiées vers l'âge de 20 ans. Le nombre de ses globules blancs ne semble jamais inférieur à
  {{18000|number}}, ce qui est un nombre élevé. De plus, il présente une "polyglobulie vraie". Cet état de fait ne
  semble pas avoir eu de conséquences sur une santé qui semble assez florissante. Il n'exclut pas avoir subi dans sa
  jeunesse un premier contact, mais n'en n'a aucun souvenir, et cela lui semble peu probable.
</p>
<p>Monsieur D., en dehors de la sensation qu'il a depuis toujours d'être "différent" et en attente d'un événement
  particulier, a aussi depuis longtemps la conviction d'avoir vécu 2 vies antérieures. L'une dans un pays riverain de la
  Méditerranée, et l'autre dans un petit village du centre de la France (qu'il a localisé sur une carte), cette dernière
  vie s'étant matérialisée dans une espèce de petit manoir en mauvais état, souvent bordé par les brumes d'une petite
  rivière. Il n'est jamais allé dans ce village, mais compte s'y rendre. Il pense y avoir vécu vers <time>1830</time>.
</p>
<section>
  <h2>Observation</h2>
  <figure class="right side">
    <figcaption> L'ovni (en rouge) et les témoins (en bleu) se dirigent l'un vers l'autre</figcaption>
    <img src="Haravilliers_carte_800.jpg" alt="Le trajet des témoins près d'Haravilliers"/>
  </figure>
  <p>Monsieur D. est convié à un rendez-vous de chasse sur le parking de <em><span class="place"
      title="Le Ruel, Val d'Oise">La guibarderie</span></em>, dans le hameau nommé <em>Le Ruel</em>, près de la commune
    d'Haravilliers (canton de Marines, Val d'Oise), le <time>1998-01-10</time>, au petit matin.
  </p>
  <section>
    <h3>Au parking</h3>
    <p>Il fait encore nuit. L'ami qu'ils doivent rejoindre au point de rendez-vous circule à bord d'une Mercedes
      turbo-diesel blanche. Il arrive bientôt sur le parking (hauteur flèche rouge), où il se gare. Il voit alors
      l'objet le survoler. La Mercedes est littéralement baignée par une multitude de faisceaux des 3 mêmes couleurs. En
      vol stationnaire au-dessus de lui, l'objet fait des effets de lumières, et des "flaques" de couleur glissent sur
      ses vêtements, à travers son toit ouvrant transparent. Le témoin ressent que ces sources lumineuses font partie du
      système de propulsion du phénomène.
    </p>
    <p>Vers le centre, une espèce de tourelle octogonale renversée semble ressortir d'environ 1 m du "vaisseau". Toute
      la structure de la chose apparaît maintenant avec une grande netteté, malgré la nuit encore présente. Au centre de
      cet octogone d'un gris un peu plus clair, une grande zone creuse, circulaire, d'un diamètre de 6 m environ. Malgré
      son emplacement, le témoin est sûr que ce n'est pas une tuyère : non, cette excavation parfaitement circulaire,
      dans laquelle il ne voit rien, c'est une sorte de porte, il en est sûr.
    </p>
    <figure class="left side">
      <figcaption><time>1998-01-10 07:20</time></figcaption>
      <img alt="1998-01-10 07:20" height="460" src="Haravilliers_1.jpg"/>
    </figure>
    <p>Il est <time>1998-01-10 07:20</time> . Le témoin ressent que ces "trous" sont le siège de puissants projecteurs.
      Isolé dans sa Mercedes, il les voit converger sur sa voiture - à propos de ce témoignage nous ne connaissons que
      par la voix du témoin principal.
    </p>
    <p>Puis l'objet se dirige vers le vallon. Le témoin a l'impression que l'objet va s'écraser, et il perd conscience.
    </p>
  </section>
  <section>
    <h3>Croisement</h3>
    <p>Pendant ce temps, arrivent doucement par la rue des terres Saint Denis :</p>
    <ul>
      <li>la Peugeot 306 gris métallisé à essence de monsieur D. et ses 4 occupants. Quelque chose frappe leur esprit :
        c'est la qualité de la <a href="/science/discipline/hard/nat/univ/meteo">météorologie</a> locale. L'air est
        lumineux, le ciel apparaît pur et étoilé. Pas un soupçon de brume nulle part.
      </li>
      <li>derrière eux, une Xantia conduite par 1 personne seule, également conviée au rendez-vous, accompagnée de son
        chien.
      </li>
    </ul>
    <p>Les voitures arrivent au niveau du carrefour avec le CD 188 et continuent leur route vers le lieu de rendez-vous,
      direction Nord-Ouest. Après quelques tours de roue dans cette direction, face aux voitures, au loin, une zone
      illuminée apparaît au-dessus de l'horizon. C'est un spectacle tellement insolite et merveilleux que tous ne disent
      rien, regardent cette débauche de lumière, droit devant eux. Monsieur D. éprouve une curieuse impression : il se
      sent concerné par cette chose, il ressent ce phénomène comme lui étant, d'une manière inexplicable, destiné. Il se
      dirige vers cette chose invraisemblable, énorme et immobile qui se trouve devant eux. Et il commence à pouvoir
      détailler avec grande précision : les couleurs émises, la forme des projecteurs, qu'il assimile à de puissantes
      rampes d'éclairage, <q>environ 5 m sur 3</q>, comme on en voit dans les stades, mais colorés : vert, rouge et
      jaune. Il va bientôt passer sous cette chose, c'est une certitude. Sans savoir pourquoi, monsieur D. ne stoppe pas
      son véhicule et continue à rouler à la rencontre de l'<q>objet</q>. Arrivant en bordure du "disque", il peut le
      détailler avec plus de précisions, par le côté gauche de sa voiture. Celui-ci, de 45 m de diamètre environ, est
      toujours immobile. Le moteur de la voiture ne s'arrête pas.
    </p>
    <figure class="right side">
      <figcaption><time>1998-01-10 07:30</time></figcaption>
      <img alt="1998-01-10 07:30" height="461" src="Haravilliers_2.jpg"/>
    </figure>
    <p>L'engin lui donne l'impression semble d'avoir une masse de plusieurs milliers de tonnes. Il ressent aussi que
      cette "chose" est littéralement à l'arrêt (hauteur flêche bleue), et que toute son énergie est au minimum, juste
      de quoi le maintenir en état stationnaire. Un bref instant, un flot de sensations aiguës traverse l'esprit du
      témoin : il ressent comme un sentiment de tristesse dans l'environnement de cet étrange objet tout grisâtre. La
      chose se trouve à moins de 10 m du sol - <q>3 étages d'immeuble</q>, selon le témoin. Il a l'étrange sensation que
      son cerveau <q>se vide</q> ; plus de pensée, plus de réflexe, il se décrit comme une coquille vide.
    </p>
    <p>Une sorte de curiosité irrésistible et incontrôlée le pousse à baisser la vitre de son véhicule, côté conducteur,
      pour mieux voir le dessous de la chose qui, bien que totalement dépourvu d'éclairage à ce moment - en dehors
      peut-être du reflet de lampadaires espacés encore allumés le long de la route - lui apparaît alors avec une foule
      de détails d'une netteté parfaite, comme si le phénomène était légèrement éclairé de l'extérieur, suffisamment
      pour que l'on puisse tout voir. Comme 2 autres témoins du véhicule, il voit une forme ronde. Se penchant par la
      vitre ouverte, il voit par le dessous une forme plate et grise, régulièrement parsemée d'espèces d'ouvertures
      sombres d'un mètre de diamètre.
    </p>
    <p>Aucun bruit n'est perceptible, aucune vibration de l'air. Un calme extraordinaire : le témoin n'entend même plus
      toumer le moteur de sa voiture. Plus que jamais, il ressent ce sentiment de tristesse qui semble habiter cette
      chose et son environnement immédiat. La voiture roule toujours, lentement, tous phares allumés, il ne se passe
      rien.
    </p>
    <p>C'est à ce moment que les 4 occupants de la voiture, alors que le bord du disque volant est à l'aplomb de leur
      véhicule, voient leur conscience anesthésiée. Personne, mais vraiment personne ne se souvient plus de rien .
    </p>
  </section>
  <section>
    <h3>Temps manquant</h3>
    <p>A un moment, le témoin reprend conscience. Que s'est-il passé ? Où est-il ? 3 minutes se sont écoulées environ.
      Il ne se souvient de rien. Il a le sentiment que 3 mn ont passé, mais pas de preuve. Le témoin sait maintenant où
      il se trouve, il connaît parfaitement cet itinéraire, il connaît parfaitement les distances, et cela le conduit à
      cette évaluation de cette période de <em><a href="/science/crypto/ufo/observation/scenario/MissingTime.html">missing
        time</a></em> : il se trouve au débouché du fameux parking où il a rendez-vous avec son ami. La voiture est bien
      en ligne sur le chemin, le moteur tourne, la chose a complètement disparu. Les 4 occupants ont repris leur
      conscience : une distance de 1,2 km a été parcourue par leur voiture. Comment ? Mystère. Incompréhension totale,
      encore à ce jour. Une seule certitude alors s'impose pour le témoin : il n'était plus en état de conduire sa
      voiture, il avait perdu sa conscience, il avait été vidé de tout. Mais que s'est-il donc passé ?
    </p>
    <p>La voiture finit donc par s'engager sur le fameux parking du rendez-vous, cette fois le pilote de la voiture
      conduit en toute conscience. Sur le parking, la Mercedes de leur ami attend sagement. Rapidement, leur ami leur
      décrira la chose incroyable qui l'a survolé. Lui a eu droit à tout l'attirail lumineux du phénomène : description
      identique, altitude estimée par recoupement avec la hauteur des arbres au niveau de ce 2ᵉ survol : environ 20 m.
      Les faisceaux lumineux en dessous convergeaient sur le sol, baignaient même complètement sa voiture, et la voiture
      a ainsi été un instant éclairée par les 3 couleurs en même temps, (ce qui est une bonne indication sur le fait que
      ces lumières ne semblaient pas ou peu miscibles entre elles). Ce témoin ne ressentit aucune des émotions
      enregistrées par monsieur D. Son cerveau ne fut traversé apparemment par aucune pensée particulière, l'impression
      de monsieur D. est que son ami fut survolé "par accident" : il n'était pas concerné par les intentions du
      phénomène (ce témoin n'a pas été encore interrogé).
    </p>
    <p>Les 6 amis retrouvent vite les 25 autres personnes avec lesquelles ils ont rendez-vous. Apparemment, aucune
      d'entre elles n'a quoi que ce soit à dire sur ce qui s'est passé.
    </p>
    <p>Ont-ils vu des choses ? Le saura-t-on jamais ? Ce qui est certain, c'est que tous se retrouvent, norrnalement
      pour ainsi dire. Monsieur D. ne va réellement sortir de son brouillard mental que vers <time>09:15</time> . Mais
      pourquoi, pourquoi n'a-t-il pas eu l'idée de s'arrêter, se reproche-t-il en lui-même, pour mieux observer le
      phénomène. Vers <time>1998-01-10 12:00</time> , tous les participants à ce rendez-vous de chasse prennent une
      collation apportée par un traiteur. Les conversations vont bon train sur les sujets habituels, mais personne
      n'évoque la vision du matin. Sur le moment, tout se passe comme si les témoins avaient oublié ce qu'ils ont vu, et
      de cela, parmi bien d'autres choses, notre témoin n'est pas encore revenu. Ainsi se déroule la journée du <time>1998-01-10</time>
      , pour la suite des événements : une partie de chasse entre amis, comme bien d'autres fois par le passé.
    </p>
    <p> Le lendemain, monsieur D. se dit <q>J'étais dans un monde qui n'était pas le mien.</q> Pendant de nombreux
      jours, personne ne parle de ce qu'il a vu, parmi les 5 témoins recensés. Monsieur D. va mettre près de 1 mois
      avant de ressentir le besoin de comprendre ce qui lui est arrivé.
    </p>
  </section>
</section>
<section>
  <h2>Signalement</h2>
  <p>Pour monsieur D., l'événement vécu est tellement fort que le garder en soi est très éprouvant. En parler à
    n'importe qui l'est tout autant, mais il tente tout de même d'en faire l'expérience, également conscient que son
    témoignage peut servir la cause de la science, ainsi que la compréhension de ces phénomènes encore inexpliqués.
  </p>
  <p>Monsieur D. se procure donc une revue spécialisée sur les ovnis, dans laquelle il trouve les coordonnées de la <a
    href="/org/eu/fr/asso/BanqueOvni">Banque Internationale de données ufologiques</a>. Il téléphone à
    l'association, qui demande par la suite à <span class="people">Gérard Deforge</span>, un de ses membres, d'aller
    recueillir le témoignage. Ce dernier conclut un accord avec le témoin : les noms ne seront pas divulgsué - ce sont
    tous d'ailleurs des personnes à haute responsabilité, dans leur activité professionnelle - et Deforge publiera
    l'entretien sous son nom.
  </p>
  <section>
    <h3>Entretien</h3>
    <p>Le <time>1998-03-05</time> après-midi, <span class="people">Deforge</span> et monsieur D. s'entretiennent chez ce
      dernier, durant 5 heures. Deforge peut constater la présence d'une tache brune sur le témoin, sur 10 cm2 environ.
    </p>
    <p> Monsieur D. dit ne pas comprendre ce qui lui arrive. Au bout d'un très long moment d'hésitation, il dit être
      déstabilisé, lui qui était pétri de rationalité et de certitudes techniques. Regardant <span class="people">Deforge</span>
      avec une espèce d'angoisse au cœur, il déclare : <q> Ils sont impolis, mais pas trop méchants.</q> Cette phrase
      étrange devient plus claire lorsque monsieur D. dévoile certaines suites de son observation.
    </p>
    <section>
      <h4>Pensées</h4>
      <p>En effet, par moments, et à n'importe quel moment, que ce soit jour ou la nuit, lui viennent des pensées qui ne
        sont les siennes. <q>Peut-être au rythme des approches ou de l'éloignement de la chose</q>, dit-il. Une chose
        qui, d'une certaine manière, <q> demeure en contact </q>avec lui et qui, selon lui, <q> n'est venue de nulle
          part et retourne au néant</q>, comme elle est venue, et comme elle le décide, selon des lois qui nous sont
        incompréhensibles. Les pensées qu'il reçoit sont comme <q>des infos flash de télévision</q>, venant sans
        prévenir, et s'en allant de même. Ces idées sont de tous ordres : des messages sur l'avenir de l'humanité - pas
        très réjouissant : <q> une catastrophe nous menacerait, la rencontre avec un gros astéroïde peut-être</q>, et
        des bribes d'informations scientifiques : Il demande à Deforge <q> Connaissez-vous les tachions ? Je n'ai jamais
          entendu parler de cela, je n'ai même pas eu l'idée d'aller regarder dans une encyclopédie pour voir si ça
          existe</q>. Deforge lui répond qu'il est loin d'être un spécialiste, mais qu'il lui semble se souvenir, au
        minimum, que les tachions sont des particules subatomiques mises assez récemment en évidence dans les
        cyclotrons, mais qu'il ne se souvient pas de leurs caractéristiques précises.<q> Et bien, il semblerait que les
          tachions, ce seraient des particules, effectivement, mais dont une caractéristique essentielle est qu'elles
          sont capables de se mouvoir à une vitesse supérieure à celle de la lumière</q>.
      </p>
      <p>Et monsieur D. de livre d'autre de ces idées qu'il reçoit : <q>L'univers serait vraiment habité en toute chose
        par une logique binaire. Chacune régie par le plus ou le moins. Par exemple, ce que j'ai vu, ce phénomène, je le
        ressens comme une expression d'une entité négative : lumières froides, tristesse, couleur sombre du vaisseau,
        silences. </q> Ce vaisseau justement, <q> reparlons en : au moment où il m'a survolé, et où il m'a volé ces 3 mn
        qui manquent dans mon emploi du temps, dans ma vie. Ils m'ont implanté une espèce de micro-puce électronique
        dans le cerveau, dont j'identifie clairement aujourd'hui la fonction. Je viens d'avoir seulement ces derniers
        jours cette certitude, je cherchais une explication à tout ce qui m'arrive, c'est la seule explication qui
        s'impose à moi. Alors cette fonction, c'est de servir de relais entre eux et moi, c'est un système qui leur
        permet de m'injecter des pensées qui n'ont jamais été les miennes. Et c'est pour cela que je les trouve...
        impolis ! Mais pas trop méchants. Par ce que s'ils avaient été méchants, ils pouvaient sur l'instant faire tout
        ce qu'ils voulaient de nous, ils étaient la Force, et ils nous avaient paralysés. </q></p>
      <figure class="right side">
        <figcaption> La tête du personnage remémoré par monsieur D.</figcaption>
        <img alt="La tête du personnage remémoré par monsieur D." height="190" src="Hara12.jpg" width="154"/>
      </figure>
      <blockquote>
        <p>
          Autre chose sur ce vaisseau : dans les pensées et images qui s'imposent à moi, il y a une sorte de visage, qui
          semble comme incrusté en moi, d'une manière presque obsédante. C'est une forme, une espèce de heaume de
          chevalier, et je l'ai représentée pour vous. Je vous donne aussi ce dessin, avec les précisions qui s'imposent
          à moi. Ces entités étaient peut-être dans le vaisseau. Je les vois ainsi. Peut-être aurai-je la force un jour
          de donner mon accord à des spécialistes en qui j'aurai entière confiance, pour procéder à une régression
          hypnotique qui pourrait m'aider à retrouver à ce que j'ai vécu pendant ces 3 mn. Voyez-vous, pour moi, ces
          entités cuirassées étaient elles-mêmes dépourvue de pensée, de vie : elles étaient manipulées pour faire un
          certain travail. Les orbites, je les vois vides. Ce visage, je le vois très sombre aussi, comme le reste. Tout
          est métal, artificiel et sans âme ni conscience. Ce qui me frappe le plus, c'est cette espèce de rangée de
          dents. Mais ce ne sont pas des dents. Ce sont des plaques régulièrement séparées par un mince sillon, avec un
          séparateur horizontal. C'est un appareil, il est très blanc. Un appareil pour communiquer, des sons peut-être,
          des ondes, je ne sais pas. C'est quelque chose qui peut vibrer pour émettre, pour communiquer. Cette vision de
          cette rangée largement déployée me met très mal à l'aise, c'est tout ce que je peux dire. J'aurais voulu voir
          le démarrage de cet engin, la mise en œuvre de sa redoutable puissance, une énergie formidable.
        </p>
        <p> Donc, au bout d'un mois, j'ai commencé à me ressaisir. J'ai voulu procéder à beaucoup de vérifications.
          D'abord, j'ai voulu dessiner ce que j'avais vu. Je suis très exigeant avec moi-même. Je n'étais jamais
          satisfait de mes représentations. Alors j'ai regardé dans les pages jaunes de l'annuaire les coordonnées
          d'artistes dessinateurs, dans la région, sur Grisy-les-Plâtres. J'ai téléphoné à Grisy-les-Plâtres : l'artiste
          ne m'a visiblement pas pris au sérieux.
        </p>
      </blockquote>
      <p>L'artiste contacté, un affichiste de renommée mondiale dont on conservera l'anonymat, est effectivement dans
        les "pages jaunes". Il se trouve que c'est un artiste connu de Deforge, dont les parents sont amis depuis 50
        ans. Deforge a téléphoné au couple d'artistes : l'épouse se souvient vaguement de ce coup de téléphone. Son
        artiste de mari s'en souvient moins précisément : il reçoit souvent des demandes spontanées par téléphone,
        auxquelles il répond systématiquement par la négative. Ses œuvres ont une grande valeur marchande, c'est son
        gagne-pain. Il ne dessine et peint que ce qu'il juge rentrer dans ses compétences, et selon ses propres choix
        exclusivement.
      </p>
      <blockquote>
        <p>
          Alors j'ai bien compris que personne ne me prendrait au sérieux, je décidai de tout faire pour élucider au
          mieux cette rencontre, tout seul. Il fallait absolument que je représente ce que j'avais vu, j'avais tous les
          détails imprimés dans la tête. Je décidai de prendre des cours intensifs de dessin, jusqu'à ce que je sois
          satisfait de mes représentations. Je vous donnerai tout à l'heure le résultat de ce travail - simplement, sur
          le document 1, où mon véhicule est représenté correctement à l'échelle, l'engin dont les projecteurs
          inférieurs sont éteints, est représenté un peu haut. Cela permet de représenter tous les détails nécessaires.
          La vérité, sur ce cliché, c'est que le phénomène, à ce moment, était vraiment à une petite dizaine de mètres
          d'altitude, pas plus, comme je l'ai déjà dit tout à l'heure.
        </p>
        <p>
          Je ne me suis pas contenté de ce travail : j'ai acheté des revues spécialisées. C'est d'ailleurs comme cela
          que je suis rentré en contact avec votre organisme. J'ai fait un certain nombre d'autres vérifications. J'ai
          téléphoné à la gendarmerie de Marines, à la tour de contrôle de l'aérodrome de Cormeilles en vexin, à la
          gendarmerie de Pontoise, à celle d'Auvers-sur-Oise, à la Mairie de Grisy, à celle de Haravilliers. Personne
          n'a rien vu, n'a entendu parler de quoi que ce soit, à ce que l'on m'a dit.
        </p>
        <p>Cependant une anecdote,... (en cours de vérification, tous ces points, par l'enquêteur).<q> Donc voici
          l'anecdote : Dans la représentation de la trajectoire de l'engin, je me suis aperçu que celui-ci avait survolé
          la maison du Maire de Haravilliers. J'ai interrogé le Maire de Haravilliers, et voilà ce qu'il m'a dit : </q>
        </p>
        <p>J'ai une habitude à laquelle je ne déroge jamais : je suis un lève-tôt, vraiment. A <time>06:00</time> ,
          c'est certain, je suis déjà debout, tous les jours, sans exception. Et bien ce 10 janvier, je ne sais pas ce
          qui m'est arrivé, mais j'ai dormi comme un loir. Et ce n'était vraiment pas le jour, j'avais en effet une
          importante réunion en mairie ce matin-là, j'ai bien failli être en retard. Voilà ce qui m'est arrivé.
        </p>
        <p> J'ai aussi pris d'autres initiatives : je ne sais pas pourquoi, plus que jamais, je me suis posé encore
          plein de questions sur <a href="../Cergy">l'affaire Franck Fontaine</a>, qui avait défrayé la chronique en son
          temps, affaire qui m'avait beaucoup intéressée. Après les événements du 10 janvier, j'ai éprouvé le désir
          d'aller à Saint Ouen l'Aumône, pour rencontrer des gens qui connaissaient <a href="../Cergy">Franck
            Fontaine</a>, je voulais avoir de ses nouvelles, essayer d'avoir peut-être de nouvelles informations sur
          cette incroyable histoire, qui m'a toujours laissé perplexe. Eh bien, croyez-moi ou non, savez-vous quelle est
          la personne avec laquelle j'ai commencé à bavarder quand je suis arrivé à Saint Ouen l'Aumône ? Eh bien, le
          propre père de <a href="../Cergy">Franck Fontaine</a>. Il paraît complètement démoli cet homme. Il n'a même
          plus de nouvelles de son fils. Ce sont des gens brisés apparemment. J'ai trouvé cette rencontre bien curieuse.
        </p>
        <p> Je ne peux guère vous dire plus, vous en savez presque autant que moi maintenant. Je vais partir en
          vacances. Il faut que je me repose. Je suis d'accord pour que nous nous revoyions au mois de mai. Je
          corrigerai votre rapport. Je comprends que vous souhaitez vérifier un certain nombre de choses. Ce n'est
          certes pas une histoire ordinaire. Je pense que les autres témoins ne feront pas de difficultés pour vous
          rencontrer. Mais je vous en prie, respectez scrupuleusement notre anonymat. Je vis tranquille, je veux que
          l'on me laisse tranquille. Si je ne reste pas anonyme, on ne me laissera pas tranquille, c'est impossible.
        </p>
      </blockquote>
    </section>
  </section>
</section>
<section>
  <h2>Séquelles</h2>
  <section>
    <h3>Implants</h3>
    <figure class="right side">
      <figcaption> Le certificat médical délivré par l'opthalmologiste</figcaption>
      <img alt="Le certificat médical délivré par l'opthalmologiste" height="567" src="Hara01.jpg" width="400"/>
    </figure>
    <p>Persuadé qu'il est encore quelque part sous contrôle, monsieur D. cherche à localiser l'endroit de son corps où
      il resterait <q>une pile</q> ou une sorte de puce informatique. Vers la mi- <time>1998-03</time> , il observe 2
      taches bleues sur la face interne de son gros orteil gauche (montrées à Deforge et sa femme, alors qu'ils sont
      invités chez lui), et demande à un radiologue d'investiguer. Ce dernier émet l'hypothèse d'une petite excroissance
      osseuse. Monsieur D. demeure vigilant et sceptique, à propos de cette nouvelle chose.
    </p>
  </section>
  <section>
    <h3>Keratoconjonctivite</h3>
    <p>Dans les jours qui suivent son observation, monsieur D. ressent également de profondes irritations aux yeux. Il a
      une sensation de brûlure, très invalidante. Le 23 mars, il consulte un ophtalmologiste. Après examen, ce dernier
      lui apprend qu'il a été brûlé aux yeux. Le praticien posant des questions sur les circonstances d'un tel
      "accident", monsieur D - n'osant parler de son aventure - évoque la proximité d'un appareil rayonnant lié à son
      travail. Le docteur lui recommande alors chaudement de dire à son patron de ne plus l'exposer à de telles
      radiations. Monsieur D. suggére qu'il ne travaille plus, et que le "bombardement" dont il a été l'objet a une
      autre source. Voyant que le praticien commence à le regarder d'une drôle de manière, monsieur D. n'insiste pas et
      repart avec un traitement à base de collyre à la cortisone. Ce qui est étonnant pour un tel diagnostic de
      kerato-conjonctivite, c'est que sa vue ne semble pas affectée. Le 8 avril, monsieur D. demande et obtient un
      certificat médial de la part du praticien.
    </p>
  </section>
  <section>
    <h3>Tache</h3>
    <p>En même temps que la brûlure aux yeux se produit un autre effet physique : une sorte de tache brune apparaît, en
      haut de sa pommette gauche (monsieur D. pense tout de suite pensé que s'il n'avait pas passé sa tête penchée vers
      l'extérieur de la portière pour mieux voir "la chose", il n'aurait pas été brûlé. Il pense fermement qu'il est le
      seul à subir ces dommages parce que les autres personnes ont bénéficié de l'effet "cage de Faraday" des
      véhicules). Cette tache n'apporte ni douleur ni gêne, et se résorbe lentement.
    </p>
    <p>Les effets physiques se sont lentement accompagnés d'autres conséquences qui troublent profondément notre témoin.
      Ces conséquences sont d'ordre psychologiques et intellectuelles.
    </p>
    <p>Il semblerait que les messages télépathiques que monsieur D. reçoit lui fournissent quelques précisions sur ses
      vies antérieures. Mais M.D. ne veut pas s'exprimer sur ce sujet.
    </p>
    <p> M.D. semble avoir une capacité de force et de résistance physiques en rapport avec ce que l'on se plaît à
      imaginer chez un militaire ayant accompli de difficiles missions de terrain, avec en plus des tâches de
      commandement. Aujourd'hui encore, à l'âge de 62 ans, c'est un homme qui est capable d'accomplir des efforts
      manuels de longue haleine, et qui semblent même provoquer l'étonnement de certains de ses amis pourtant très
      sportifs. Son apparence actuelle est très harmonieuse et très sportive aussi, à n'en pas douter. Par rapport à nos
      premiers entretiens, je suis vraiment sidéré de voir le changement actuel de cet homme, qui semble littéralement
      délivré d'une chape de plomb, comme quelqu'un qui sortirait d'un véritable coup d'assommoir, et qui retrouve
      maintenant son potentiel d'énergie et la forme d'épanouissement qu'il devait avoir antérieurement au <time>1998-01-10</time>
      . Cependant, M.D. me dit qu'à nouveau, il y a des moments où il ressent l'emprise du phénomène, qui semble parfois
      le guider, pour ainsi dire. Il insiste aussi sur le fait qu'il ne faut pas trop s'attarder sur les circonstances
      du phénomène, mais sur sa signification générale, qu'il perçoit comme tout à fait redoutable, pour l'Humanité, en
      termes d'effets d'annonce.
    </p>
    <p>M. D évoque l'impression qu'il a, très nettement, d'être "bien vu", de la part des entités qui s'intéressent à
      lui. Il constate que sa vie a été empreinte de beaucoup de générosité envers les autres, particulièrement de ses
      enfants, ou de ses collaborateurs, en milieu professionnel.. Sa femme confirme et divers détails nous sont
      communiqués. Il nous dit en souriant qu'il fera peut-être partie des {{422000|number}} élus qui seront sauvés
      après l'apocalypse finale. Cette remarque est curieuse, au moment où un groupe d'experts de différentes
      nationalités et confessions, viennent d'unir leurs efforts pour une nouvelle tentative de décryptage du dernier
      livre de la bible, et qui ont donc publié un ouvrage fracassant sur ce sujet. La proximité de cette échéance et
      l'histoire des {{422000|number}} y sont largement évoqués. Plus troublant encore, ce livre évoque cette apocalypse
      sous la forme d'une troisième guerre mondiale. Les événements actuels font penser à tous que cette terrible
      éventualité n'est peut-être pas totalement du domaine de l'utopie, à plus ou moins longue échéance, vu les
      ingrédients de la crise, qui sont d'une gravité extrême. Cependant, il faut reconnaître que les conditions
      évoquées par cet ouvrage ne sont pas réunies, puisque l'origine de ce conflit serait géographiquement situé en
      Asie du sud-est, (implication initiale de la Corée du Nord).
    </p>
    <p> Le <time>1998-05-06</time> paraît l'article de Bruno Cornec dans la Gazette, intitulé <i>Une soucoupe volante
      dans le ciel d'Haravilliers ?</i> Un appel à témoins est passé. Le <time>1998-05-13</time> après-midi, 3 autres
      heures d'entretien. Ce dernier jour, à l'invitation des enquêteurs, le rédacteur en chef-adjoint de la "Gazette du
      Val d'Oise" participe à une partie de l'entretien.
    </p>
    <p>Monsieur D., même longtemps après cette rencontre, se demandera vraiment pourquoi il n'a pas stoppé son véhicule
      à ce moment, mais pourquoi donc ?
    </p>
    <p>le témoin a consigné ce qui lui est arrivé et qui se prolonge aujourd'hui par diverses manifestations, sur des
      feuillets au nombre d'une quarantaine actuellement : il garde ses feuillets pour lui, c'est une sorte de journal
      intime.
    </p>
    <p>Le <time>1998-04-18</time> , aucun des témoins n'ont eu le désir ou l'opportunité de se rencontrer à nouveau pour
      évoquer ce qu'ils ont vu. Aujourd'hui quand monsieur D se trouve en rupture de médicaments, il ressent encore des
      effets douloureux au niveau de ses yeux. Il désire qu'on le laisse tranquille, dans son anonymat. Il redoute que
      la divulgation de ce qui lui est arrivé attire sur lui des investigateurs qu'il ne veut absolument pas rencontrer
      : il a assez donné. Depuis qu'il a subi ce phénomène, d'après les réactions de sa famille, en particulier de son
      fils, ceux-ci le trouvent beaucoup plus enclin à discuter, extérioriser ses idées et impressions, à tel point que
      son fils, ayant comme du mal à reconnaître son père dans ces moments-là, le rabroue gentiment. À noter que selon
      des informations récentes en provenance des Etats Unis, un autre vaisseau de 45m de diamètre aurait été aperçu par
      deux militaires, ces derniers jours. Nous communiquerons les informations utiles au fur et à mesure de nos
      investigations.
    </p>
  </section>
  <section>
    <h3>Les cigarettes</h3>
    <p>M.D. est un assez grand fumeur. Depuis ce fameux <time>1998-01-10</time> , chaque fois qu'il fume, il ressent
      cette affreuse <q>odeur d'ovni</q>, cette odeur fétide, de pourriture, ainsi qu'il la décrit. Il pense avoir
      compris le message des entités, et voici pourquoi : Lors de la date anniversaire du <time>1998-01-10</time> ,
      c'est-à-dire au plus proche possible, le <time>1999-01-09</time> , il participait à un nouveau rendez-vous de
      chasse. Alors qu'il était descendu de sa voiture, au niveau du fameux parking, il se sentit poussé par une étrange
      force qui le fit chuter. Et il chuta de manière à ce que son étui de petits cigares, en métal, rentra le premier
      en contact avec le sol ; L'étui martyrisa littéralement les côtes de notre témoin, qui dut consulter un médecin.
      Pur lui, la signification est claire. <q>J'ai délibérément refusé de m'arrêter de fumer, alors ça, il n'en est pas
        question ! - Et, bien, ils m'ont rappelé gentiment à l'ordre, parce qu'ils veulent que je m'arrête de fumer, et
        il n'en est pour moi toujours pas question !</q> On notera que "l'odeur d'ovni" est souvent présente dans la vie
      de tous les jours, de M. D, et que cela lui occasionne des désagréments supplémentaires. Il semble le seul à la
      percevoir.
    </p>
  </section>
</section>
<section>
  <h2>Prolongement d'enquête</h2>
  <p>Un peu avant Noël <time>1998</time>, Deforge reçoit un appel téléphonique de <span
      class="people">Jacques Vallée</span>. Il a eu connaissance de l'affaire dans <a
      href="/org/eu/fr/asso/ldln">LDLN</a>, et manifeste son désir de partager avec lui la suite de l'enquête, à
    l'occasion d'un voyage en région parisienne prévu au début <time>1999-02</time> . Deforge parle de ce projet avec
    monsieur D., qui accepte. Ce dernier fait le nécessaire pour organiser une journée entière pour satisfaire aux
    besoins de l'approfondissement de cette enquête, avec la présence du maximum de témoins.
  </p>
  <p>Tous se retrouvent le <time>1999-02-06</time> . Monsieur D. conduit tout le monde sur l'itinéraire qu'il avait
    emprunté ce matin du <time>1998-01-10</time>, comme il a l'habitude de le faire chaque fois qu'il se rend à ses
    rendez-vous de chasse. M. et M<sup>me</sup> D conduisent <span class="people">Jacques Vallée</span> et son épouse,
    tandis que <span class="people">Deforge</span> suit dans sa voiture. Ils empruntent la sente Saint Denis, qui
    traverse Le Ruel, et s'arrêtent une 1ʳᵉ fois après un virage ou les témoins avaient aperçu l'objet. Monsieur D.
    confirme tout ce qu'il avait déjà expliqué.
  </p>
</section>
<p><strong>Références</strong> :</p>
<ul>
  <li><em><a href="https://home.nordnet.fr/%7Ephuleux/laffaire.htm">Un récit incroyable... corroboré par 5 témoins ?</a></em>
    par <span class="people">Gérard Deforge</span> (LDLN N° 349, Janvier/février 1998)
  </li>
  <li><a href="https://www.ovnis.atfreeweb.com/42b_haravilliers.htm">Haravilliers</a> par Emmanuel Delinger (1999).
  </li>
</ul>
<!--#include virtual="/footer.html" -->
