<!--#include virtual="/header-start.html" -->
<title>Lune</title>
<!--#include virtual="/header-end.html" -->
<p class="exergue">La Lune est habitée. La preuve, c'est allumé tous les soirs <span class="source">Coluche</span></p>
<figure class="left side">
  <img src="/place/systeme/solaire/planete/terre/lune/lune_et_ville.JPG"
      alt="La brillance de la pleine Lune peut la faire paraître devant des nuages"/>
  <figcaption> La brillance de la pleine Lune peut la faire paraître <em>devant</em> des <a
      href="/science/crypto/ufo/enquete/meprise/nuage">nuages</a></figcaption>
</figure>
<p>Il y a 4,6 milliards d'années, c'est un corps de la taille de <a href="/place/systeme/solaire/planete/mars">Mars</a>
  qui aurait percuté notre planète, éjectant de grandes quantités de débris en orbite terrestre. Au fil du temps, les
  débris auraient formé un disque, puis la gravité les auraient réunis pour former la Lune que nous connaissons
  aujourd'hui.</p>
<p>De taille réduite dans le ciel <a href="/place/systeme/solaire/planete/terre">terrestre</a>, notre satellite naturel
  a depuis un diamètre apparent de notre (31,2 mn d'arc, soit 0,5° en moyenne), ce qui est généralement identique au
  diamètre apparent du <a href="/place/systeme/solaire/Soleil">Soleil</a> (beaucoup plus grand, mais beaucoup plus
  loin). Cela vaut aux terriens de belles <a
      href="/science/crypto/ufo/enquete/meprise/eclipse/Lunaire.html">éclipses</a>, ou les 2 astres se recouvrent
  presque parfaitement. Cependant la distance <a href="/place/systeme/solaire/planete/terre">Terre</a>-Lune
  ({{384400|number}} km) oscille légèrement au fil du temps, et le diamètre apparent de la Lune devient parfois
  légèrement inférieur ou supérieur à celui visible du <a href="/place/systeme/solaire/Soleil">Soleil</a>.
</p>
<p><span class="people">Anaximène</span> montre que la Lune reçoit la lumière du <a
    href="/place/systeme/solaire/Soleil">Soleil</a> et de quelle manière elle s’<a
    href="/science/crypto/ufo/enquete/meprise/eclipse/Lunaire.html">éclipse</a>.</p>
<p>En <time>1609</time> <span class="people">Galilée</span>, grâce à ses premières lunettes astronomiques, parvient à
  observer la lune pour la 1ʳᵉ fois avec grossissement (x3).</p>
<p>À partir de <time>1830</time> à <span class="place">Berlin</span>, Wilhelm Beer et l'astronome Johann Heinrich
  Maedler entreprennent de dresser une carte de la Lune, qui sera terminée en <time>1837</time>.</p>
<p>A la différence des <a href="/place/systeme/solaire/planete">planètes</a> et des étoiles, le mouvement apparent de la
  Lune n'est pas négligeable puisqu'elle se déplace de 12° vers l'Est toutes les <time>P24H</time>. En pratique, cela
  signifie qu'elle se lève chaque jour environ <time>P1H</time> plus tard que le jour précédent.
</p>
<section>
  <h2>La face cachée</h2>
  <p>La Lune intrigue notamment par sa face dite "cachée", opposée à celle qu'elle nous montre constamment orientée vers
    vers la <a href="/place/systeme/solaire/planete/terre">Terre</a>, parce qu'elle tourne de manière synchrone avec la
    <a href="/place/systeme/solaire/planete/terre">Terre</a>, constamment en phase avec son orbite.
  </p>
  <p>En effet l'attraction gravitationnelle exercée par la <a href="/place/systeme/solaire/planete/terre">Terre</a> sur
    la Lune (de la même manière que la Lune en exerce une plus sur la <a href="/place/systeme/solaire/planete/terre">Terre</a>,
    provoquant les marées) provoque des déformations et des forces de friction à l'intérieur de la Lune. Une partie de
    l'énergie cinétique de rotation est alors libérée sous forme de chaleur et la rotation ralentit. Au bout d'un
    certain temps, la rotation de la Lune est suffisamment ralentie pour que sa période soit égale à celle de la
    révolution autour de la <a href="/place/systeme/solaire/planete/terre">Terre</a> : on a alors atteint un état stable
    (plus de forces de friction car plus de mouvement relatif) et le système reste dans cet état, même si, au départ, la
    période de rotation de la Lune est plus rapide que sa période de révolution autour de la <a
        href="/place/systeme/solaire/planete/terre">Terre</a>. Ce cas de figure n'est pas propre à la Lune : comme
    celle-ci, de nombreux satellites tournent en phase avec la rotation de la <a
        href="/place/systeme/solaire/planete/terre">Terre</a> : on les qualifie alors de géostationnaires.
  </p>
  <p>En <time>1969-12</time>, le docteur <a href="/people/officiels.html#Seaborg">Seaborg</a> déclare à Moscou (URSS)
    que l'équipage d'<a href="/org/us/nasa/projet/apollo/11">Apollo 11</a> a découvert sur la face cachée de la Lune des
    traces suspectes, dont la symétrie fait notamment penser aux empreintes que laissent les roues de véhicules.
    D'autres part, certaines tâches feraient penser à des constructions implantées sur le relief lunaire.
  </p>
</section>
<section>
  <h2>Observations étranges</h2>
  <section>
    <h3>Le cratère Aristarque</h3>
    <p>Le cratère <em>Aristarque</em> (<em>Aristarchus</em>) où des lumières miroitantes auraient notamment été
      observées en <time>1821</time>. Les astronomes y virent une simple illusion d'optique lorsque, 3 ans plus tard,
      une lumière y apparut de nouveau : elle avait la forme d'une étoile. Puis en <time>1959</time>, on y signala une
      lumière glignotante. Le soir même de cette dernière observation, 2 objets ronds, lumineux, quittèrent la Lune à
      une vitesse incroyable. 2 ans plus tard, on y observa de nouveaux clignotements lumineux ; dans la même journée, 5
      objets quittèrent le satellite côté est, avec 15 s environ d'intervalle. Puis on y découvrit une sorte de cable
      lumineux, et un objet noir comme de l'encre situé sur son bord.
    </p>
    <p>Visible avec de simples jumelles, on observa de puissantes lueurs, dans ce cratère le <time>1965-11-15</time> et,
      ce qui est encore le plus curieux, les autorités officielles de la <a href="/org/us/nasa">NASA</a> le
      confirmèrent.
    </p>
    <p>En <time>1958</time> et en <time>1961</time>, l'astronome soviétique Nikolai Kozyrev, y détecte une éruption
      volcanique. l'année suivante, 4 astronomes américains le confirment à nouveau. En <time>1962</time>, 2 taches
      ovales de lumière rouge furent observées sur son bord, tandis qu'en <time>1965-06</time>, on voit un étrange rayon
      de lumière blanche, brillante, en jaillir, alors que le cratère Aristarque était dans la zone d'ombre. Le mois
      suivant, un rayon de lumière blanche apparut plusieurs fois, durant une minute et demie à chaque manifestation.
      Tous ces faits sont propres à un seul cratère.
    </p>
  </section>
  <section>
    <h3>La Mer des Crises</h3>
    <p>On parle aussi du foyer d'activités fantastiques que représenterait la <em>Mer des Crises</em>. On a même évoqué
      l'existence d'une végétation lunaire.
    </p>
    <p>On relève dans la <em>Mer de Crises</em> des groupes de lumières variant d'intensité et disposées en figures
      géométriques qui disparurent après 2000 observations, une arche de 3 km, du brouillard, un réseau de raies et de
      taches brillantes, un grand nombre de dômes, et le fameux "Pont O'Neill" dont le docteur <span class="people">Hugh Percy Wilkins</span>
      assura qu'il était artificiel et avait 30 km de portée, ainsi que 2 à 3 km de large. Dans la même région que ce
      pont, on nota un peu plus tard un très brillant éclat de lumière, bleu puis blanc, comme causé par un immense
      miroir réfléchissant. On y releva aussi une "chaussée" qui disparut par la suite.
    </p>
  </section>
  <section>
    <h3>Montagnes, dômes, cratères, lueurs apparaissent, disparaissent ou changent de forme</h3>
    <p>Des milliers et des milliers d'autres cratères parsèment le sol lunaire. Certains d'entre eux possèdent des
      caractéristiques qui leur sont propres, et d'autres restent stables. Des régions entières donnent l'impression
      d'être animées d'une vie trépidante.
    </p>
    <p>La <em>Mer des Pluies</em>, par exemple, est bosselée de petites montagnes dont 3, <em>Pice</em>, <em>Piton</em>
      et <em>Lahire</em>, prennent parfois des teintes aveuglantes, analogues à la réverbération produite par la neige,
      et possèdent de singuliers rayons lumineux qui, tels des phares, jaillissent de leur sommet !
    </p>
    <p>Lors d'une <a href="/science/crypto/ufo/enquete/meprise/eclipse/Lunaire.html">éclipse</a> totale de la Lune le
      <time>1790-10-22</time>, <a href="/people/h/HerschelWilliam">Herschell</a> découvre plus de 150 points lumineux de
      couleur rouge sur la surface lunaire, avec un télescope qui ne grossit que 320 fois.
    </p>
    <figure class="left side">
      <img src="/org/us/nasa/projet/apollo/17/TaurusLittrow.gif" alt="Apollo 17 allunit au Sud du cratère Littrow"/>
      <figcaption><a href="/org/us/nasa/projet/apollo/17">Apollo 17</a> allunit au Sud du cratère Littrow
      </figcaption>
    </figure>
    <p>Le <time>1958-09-29</time>, le docteur Kenzaburo Toyoda, de l'université Meiji, observe dans la nuit la Lune et y
      voit un phénomène fantastique qui se déroule dans la mer de la Sérénité, et à gauche de la mer de la Tranquilité :
      en lettres très noires et très nettes, il voit les 2 mots suivants, placés l'un sous l'autre : <q>PYAX</q> et <q>JWA</q>.
      2 autres personnes voient ces mots au télescope. On aperçut aussi un <q>X</q> dans le cratère
      <em>Erasthotènes</em>, et la lettre grecque <em>gamma</em> dans le cratère <em>Littrow</em>.
    </p>
    <p>Si l'on se contente de simples témoignages visuels, la contestation est aisée, mais lorsque des photos
      troublantes ont été prises, comme ce fut le cas pour <em>Ranger VII</em> qui transmit des clichés représentant de
      mystérieux dômes... En <time>1966</time>, <em>Lunar Orbiter 2</em> ramena pour sa part des photos où l'on peut
      voir sur une surface d'environ 225 m sur 165, 7 protubérances inexplicables. La plus importante avait 15 m de
      large à la base et de 12 à 22 m de haut.
    </p>
    <p>Mais cela peut paraître insignifiant puisque, depuis <time>1930</time>, plus de 200 dômes (...) ont été
      localisés, généralement en terrain plat. Cette observation a été renouvelée en <time>1960</time> : ils étaient
      hémisphériques.
    </p>
    <p><span class="people">Morris Ketchum Jessup</span> signala d'autres faits encore plus troublants : des cratères
      avaient disparu ! Un bouleversement de terrain aurait pu expliquer un tel événement si, l'astre étant de surcroit
      considéré comme mort, ces cratères n'avaient été remplacés par d'étranges dômes ou de coupoles en matière
      transparente, donc artificiels.
    </p>
    <p><span class="people">Hugh Percy Wilkins</span>, en tant que chef de la section lunaire de l'Association
      Astronautique Britannique, fit également des déclarations sans détours à propos du cratère <em>Alzahen</em> par
      exemple. Signalé au début du <a href="/time/1/8/">19ème siècle</a>, ce cratère s'est en effet volatilisé. En
      <time>1867</time>, le cratère <em>Linné</em> a, lui aussi, disparu. Et, pour donner une idée de la puissance du
      phénomène, ce dernier avait un diamètre de 10 à 11 km.
    </p>
    <figure class="right side">
      <img src="/org/us/nasa/projet/apollo/11/Apollo11-Messier.gif"
          alt="Les cratères Messier A et Messier B photographiés par Apollo 11. Leur forme a causé une controverse considérable quant à leur formation."/>
      <figcaption> Les cratères Messier A et B photographiés par <a href="/org/us/nasa/projet/apollo/11">Apollo 11</a>.
        Leur forme a causé une controverse considérable quant à leur formation.
      </figcaption>
    </figure>
    <p>Par ailleurs, les cratères <em>Messier</em> et <em>Pickering</em> déroutent les spécialistes. Ils changent de
      forme, allant de l'ovale au triangle, alors que les formes des cratères voisins ne varient pas. D'ailleurs, une
      observation faite à partir d'<a href="/org/us/nasa/projet/apollo/08">Apollo 8</a> su sujet de la montage Pickering
      ouvre de stupéfiants horizons : des rayons lumineux semblent en sortir, et les cratères, dont le diamètre fait
      plusieurs km, ont leurs parois intérieures taillées en terrasses.
    </p>
    <p>Dans la <em>Mer de la Fertilité</em>, 2 petits cratères, très proches l'un de l'autre, changent continuellement
      de forme. On releva, d'autre part, dans la cratère <em>Platon</em>, des lumières qui ressemblaient <q>à celles
        d'une procession.</q></p>
    <p>En <time>1945-05</time>, dans la revue <em>Rockets</em>, un commentaire sur le rapport du <em>British
      Astronomical Journal</em> formulé par R. Richardson attira l'attention sur une étrange constatation faite en
      <time>1938</time> :</p>
    <blockquote>
      <p>La bande n'est pas continue et ne ressemble pas à une tache ou à une couche. Elle est composée de veinules, ou
        de petites raies, finement entrelacées. <span class="people">P4H</span> plus tard, on remarqua une expansion
        régulière vers la face ouest inférieure. L'observateur revit le <time>1938-01-16</time> la même zone colorée et,
        la nuit suivante, remarqua qu'elle était descendue de flanc sur le sol ; ce n'était plus alors une bande, mais
        une surface colorée irrégulière.
      </p>
    </blockquote>
    <p>Déjà, en <time>1923</time>, <span class="people">Camille Flammarion</span> nota des variations colorées notables
      autour du cratère <em>Pluton</em>, donc dans la même région.
    </p>
  </section>
  <section>
    <h3>Creuse ?</h3>
    <p>Avec sa masse estimée à 7,35e<sup>22</sup> kg pour un diamètre de 3476 km, <a
        href="/science/crypto/ufo/enquete/dossier/TerreCreuse">comme la Terre</a>, la Lune n'échappe pas aux <a
        href="/science/Theorie.html">théories</a> les plus étonnantes. Selon les chercheurs russes Mikhaïl Vassine et
      Alexandre Chtcherbakov, la Lune serait un astre creux. Selon les calculs de la densité de la <a
          href="/place/systeme/solaire/planete/terre">Terre</a> et de la Lune, il y aurait à l'intérieur de cette
      dernière un vide incontestable. Ils auraient déterminé la nature de l'enveloppe de la Lune en 2 coques superposées
      dont celle, située à fleur de croûte, aurait une épaisseur de 4 km et servirait à stopper les météores.
    </p>
    <p>Extrêmement résistante, cette première coque aurait arrêté la pénétration de météorites importantes à seulement 2
      km de profondeur, alors que, normalement, celles-ci aurait dû pénétrer jusqu'à environ 50 km de profondeur. La
      seconde coque mesurerait environ 30 km d'épaisseur. A l'intérieur de l'astre, un immense <q>trou</q> pourrait
      abriter une infrastructure artificielle et une vie intelligente. Ainsi, pourraient s'expliquer les impacts
      visibles à l'œil nu de météores extrêmement massifs que la Lune aurait rencontrés et heurtés dans sa course
      spatiale, avant de se mettre autour de la <a href="/place/systeme/solaire/planete/terre">Terre</a> en <q>orbite
        obligée</q>, c'est-à-dire en ne présentant toujours que la même face, comme un gigantesque microscope étudiant
      la <a href="/place/systeme/solaire/planete/terre">Terre</a>.
    </p>
    <p>D'autre part, une analyse des matériaux lunaires aurait prouvé que le satellite est plus vieux que la <a
        href="/place/systeme/solaire/planete/terre">Terre</a> elle-même, de 1 milliard d'années environ.
    </p>
  </section>
</section>
<section>
  <h2>Exploration</h2>
  <p>Tout aussi étrange est le phénomène détecté par les instruments déposés lors des vols <a
      href="/org/us/nasa/projet/apollo/12">Apollo 12</a> et <a
      href="/org/us/nasa/projet/apollo/14">Apollo 14</a>, en <time>1969-11</time> et en <time>1971-01</time> : des
    séries de petites secousses survinrent à <q>intervalles réguliers</q>.
  </p>
  <p>Mais une des questions les plus controversées est : <a href="/science/crypto/ufo/enquete/dossier/LuneCanular">les
    américains sont-ils réellement allés sur la Lune, ou n'est-ce qu'une mise en scène ?</a></p>
  <p>Une autre est : pourquoi n'y sont-ils pas retournés ? En fait la conquête de la Lune a englouti une bonne part des
    budgets américains et soviétiques, et une fois la course gagnée par les américains, il n'y a plus de raisons aux
    yeux des politiciens de continuer les dépenses. C'est d'ailleurs la raison pour laquelle les soviétiques n'ont
    jamais envoyé personne alors qu'ils étaient prêts : ils se sont immédiatement tournés vers le nouveau challenge que
    représente <a href="/place/systeme/solaire/planete/mars">Mars</a>. De plus, on pense à l'époque que l'intérêt
    scientifique de la Lune était limité, ce qui est remis en cause aujourd'hui.
  </p>
  <section>
    <h3>Missions cachées</h3>
    <p>Une autre <a href="/croyance/conspirationnisme">théorie de conspiration</a> à propos des explorations lunaire est
      opposée : ils y seraient bien allés mais auraient découvert plus de choses qu'ils ne l'ont dit.
    </p>
    <p>Un exemple de cette théorie est celui de la prétendue mission <a href="/org/us/nasa/projet/apollo/20">Apollo
      20</a>.
    </p>
  </section>
</section>
<section>
  <h3>Une méprise possible</h3>
  <figure class="left side">
    <img src="/images/MoonDog.jpg" alt="Le phénomène de parhélie peut aussi faire apparaître plusieurs lunes"/>
    <figcaption>Le phénomène de <a href="/science/crypto/ufo/enquete/meprise/optique/parhelie">parhélie</a> peut
      aussi faire apparaître plusieurs lunes
    </figcaption>
  </figure>
  <figure class="right side">
    <figcaption> Exemples de signalements d'ovnis dûs à la Lune</figcaption>
    <ul>
      <li><span class="place">Villefranche de Lauragais</span> le <time>1979-03-21</time></li>
      <li><span class="place">Sellières</span> le <time>1979-05-08</time></li>
      <li><span class="place">Loivre </span> le <time>1979-05-29</time></li>
      <li><span class="place">Gentilly</span> le <time>1979-05-31</time></li>
      <li><span class="place">Saint Haon-Le Chatel</span> le <time>1980-02-13</time></li>
      <li><span class="place">Sables d'Olonne</span> le <time>1980-02-24</time></li>
      <li><span class="place">Saint Vit</span> le <time>1980-03-03</time></li>
      <li><span class="place">Yvetot</span> le <time>1981-07-01</time></li>
    </ul>
  </figure>
  <p>La Lune a été à l'origine de nombreuses erreurs d'identification, particulièrement lorsqu'elle se trouve proche de
    l'horizon et apparaît déformée et orange à cause de mauvaises conditions atmosphériques. Elle semble par exemple
    plus grosse lorsqu'elle est au raz de l'horizon ou, plus rarement, lorsqu'elle est en conjonction avec des planètes
    ou des étoiles. Étudié depuis des siècles, ce phénomène n'a toujours pas reçu d'explication définitive : les
    partisans des 2 théories majeures, celle de la distance apparente et celle de la taille apparente, se combattent à
    coup d'arguments physiologiques et d'expériences d'optique. On a même noté des cas où, comme avec les étoiles ou les
    <a href="/place/systeme/solaire/planete">planètes</a>, le témoin croit être pourchassé par la Lune lorsqu'il conduit
    un véhicule. Toutefois, même à postériori, il est facile d'identifier la Lune comme responsable d'une notification
    grâce aux éphémérides astronomiques.
  </p>
  <figure class="right side video">
    <iframe width="320" height="180" src="https://www.youtube.com/embed/ZtYwqM2a-7o" frameborder="0"
        allowfullscreen></iframe>
    <figcaption> Enregistrement audio d'un homme appelant la police pour signaler une énorme lumière blanche semblant
      venir vers lui, stationner... jusqu'à s'apercevoir de son erreur <span class="source">"<a
          href="https://www.mirror.co.uk/news/weird-world/2011/10/26/moon-mistaken-for-ufo-by-confused-999-caller-listen-to-the-audio-115875-23516218/">Home
              News Weird World Moon mistaken for UFO by confused 999 caller - listen to the audio</a>", <em>The
              Mirror</em>, 26 octobre 2011</span></figcaption>
  </figure>
  <p>Un exemple de tentative de reproduction de méprise lunaire est projet <a
      href="/org/eu/fr/asso/cnegu/projet/Saros.html">Saros</a>, exploitant le fait que les positions lunaires se
    répètent à l'identique tous les 18 ans <span class="source"><span class="people">Maillot, Eric</span>: "<a
        href="https://www.unice.fr/zetetique/articles/meprises_lune.html">Analyse
      clinique de cas de méprises ovnis</a> <a href="https://www.unice.fr/zetetique/articles/meprises_lune.html">avec la
      Lune</a>"<em>, </em>Laboratoire de Zététique, Septembre 1999/Janvier 2004</span>.
  </p>
  <p>Un phénomène équivalent à la <a href="/science/crypto/ufo/enquete/meprise/optique/parhelie">parhélie</a> du
    Soleil, appelé <em>moondog</em>, est également possible avec la Lune.
  </p>
  <p><strong>Références </strong>:</p>
  <ul>
    <li>"The Crescent Moon With a Star Within It's Rim", <em>Science</em>, 18 décembre 1891</li>
    <li>"Lightning Like Phenomenon on the Moon", <em>Science</em>, 9 août 1946</li>
    <li>Regnier, J.-P.: <a href="https://www.lavraiefacecachee.com"><em>La vraie face cachée de la Lune</em></a></li>
  </ul>
</section>
<!--#include virtual="/footer.html" -->
