<!--#include virtual="/header-start.html" -->
<title>Bernard Thouanel</title>
<!--#include virtual="/header-end.html" -->
<p>Thouanel naît le <time>1958-08-08</time>.</p>
<p>En <time>1966</time>, il lit avec passion dans l'hebdomadaire <em>Tintin</em> le passionnant récit de science-fiction
  <em>Le Mystère des Soucoupes Volantes</em> d'Albert Weinberg mettant en scène le pilote de chasse canadien Dan Cooper.
  Le <time>1969-07-24</time> il lit le journal <em>Pilote</em> n° 507, où paraît un article de Jean-Michel Charlier de 2
  pages intitulé <em>Pilote </em>ouvre <em>Le Dossier des Soucoupes Volantes</em>, introduisant la série de bande
  dessinée sur les ovnis de Lob et Gigi. Son intérêt s'éveille pendant quelque temps, puis il se désintéresse
  provisoirement du sujet, quoique jetant un coup d'&oelig;il de temps en temps aux livres de <span class="people">Jean-Claude Bourret</span>
  exposés sur les étagères d'un hypermarché. Il fait des études à l'<abbr
      title="Ecole Commerciale de la Chambre de Commerce et Industrie">ECCIP</abbr> de Paris dont il sort en
  <time>1978</time>, puis à l'Université Paris 5 - Descartes dont il sort en <time>1980</time>. En <time>1982</time>, il
  travaille quelques mois comme technicien commercial pour Thomson CSF - DRS à Bagneux et Malakoff, puis devient
  journaliste professionnel spécialisé en aéronautique en <time>1985</time> et entre à VSD au printemps
  <time>1986</time>.
</p>
<p> En <time>1990-04</time>, au moment de la <a href="/science/crypto/ufo/enquete/dossier/VagueBelge">vague belge</a>,
  Hervé Gallet, un de ses collègues, Chef d'édition au sein de l'hebdomadaire VSD, tombe par hasard dans le cadre de ses
  activités professionnelles sur le reportage photo qu'il vient de ramener des <a href="/org/us">USA</a> consacré à
  l'avion de combat indétectable au radar, le Lockheed <a href="/tech/aero/appareil/avion/f117">F-117</a> A, et le
  rapproche d'une conception artistique d'un ovni en triangle observé en Belgique.
</p>
<p> Un article "Et si l'OVNI belge était le F-117 américain ?", est publié en co-signature dans VSD et fait scandale.
  Qualifié de "debunker", Thouanel suit l'affaire et recommence à s'intéresser au phénomène et devient même "sceptique"
  persuadé que certains ovnis ne sont que des <a href="/tech/aero/appareil">prototypes</a> "Top Secret" issus des "Black
  Programs". Il publie dans la foulée, sous l'instigation du journaliste scientifique Jean-René Germain, un article qui
  présente publiquement le F-117 <span class="source">Thouanel, B.: "L'OVNI, c'est Lui !", <em>Science & Vie</em> n°
    873, juin 1990</span>. Une opération qui sera renouvelée en <time>1991-11</time> avec un titre révélateur <span
      class="source">Thouanel, B.: "Les avions-espions qu'on prend pour des 'Ovnis'"  Science & Vie n°
    890, p. 102</span>. A la suite de ces publications, il sera sollicité par <span
      class="people">Pierre Lagrange</span> pour une interview sur les ovnis dans le cadre d'un documentaire pour la
  <em>Cité des Sciences et de l'Industrie</em>, offre d'interview qu'il décline.
</p>
<p>En <time>1995-06</time>, convoqué au bureau de François Siégel, alors directeur de la rédaction de VSD, Thouanel fait
  la connaissance de Jacques Pradel venu présenter son dossier sur Roswell et le fameux film de l'autopsie prévu pour
  une diffusion mondiale sur <em>L'Odyssée de l'Etrange </em>à TF1. VSD diffusera alors un numéro spécial an partenariat
  avec en couverture la "1<sup>ère</sup> photographie d'un extraterrestre" qui fait un tabac en affichage dans la France
  entière et comptera parmi les meilleures ventes jamais atteintes par le périodique ({{400000 | number}} exemplaires).
  A la suite de la mise en liquidation de VSD survenue à peine quelques semaines plus tard, Thouanel envisage dès <time>1996-09</time>
  un 1<sup>er</sup> numéro VSD HS consacré au sujet ovnis mais ne connaissant guère de monde dans le milieu ufologique
  français, la tâche s'avère extrêmement difficile. Il a néanmoins des contacts avec l'ancien pilote de ligne <span
      class="people">Jean-Gabriel Greslé</span>, ainsi que son compagnon d'armes <span
      class="people">Alain H. Boudier</span> ayant collaboré à l'hebdomadaire lors de <a
      href="/science/crypto/ufo/enquete/dossier/Roswell/Films">l'affaire de l'autopsie</a>. Surpris qu'aucun ufologue en
  France ne possède réellement de documents officiels originaux, Thouanel commande alors les dossiers originaux du FBI,
  ceux de la CIA et enfin le dossier <a href="/org/us/dod/af/amc/atic/projet/bluebook"> </a>Blue Book sur 94 microfilms
  35 mm auprès des Archives Nationales de Washington, et achète le lecteur <em>ad hoc</em> nécessaire à leur
  exploitation. Nommé Rédacteur-en-chef des VSD Hors Série, il consacrera régulièrement ses numéros au paranormal et aux
  ovnis à partir de <time>1998-06</time>.
</p>
<p><span class="people">Boudier</span> et <span class="people">Greslé</span>, devenus dès lors conseillers techniques du
  magazine, proposent alors des thèmes un peu plus versés dans l'ésotérisme pour ce 1er numéro consacré à l'ufologie,
  tels les "anomalies lunaires" ou le "visage de Mars" qui ne convainquent pas la rédaction. Il manque le sérieux
  officiel et scientifique qu'ils recherchent, et vont trouver lors d'un déjeuner-débat dans le restaurant parisien <em>Fouquet's</em>,
  en <time>1998-02</time>. Là, François Siégel réussit à rencontrer, avec l'aide de Boudier et de Greslé, un certain
  nombre de personnalités intéressées par le phénomène ovnis : <span class="people">Jean-Jacques Vélasco</span>, <span
      class="people">François Louange</span>, <span class="people">Jean-Claude Ribes</span>, <span class="people">Bernard Norlain</span>,
  et <span class="people">André Lebeau</span>. Sans le savoir, ils reproduisent un comité partiellement semblable à
  celui du <a href="/org/eu/fr/asso/cometa">COMETA</a>.
</p>
<p> Courant de l'été 1998, François Siegel est mis en contact avec l'un des membres du <a href="/org/eu/fr/asso/cometa">
  COMETA</a>, consultant auprès du Ministère de la Recherche (<a href="../../p/PayanGilbert/index.html">Gilbert P.</a>)
  et qui avait rédigé 2 articles de fond dans le magazine. <a href="../../p/PayanGilbert/index.html">Gilbert P.</a> lui
  parle d'un rapport que prépare <q>un groupe de travail à l'<a href="/org/eu/fr/dn/ihedn">IHEDN</a></q>... Après avoir
  parcouru quelques extraits du pré-rapport, Thouanel en discute avec Siégel. Ce dernier, après lecture et réflexion,
  propose au <a
      href="/org/eu/fr/asso/cometa"> COMETA</a> de publier leur rapport sous forme d'un magazine.
</p>
<p>A partir de <time>2002</time>, Thouanel s'installe à <span class="place">Los Angeles (Californie)</span>. Il acquiert
  la double-nationalité, et publie plusieurs livres <span class="source">Thouanel, B.: <em>Objets Volants Non Identifiés, </em>Michel Lafon, 2003</span>
  <span class="source">Thouanel, B.: <em>100 ans d'aviation, </em>Michel Lafon 2003</span>.
</p>
<!--#include virtual="/footer.html" -->
