<!--#include virtual="/header-start.html" -->
<title>Les événements ovni sont-ils liés au temps sidéral ?</title>
<meta content="Vallée, Jacques" name="author">
<meta content="1550 California Street, no.6L - San Francisco, CA.94109" name="copyright">
<!--#include virtual="/header-end.html" -->
<p class="abstract">Arguments contre une corrélation proposée...</p>
<p class="abstract2">Nous rapportons ici sur une étude de l'hypothèse que les événements ovni sont corrélés avec le
  temps sidéral local, une observation avancée par le Dr. <span class="people">Claude Poher</span>, le Dr. Donald
  Johnson et plus récemment par le Dr. <span class="people">Peter A. Sturrock</span>. Le temps sidéral local est utilisé
  par les <a href="/people/astronomes.html">astronomes</a> pour garder une trace des étoiles passant le méridien de
  l'observateur à un instant donné. Un sous-ensemble d'un grand <a href="/time/Catalogues.html">catalogue</a> pour
  lequel des données géographiques et temporelles sont disponibles a été pris comme base pour l'étude,
  impliquant{{11991 | number}} événements. Le temps sidéral local a été calculé pour ces événements. Alors qu'une
  distribution de fréquence indicative d'une corrélation avec les positions des étoiles a effectivement été détectée, un
  contrôle avec un <a
      href="/time/Catalogues.html">catalogue</a> distinct compilé en <a href="/org/eu/fr/index.html">France</a> révèle
  un défaut important : des entrées multiples pour un événement ovni unique particulièrement remarquable ont résulté en
  des duplications massives. Ceci remet en question la significativité du schéma prétendu.
</p>
<section>
  <h2>Sélection de cas</h2>
  <p>Dans un article récent le Dr. <span class="people">Peter A. Sturrock</span> a presenté une intéressante série
    d'analyses d'un <a href="/time/Catalogues.html">catalogue</a> d'observations d'ovnis <span
        class="source">Sturrock, P. A. (2004). "<a
        href="../../../4/Sturrock_TimeSeriesAnalysisOfACatalogOfUfoEventsEvidenceOfALocalSiderealTimeModulation_JSE/index_fr.html">Time-Series
    Analysis of a Catalog of UFO Events: Evidence of a Local Sidereal Time Modulation</a>", <em>Journal of Scientific
    Exploration</em>,  18, 3, 399-419</span>, menant à son observation que <q>le taux d'événements apparaît dépendre sur
      temps sidéral local</q>. Le travail de <span class="people">Sturrock</span> a stimulé notre intérêt pour étendre
    l'analyse à un 2ᵉ <a href="/time/Catalogues.html">catalogue</a>, en utilisant un approche différente des calculs
    tout en l'étendant à une critique des effets <a
        href="/science/crypto/ufo/analyse/statistique">statistiques</a> présents dans les données. En fait, comme le
    fait observer <span class="people">Sturrock</span>, la complexité du sujet est telle que des approches multiples du
    même problème se justifient.
  </p>
  <p>Une corrélation entre la fréquence des observations rapportées et un certain paramètre <a
      href="/science/discipline/hard/nat/univ/astro/index.html">astronomique</a>, comme l'approche périodique de
    certaines <a href="/science/discipline/hard/nat/univ/astro/superamas/amas/galaxie/etoile/planete/index.html">planètes</a>
    ou une orientation céleste particulière, serait un facteur important dans la formation d'<a
        href="/science/crypto/ufo/analyse/hypotheses/index.html">hypothèses sur la nature du phénomène ovni</a> et de <a
        href="/science/crypto/ufo/analyse/hypotheses/intelligence/HET">son éventuelle origine extraterrestre</a>. Le
    temps sidéral est particulièrement intéressant à cet égard en ce qu'il fournit une indication de quelles <a
        href="/science/discipline/hard/nat/univ/astro/superamas/amas/galaxie/etoile">étoiles</a> ou autres objets
    célestes sont au zénith de telle localisation (ou le long de son méridien) au moment de l'observation. Si les
    observations d'ovnis tendaient à intervenir à une valeur particulière du temps sidéral local, cela pourrait
    signifier qu'une source céleste spécifique serait impliquée dans le phénomène. Par conséquent la recherche de
    signaux extraterrestres (comme le <a href="/science/crypto/ufo/observation/projet/seti/rmw">SETI</a>) pourrait être
    menée dans la partie du ciel en question.
  </p>
  <figure class="right side">
    <figcaption><strong>Figure 1 - Distribution TSL des événements RR2 de <em>UFOCAT</em> (montrée ici sur une horloge
      de 24 h)</strong></figcaption>
    <img alt="Distribution TSL des événements RR2 de UFOCAT" src="Fig1.jpg"/>
  </figure>
  <p>Le 1er chercheur à remarquer une corrélation potentielle de ce type fut le Dr. <span
      class="people">Claude Poher</span> <span class="source">Poher, C. (1973) "Etudes statistiques portent sur 1000 témoignages d'observations d'UFO", rapport du GEPAN: CNES, Toulouse, France</span>.
    Plus récemment le Dr. <a href="/people/j/JohnsonDonaldA">Donald Johnson</a>, un co-auteur du <a
        href="/time/Catalogues.html">catalogue</a> <em>UFOCAT</em> <span class="source"><a
        href="/people/j/JohnsonDonaldA/index.html">Johnson, D.
    A.</a> & <a href="/people/s/SaundersDavidR">Saunders, D. R.</a> (2002). UFOCAT reference manual. Sun River Research, Bow, NH</span>
    a mené une étude <a href="/science/crypto/ufo/analyse/statistique">statistique</a> de la distribution du temps local
    sidéral pour les occurrences d'évenements de type <a
        href="/science/crypto/ufo/observation/classification/hynek/rr/2">RR2</a> (<a
        href="/science/crypto/ufo/observation/classification/hynek/rr">rencontres rapprochées</a> avec effets
    physiques). <a href="/people/j/JohnsonDonaldA/index.html">Johnson</a> a trouvé la distribution de la figure 1, avec
    un pic à <time>14:00</time>. <a href="/people/j/JohnsonDonaldA/index.html">Johnson</a> a également trouvé un pic
    similaire entre <time>13:00</time> et <time>16:00</time> pour les <a
        href="/science/crypto/ufo/observation/classification/hynek/rr/index.html">rencontres rapprochées</a> du 3<sup>ème</sup>
    Type (évenements <a href="/science/crypto/ufo/observation/classification/hynek/rr/3">RR3</a>) avec une
    significativité Chi<sup>2</sup> au niveau de p inférieure à 0,0000001.
  </p>
  <p>Dans ces études le pic intervient à des moments différents de ceux trouvés par <span class="people">Poher</span> et
    <span class="people">Sturrock</span>. Afin de mener une analyse indépendante, nous sommes partis de la même base que
    dans l'étude de <span class="people">Sturrock</span> et l'avons étendue à un <a
        href="/time/Catalogues.html">catalogue</a> de cas français. Les résultats de <span
        class="people">Sturrock</span> sont basés sur un <a href="/time/Catalogues.html">catalogue</a> connu simplement
    sous le nom de <em>*U*</em>, publié par M. <span class="people">Larry Hatch</span> <span
        class="source">Hatch, L. (2001). *U* Database (consulter www.larryhatch.net pour la disponibilité de la version courante)</span>.
    La version que nous avons utilisée contenait {{17757|number}} entrées et fut publiée le <time>2001-07-23</time>. Le
    dernier événement répertorié dans ce <a href="/time/Catalogues.html">catalogue</a> était daté du
    <time>2001-01-20</time>.
  </p>
  <p>Le <a href="/time/Catalogues.html">catalogue</a> de <span class="people">Hatch</span> tourne sur n'importe quel
    ordinateur personnel équipé du DOS et peut être facilement compris, même par l'utilisateur de base. L'analyse
    procédant avec une sophistication croissante, le catalogue révèle de nombreuses autres couches de données utiles,
    dans un système de codage cohérent. M. <span class="people">Hatch</span> l'a compilé à partir des meilleures sources
    disponibles de la littérature et a rafiné la liste en comparant ces sources entre elles, résolvant des questions de
    date, heure et lieu. Au fil des années il a continué à ajouter de nouveaux cas et enlever des entrées qui semblaient
    douteuses lorsque de nouvelles informations étaient mises au jour. Ainsi, alors que le <a href="/udb/">catalogue de
      Hatch</a> n'est pas homogénène, il est d'une grande valeur en ce qu'il est le résultat d'un processus systématique
    de filtrage et réduction des données. De plus, il est possible de partiellement minimiser les biais historiques et
    culturels en restreignant le périmètre de l'étude. Si les événements ovni sont corrélés avec le temps sidéral local,
    l'effet devrait être vérifiable (et en fait, accru) sur un sous-ensemble où ces facteurs ont été minimisés.
  </p>
  <p>Afin d'augmenter l'homogénéité de l'échantillon de données, nous avons restreint le <a href="/udb">catalogue
    Hatch</a> aux cas répertoriés entre le <time>1947-06-24</time> (généralement considéré comme le début de l'"ère
    moderne" des observations d'ovnis) et le <time>2000-12-31</time>. Alors que l'accumulation des observations à partir
    du <time>2001-01-01</time> se poursuit, les données n'ont pas encore été soumises au même degré d'examen minutieux
    que l'on été les cas du demi-siècle précédent. Comme pour les cas préalables à celui de <a
      href="/people/a/ArnoldKennethE/index.html">Kenneth Arnold</a>, ils méritent une étude séparée. Une recherche en
    cours par divers groupes intéressés par l'histoire du domaine, y compris la très grande "<a
        href="/science/crypto/ufo/enquete/dossier/Airships/index.html">vague d'aéronefs</a>" de <time>1896/1897</time>,
    montre que le phénomène a été enregistré dans un environnement social et journalistique très différent de ce que
    nous avons connu depuis que l'expression "<a
        href="/science/crypto/ufo/FlyingSaucers.html">soucoupes volantes</a>" a été lancée. Parmi les {{17070|number}}
    cas restant dans la liste, nous avons trouvé {{11991|number}} entrées qui contenaient suffisamment de données pour
    qu'un calcul des temps sidéraux locaux soit mené. Cet échantillon est à comparer avec la sélection par <span
        class="people">Sturrock</span> de {{12200|number}} cas fournis par M. <span class="people">Hatch</span>.
  </p>
  <figure class="left side">
    <figcaption><strong>Figure 2 - Distribution de fréquence n° 1 en fonction du TSL en heures (catalogue
      Hatch)</strong></figcaption>
    <img alt="Distribution de fréquence n° 1 en fonction du TSL en heures" src="Fig2.jpg"/>
  </figure>
  <p>Le temps sidéral est utilisé par les <a href="/people/astronomes.html">astronomes</a> pour garder une trace des
    étoiles qui passent le méridien de l'observateur à un moment donné. Le temps sidéral cours plus vite que le <abbr
        title="Greenwich Mean Time">GMT</abbr> d'environ <time>P3M56S</time>/jour, pour compléter 24 h supplémentaires
    en 1 année. En en site donné le temps sidéral local a la même valeur chaque année aux mêmes date et heure. Un
    certain nombre d'algorithmes standards sont disponibles sur Internet pour faire ce calcul, qui est assez simple.
    Nous avons appliqué cette analyse à l'ensemble des {{11991 | number}} entrées exploitables de notre <a
        href="/time/Catalogues.html">catalogue</a>, ce qui nous a mené au graphique de la figure 2.
  </p>
</section>
<section>
  <h2>Résultats initiaux</h2>
  <p>Les résultats de notre calcul de TSL sont présentés en figure 2, montrant le nombre d'événements que nous avons
    répertoriés dans 240 intervalles ou "cases" de 0,1 h, entre minuit et <time>24:00</time>. Bien que ce petit
    intervalle rende un tracé assez confus, il fournit le détail nécessaire à une comparaison rapprochée avec d'autres
    <a href="/time/Catalogues.html">catalogues</a>, comme nous le verrons ci-après. Ce graphique correspond bien avec la
    distribution publiée par <span class="people">Sturrock</span>. Elle montre en particulier le même accroissement de
    fréquence des événements signalés dans l'intervalle de <time>20:00</time> à <span
        class="heure">23:00</span>, avec un pic notable entre <time>21,1</time> et <span
        class="heure">21,5 h</span> du temps sidéral local.
  </p>
</section>
<section>
  <h2>Analyse ultérieure</h2>
  <figure class="right side">
    <figcaption><strong>Figure 3 </strong> - Dessin de témoin</figcaption>
    <img alt="Dessin de témoin" src="Fig3.jpg"/>
  </figure>
  <p>La prochaine étape dans notre analyse fut de trier le catalogue en fonction de la valeur du TSL dans le but
    d'examiner les événements spécifiques dans l'intervalle de notre maximum observé. En faisant cela, une observation
    remarquable "bondit" du catalogue.
  </p>
  <p>Le soir du <time>1990-11-05</time>, <a href="/science/crypto/ufo/enquete/dossier/5Novembre/index.html">des milliers
    de témoins en France signalèrent un objet, ou une série d'objets</a>, qui apparaissaient se déplacer relativement
    lentement sur une trajectoire qui commençait sur la côte Atlantique au sud-ouest et se terminait dans la région
    d'Alsace au nord-est. Les témoins allaient des écoliers aux retraités et des conducteurs de camions aux présidents
    de banques. De nombreux rapports officiels furent remplis par les <a href="/org/eu/fr/dn/gendarmerie/index.html">gendarmes</a>.
    Un témoin, qui avait le rang d'Ambassadeur, fit le rapport privé à cet auteur d'avoir observé le phénomène pendant
    plusieurs minutes alors qu'il conduisait une voiture à travers plusieurs patés de maisons vers l'Arc-de-Triomphe à
    Paris : <q>C'était comme si la Tour Eiffel volait horizontalement au-dessus Paris</q>, dit ce témoin, qui ajouta que
    l'objet avait l'apparence d'un triangle unique, solide et sombre avec des lumières, volant lentement.
  </p>
  <p>La figure 3 montre un dessin soumis par un témoin dans l'un des 400 rapports enregistrés à cette date par le
    chercheur <span class="people">Franck Marie</span> <span class="source">Marie, Franck (1993). <em>Ovni Contact</em>. SRES editions. BP 41, 92224 Bagneux Cedex, France</span>.
    <q>L'heure était dans les 5 mn autour de <time>19:05</time></q>, écrivit cette personne, <q>Je roulais vers <span
        class="place">Artigny</span> avec la mère de ma femme sur la RN 387 lorsque (...) nous avons vu 3 points
      lumineux qui faisaient la forme d'un "V" suivi par un projecteur avec un rayon vertical qui éclairait le sol</q>.
  </p>
  <blockquote>
    <p>Il était suivi de 5 ou 6 points lumineux avec des traînées rouge-orangées. Tous ces éléments avaient l'air de
      faire partie d'une même masse noire en mouvement lent, qui glissait à basse altitude. Le gros projecteur se tourna
      vers le sol et éclaira le sommet des arbres à 800 m environ (2500 pieds) dans un silence extraordinaire...
    </p>
  </blockquote>
  <p>Le groupe d'étude des ovnis du gouvernement français au <a href="/org/eu/fr/cnes">Centre d'Etudes Spatiales</a> de
    Toulouse (CNES-<a href="/org/eu/fr/cnes/sepra/index.html">SEPRA</a>) mena sa propre analyse et conclut que les
    témoins avaient probablement observé, et mal interprété, la <a href="/science/crypto/ufo/enquete/meprise/rentree">rentrée</a>
    d'un appareil spatial qui aurait en fait dû se consumer dans l'atmosphère ce même soir. De nombreux signalements,
    cependant, tels que celui cité précédemment, étaient si détaillés et spécifiques qu'ils sont restés inexpliqués.
    Parmi les événements ovni du catalogue de Hatch pour lesquels une valeur de TSL peut être calculée se trouvent 56
    entrées pour <a href="/science/crypto/ufo/enquete/dossier/5Novembre">ce seul cas du 5 novembre 1990</a>. Un tel gros
    bloc d'entrées, intervenant dans un intervalle si petit de valeurs de TSL, introduit une déformation potentielle
    dans la corrélation statistique.
  </p>
  <figure class="left side">
    <figcaption><strong>Figure 4 - Distribution de fréquence n° 2 après suppression des données dupliquées (catalogue
      Hatch)</strong></figcaption>
    <img alt="Distribution de fréquence n° 2 après suppression des données dupliquées" src="Fig4.jpg"/>
  </figure>
  <p>Alors qu'il est approprié pour le <a href="/time/Catalogues.html">catalogue</a> de Hatch de lister chaque
    signalement séparément (puisqu'ils ont été fait sur une grande zone), il ne devrait y avoir dans notre analyse que 1
    seule entrée, étant donné le fait que 1 seul phénomène, à l'évidence assez spectaculaire, a eut lieu ce soir
    particulier. Une fois cette duplication supprimée, la distribution de fréquence devient celle de la figure 4, où la
    montée en fréquence autour de 21,5 h est moins notable, bien que toujours présente.
  </p>
  <p>Afin de comparer la distribution de la figure 3 avec celle de la figure 4 (avant et après la supression des données
    dupliquées pour le <time>1990-11-05</time>) nous avons calculé combien de "cases" contiennent un nombre donné de cas
    d'ovnis. Le résultat est montré dans le tableau 1.
  </p>
  <p>On peut voir, par exemple, que dans la 1ʳᵉ distribution, 2 "cases" (intervalles de 0,1 h de TSL) contiennent plus
    de 80 cas, alors que dans la 2nde distribution il n'y en a aucun. Ensuite, nous avons appliqué des tests
    statistiques courants aux 2 distributions, dégageant une valeur p représentant la probabilité d'observer des
    résultats aussi différents de la distribution normale qu'observé dans le tableau 1. Le test le plus courant est
    celui de Kolmogorov-Smirnov, qui donne la même valeur de p pour la 1ʳᵉ et la 2nde distribution, c'est-à-dire 0,15.
    En d'autres mots, la probabilité d'obtenir cette distribution par hasard est de 15 pour 100.
  </p>
  <figure class="right side">
    <figcaption><strong>Table 1 - Comparaison des distributions de fréquence</strong></figcaption>
    <table>
      <thead>
      <tr>
        <td class="titleCorner"></td>
        <th colspan="13">Nombre de cas</th>
      </tr>
      <tr>
        <th>Cases contenant</th>
        <th>25</th>
        <th>30</th>
        <th>35</th>
        <th>40</th>
        <th>45</th>
        <th>50</th>
        <th>55</th>
        <th>60</th>
        <th>65</th>
        <th>70</th>
        <th>75</th>
        <th>80</th>
        <th>85</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>1ʳᵉ Distribution</th>
        <td>0</td>
        <td>7</td>
        <td>22</td>
        <td>42</td>
        <td>66</td>
        <td>36</td>
        <td>37</td>
        <td>13</td>
        <td>6</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>0</td>
      </tr>
      <tr>
        <th>2nde distribution</th>
        <td>0</td>
        <td>7</td>
        <td>22</td>
        <td>42</td>
        <td>66</td>
        <td>37</td>
        <td>37</td>
        <td>14</td>
        <td>7</td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      </tbody>
    </table>
  </figure>
  <p>Un test plus sensible est celui de Ryan-Joiner, qui donne une valeur de p inférieure à 0,01 pour la 1<sup>ère</sup>
    distribution (ensemble de données initial) et supérieur à 0,1 pour la 2nde (avec les doublons supprimés). Ceci
    pourrait être interprété par l'affirmation que la distribution initiale ne serait attendue que 1 seule fois sur 100
    essais sur la base du hasard. Une fois corrigées les entrées multiples du <time>1990-11-05</time>, la distribution
    résultante serait attendue pour au moins 10 des essais.
  </p>
</section>
<section>
  <h2>Autres facteurs</h2>
  <figure class="left side">
    <figcaption><strong>Figure 5 - Fréquence de cas par fuseau horaire. Notez la prévalence des cas français et
      britanniques (zones -1 et 0) et des cas américains (+4 à +8). Catalogue de Hatch.</strong></figcaption>
    <img alt="Fréquence de cas par fuseau horaire" src="Fig5.jpg"/>
  </figure>
  <p>Dans toute étude <a href="/science/crypto/ufo/analyse/statistique/index.html">statistique</a> impliquant une base
    de données compilée à partir de sources multiples, une discussion détaillée des biais et manques d'homogénéité dans
    les entrées doit être prise en compte. Avant que l'on puisse tirer de quelconque conclusions fermes, il est
    important de noter certain facteurs contribuant à l'analyse des événements ovni. La 1<sup>er</sup> facteur, comme
    l'ont noté <a href="/people/s/SturrockPeterA/index.html">Sturrock</a> aussi bien que Johnson, est devenu connu dans
    la littérature comme la "Loi des heures" : les signalements d'ovnis ne sont pas rapportés uniformément dans la
    journée mais montrent un pic aigü dans la soirée (entre <time>18:00</time> et <time>22:00</time>) et un pic
    secondaire avant l'aube <span class="source">Vallee, J. F., & Vallee, Janine (1966). <em>Challenge to
      Science</em>, Chicago: Regnery</span>.
  </p>
  <p>Comme noté précédemment, pour un site et une date donnés la valeur du TSL se répète chaque année à la même heure de
    la journée. <a href="/people/s/SturrockPeterA/index.html">Sturrock</a> a développé un test sophistiqué allant contre
    l'idée que l'effet de TSL est simplement un effet du schéma heure-du-jour et heure-de-l'année.
  </p>
  <p>Un autre biais dans nos données est celui de la distribution géographique. La grande majorité des cas du catalogue
    proviennent de 2 régions principales : l'Europe occidentale et les Amériques. Ce biais est clairement montré en
    figure 5. Pour cette raison il est difficile de tirer des conclusions fermes à partir d'un seul catalogue. Dans le
    temps, les chercheurs intéressés par ce problème auront besoin de plusieurs catalogues issus d'un ensemble plus
    varié de localisations géographiques, ainsi que de catalogues spécifiques traitant d'un seul pays. A cet égard, nous
    avons eu la chance d'avoir accès à une liste conséquente de cas français qui pourraient fournir une comparaison avec
    le catalogue de Hatch utilisé dans l'étude de <a href="/people/s/SturrockPeterA/index.html">Sturrock</a>.
  </p>
</section>
<section>
  <h2>La base de données du SEPRA</h2>
  <p>L'auteur est redevable à M. <span class="people">Jean-Jacques Velasco</span>, directeur du <a
      href="/org/eu/fr/cnes/sepra/index.html">SEPRA ("Service d'Etude des Phénomènes de Rentrée Atmosphérique")</a>
    français à Toulouse, pour sa permission d'étudier une version préliminaire du fichier informatique du <a
        href="/org/eu/fr/cnes/index.html">CNES</a> de rapports de phénomènes aériens non-identifiés. A l'époque où cette
    version fut compilée (été <time>2002</time>) le fichier, qui est toujours en cours de constitution, contenait 3903
    entrées et couvrait les années de <time>1978/2000</time>, avec un rapport supplémentaire de <time>1975</time>.
  </p>
  <figure class="right side">
    <figcaption><strong>Figure 6 - Distribution de fréquence en fonction du TSL (catalogue SEPRA, 881
      événements) </strong></figcaption>
    <img alt="Distribution de fréquence en fonction du TSL" src="Fig6.jpg"/>
  </figure>
  <p>Il devrait être noté que chaque entrée du <a href="/org/eu/fr/cnes/sepra">SEPRA</a> est un signalement individuel,
    souvent matérialisé par une déclaration devant les officiers de maintien de l'ordre locaux (gendarmes). Certaines
    observations n'ont que 1 seul témoin, tandis que d'autres pourraient générer des douzaines d'entrées dans la base de
    données. Notre analyse préliminaire commence par la compilation d'entrées dans des éléments d'une seule ligne. En
    d'autres mots, nous avons regroupées les diverses déclarations individuelles de chaque incident unique dans une
    seule entrée. En faisant cela nous avons mené notre propre ré-évaluation du cas basé sur la description donnée par
    le témoin, résultant en un reclassement des signalements en marge - dont la plupart avaient une forte probabilité de
    décrire des <a href="/science/crypto/ufo/enquete/meprise/rentree/meteore/index.html">météores</a>.
  </p>
  <p>Le catalogue résultant contient 1425 événements. Nous avons calculé les valeurs de TSL de 881 cas où la date et
    l'heure étaient connus en plus des coordonnées géographiques. Parmi ceux-ci, 452 étaient des <a
        href="/science/crypto/ufo/OVI.html">OVIs</a> et 429 étaient inexpliquées. La distribution correspondante dans
    des "cases" de la même taille que dans l'étude précédente est donnée en figure 6.
  </p>
  <figure class="left side">
    <figcaption><strong>Figure 7 - Distribution de fréquence pour les évenements inexpliqués uniquement (Catalogue
      SEPRA, 413 événements)</strong></figcaption>
    <img alt="Distribution de fréquence pour les évenements inexpliqués uniquement" src="Fig7.jpg"/>
  </figure>
  <p>Sur la figure 6 le pic entre 21,2 et 22,1 h de TSL est particulièrement aigü. Notez qu'un pic secondaire existe
    entre 4,2 et 4,6 h de TSL. At this point il est convenient d'utiliser une des caractéristiques importantes du
    catalogue du <a href="/org/eu/fr/cnes/sepra">SEPRA</a>, où les événements identifiés ont été conservés dans la liste
    avec un code spécial. Ceux-ci incluent toutes les explications ordinaires habituelles comme les <a
        href="/science/crypto/ufo/enquete/meprise/rentree/meteore">météores</a>, <a
        href="/science/crypto/ufo/enquete/meprise/rentree">rentrée</a> de <a
        href="/science/crypto/ufo/enquete/meprise/Satellites.html">satellites</a>, projecteurs, objets astronomiques,
    etc. Notre prochaine tache fut de relancer l'étude de distribution sur la base des 413 cas inexpliqués aux date et
    heure connus seulement. Ceci donne le graphique en figure 7.
  </p>
  <p>On peut voir que le pic autour de <time>21,5 h</time> disparaît lorsque les cas identifiés sont supprimé du
    catalogue <a href="/org/eu/fr/cnes/sepra/index.html">SEPRA</a>. Par contraste, le pic secondaire entre
    <time>3,2</time> et <time>5,2 h</time> de temps sidéral local en figure 6 se dégage en fait plus nettement sur la
    figure 7, avec un maximum à <time>3,8 h</time>. Cette caractéristique particulière dans la distribution survit non
    seulement à l'élimination des <a href="/science/crypto/ufo/OVI.html">OVIs</a> de la liste mais aussi à une recherche
    dans les cas individuels d'effets possibles de duplication ou d'autres biais. A ce stade nous devons le considérer
    comme inexpliqué.
  </p>
</section>
<section>
  <h2>Conclusion et recommandations</h2>
  <p>L'étude présente confirme l'existence d'une relation statistique apparente entre les événements ovni et le temps
    sidéral local dans le catalogue de Hatch. Lorsque les données sont analysées plus avant, cependant, on le voit
    contenir non moins de 56 entrées pour 1 cas représentant en fait un groupe d'observations d'un événement majeur
    unique, un fait qui n'a pas été pris en compte dans <a
        href="../../../4/Sturrock_TimeSeriesAnalysisOfACatalogOfUfoEventsEvidenceOfALocalSiderealTimeModulation_JSE/index_fr.html">l'analyse
      de Sturrock</a>. Dans une étude de contrôle utilisant une version préliminaire du catalogue français du <a
        href="/org/eu/fr/cnes/sepra/index.html">SEPRA</a>, nous avons montré que le pic de <span
        class="heure">21,5 h</span> disparaît lorsque les cas classés comme <a
        href="/science/crypto/ufo/OVI.html">OVIs</a> sont supprimés. Un pic secondaire à <span
        class="heure">3,8 h</span> reste inexpliqué.
  </p>
  <p>La découverte et la confirmation d'un lien statistique entre la fréquence des événements ovni et un paramètre
    céleste donné, tel que le temps sidéral local, constituerait une étape importante dans la compréhension du très
    complexe phénomène ovni. En attendant que soit menée une analyse d'autres catalogues, cependant, il paraît sage de
    maintenir une position sceptique prudente concernant les prétentions d'une corrélation statistique entre les
    événements ovni et la position des étoiles.
  </p>
</section>
<h2>Références</h2>
<ul>
  <li><em>Personal interview with the author, Paris, 26 June 2004.</em></li>
  <li><em>The assistance of Dr. <span class="people">Jessica Utts</span> with statistical calculations is gratefully
    acknowledged. </em><br/>
  </li>
</ul>
<!--#include virtual="/footer.html" -->
