<!--#include virtual="/header-start.html" --><title>Charles Hoy Fort</title><!--#include virtual="/header-end.html" -->
<p class="exergue">L'impossibilité devient le raisonnable pour peu qu'on l'introduise avec civilité</p>
<figure class="left side">
  <img alt="Charles Fort" src="portrait.jpg"/>
</figure>
<p>Fort naît le <time>1874-08-06</time> à <span class="place">Albany (États-Unis)</span>, descendant d'immigrants
  hollandais.</p>
<section>
  <h2>À la recherche des faits "maudits" car ignorés</h2>
  <p>Toute sa vie, il mène des recherches à la bibliothèque publique de New York et à celle du <em>British Museum </em>sur
    d'innombrables événements étranges, ou <q>hors nature</q> comme il aime les nommer. Il a pour principe de prendre de
    tels événements pour argent comptant, même s'il doit pour cela faire fi de la méthode scientifique orthodoxe. En
    fait, Fort manifeste un grand scepticisme devant les interprétations des savants : selon lui, en effet, ceux-ci
    ignorent parfois délibérément les évidences et en arrivent à rejeter ce qu'ils ne peuvent analyser. Ce parti pris du
    monde scientifique l'amène à appeler les phénomènes inexpliqués le <q>royaume des damnés</q>.</p>
  <p>Fort présente les fruits de sa recherche exhaustive dans plusieurs publications. L'un de ses livres recense, à lui
    seul, plus de {{40000 | number}} incidents qui ne peuvent être compris par les lois de la nature. Et les phénomènes
    qui se manifestent dans le royaume des damnés prennent des formes très diverses : navires voguant dans le ciel ;
    combats aériens entre armées de spectres ; auras spirituelles apparaissant à des <a
        href="/science/para/psi/pes/claivoyance">voyants</a> ; <a
        href="/science/crypto/ufo/enquete/meprise/foudre/globulaire">boules de feu</a>, combustions spontanées, etc. Il
    écrit :
  </p>
  <blockquote>
    <p>En ce qui me concerne, je ne fais qu'accepter. Ne pouvant voir les choses universellement, je me contente de les
      localiser. En sorte donc que rien n'a jamais été prouvé et que les déclarations <a href="../../../croyance/divin">théologiques</a>
      sont tout aussi sujettes à caution, mais ont dominé la majorité des esprits en leur temps, par de purs procédés
      hypnotiques <span class="source">Fort, C. H.: <em><a href="/time/1/9/1/9/Fort_BookOfTheDamned">The Book of the Damned</a></em>, Horace Liveright, New York, 1919</span>.
    </p>
  </blockquote>
  <p>A sa publication en <time>1919</time>, son livre recensant des faits "maudits" est diversement accueilli <span
      class="source">"<a href="/time/1/9/2/0/01/17/ScienceMocked_NYTribune">Science Mocked</a>", N. Y. Tribune,
    1920-01-17</span> <span class="source">"<a
      href="/time/1/9/2/0/02/08/TheBookOfTheDamned_NYTimesBookReview">The Book of the Damned</a>", N.Y.
    Times Book Review, 1920-02-08</span> <span class="source">"<a
      href="/time/1/9/2/0/02/15/ScientistSaysPlanetIsOnly50MilesAway">Scientist Says Planet Is Only 50 Miles
    Away</a>", Herald de Syracuse (New York), 1920-02-15</span> <span class="source">"<a
      href="/time/1/9/2/0/02/15/TheDamnedAreDataScienceHasRejected_Sun-NYHerald">The Damned' Are Data Science Has Rejected</a>", Sun & NY Herald, 1920-02-15</span>
    <span class="source">"<a href="/time/1/9/2/0/02/15/ForEveryFivePeopleWhoReadItFourWillGoInsane_Sun-NYHerald">For Every Five People Who Read It Four Will Go Insane</a>", Sun & NY Herald, 1920-02-15</span>
    <span class="source">"<a href="/time/1/9/2/0/02/26/StrangeThingsDropFromSky_BambergHerald">Strange Things Drop
      from Sky</a>", Bamberg Herald, 1920-02-26</span> <span class="source">"<a
        href="/time/1/9/2/0/03/08/CloseRangePlanets_BrattleboroDailyReformer">Close Range
      Planets</a>", Brattleboro Daily Reformer, 1920-03-08</span> <span class="source">"<a
        href="/time/1/9/2/0/06/TheBookOfTheDamned_CatholicWorld">The Book of
      the Damned</a>", Catholic World, 1920-06</span> <span class="source">"<a
        href="/time/1/9/2/0/07/30/DoMartianSpiesSnoopOnTheEarth_ArizonaDailyStar">Do Martian
      Spies Snoop on the Earth</a>", Arizona Daily Star, p. 3, 1920-07-30</span>.
  </p></section>
<figure class="right side">
  <img src="FortCharlesHoyt_Chess.jpg" alt="Charles Fort devant un jeu d'échec de son invention"/>
  <figcaption>Fort devant un jeu d'échecs de son invention</figcaption>
</figure>
<figure class="left side">
  <img src="/time/1/9/3/1/10/04/Dreiser-Fort.jpg" alt="Charles Fort devant un jeu d'échec de son invention"/>
  <figcaption>Theodore Dreiser et Fort devant la maison de ce premier à Mt. Kisco (New York) le <time>1931-10-04</time>
    <span class="source">"<a href="https://richardgrigonis.com/Ch10%20Charles%20Hoy%20Fort.html">Ivan T. Sanderson — Chapter 10 — Charles
			Hoy Fort and the Founding of SITU</a>",  Zippy's Telecom Blog (Website of Richard Grigonis, Grigonis Research)</span>
  </figcaption>
</figure>
<p>Le principal objectif de Fort n'est pas de chercher des explications à ces événements extraordinaires, mais
  simplement d'affirmer leur existence, d'en fournir toutes les preuves et de laisser les lecteurs juger par eux-mêmes.
  Mais Fort a aussi ses propres théories sur ces phénomènes. Lorsqu'on les compare aux positions obstinément laborieuses
  de la science, les conceptions de Fort se révèlent parfois audacieuses ou farfelues, mais souvent brillamment
  inspirées. Par exemple, quand il lit un article sur une étrange huile jaune qui tombe du ciel, il ne cherche pas à
  analyser le liquide : il suppose immédiatement qu'une fuite provient des moteurs de vaisseaux spatiaux reliant <a
      href="/place/systeme/solaire/planete/venus">Vénus</a> et <a
      href="/place/systeme/solaire/planete/mars">Mars</a>. On ne dispose, à l'époque, d'aucune preuve réelle de
  l'existence de ces engins, cependant sa <a href="/science/Theorie.html">théorie</a> bizarre frappe l'imagination
  populaire. Après Fort, il devient difficile de ne pas imaginer qu'il existe des <a
      href="/science/crypto/ufo/OVNI.html">objets volants non-identifiés</a>. Il suspecte que les mondes, encore non
  identifiés eux aussi, d'où viennent toutes ces choses étranges pourraient être très proche de nous, par exemple sous
  forme de corps célestes - ne réfléchissant pas la lumière et donc non observés - à quelques dizaines de miles en l'air
  <span class="source">"<a href="/time/1/9/2/0/02/15/ScientistSaysPlanetIsOnly50MilesAway">Scientist Says Planet Is Only 50
		Miles Away</a>" <em>Syracuse Herald </em>de Syracuse (New York), 15 février 1920</span>.
</p>
<p>Le royaume de l'inexpliqué est, bien sûr, fluide par nature. Parfois, des événements considérés comme mystérieux et
  <a href="/science/sur">surnaturels</a> à une époque sont parfaitement compris à une autre, lorsque les <a
      href="../../scientifiques.html">scientifiques</a> ont fait reculer les frontières de la connaissance. Plus de 60
  ans après la mort de Fort le <time>1932-05-03</time> dans le <span class="place">Bronx (New York)</span>, la plupart
  des énigmes qui a recensées restent sans solution <span class="source">Spencer 1997</span>.</p>
<p>Fort a inspiré le travail de divers chercheurs contemporains, tels <span class="people">Coral E. Lorenzen</span> ou
  <span class="people">William Roger Corliss</span>.</p>
<span class="source">Fort, C. H.: <em><a href="https://www.resologist.net/landsei.htm">New lands</a></em>, 1923</span>
<span class="source">Fort, C. H.: <em><a href="https://www.resologist.net/loei.htm">Lo!</a></em>, 1931</span> <span
    class="source">Fort, C. H.: <em><a href="https://www.resologist.net/talentei.htm">Wild
		talents</a>, </em>1932</span> <span class="source"><a href="https://www.research.umbc.edu/%7Efrizzell/info"><em> INternational
		Fortean Organisation</em> (INFO)</a></span> <span class="source">Thayer, Tiffany: <em>The books of <a
    href="index.html">Charles
		Fort, </a></em>Henry
Holte and Company, New York 1941.</span> <span class="source">"A Rain of Fishes", <em>Science</em>, 16 juin 1893</span>
<span class="source">"Do Fish Fall From the Sky?", Science, 22 avril 1949</span> <span class="source">"Fishes Fallen From the Sky", Science, 21 décembre 1923.</span>
<!--#include virtual="/footer.html" -->
