<!--#include virtual="/header-start.html" -->
<title>Rapport spécial n° 14 ‑ Projet Blue Book</title>
<meta content="https://bluebookarchive.org" name="url">
<meta content="BMI" name="author">
<meta content="ATIC" name="copyright">
<!--#include virtual="/header-end.html" -->
<p>Analyse de rapport d'objets aériens non identifiés - Projet n° {{10073 | number}}</p>
<ul>
  <li>
    <figure class="right side">
      <figcaption> Couverture de la 4ème édition du rapport</figcaption>
      <img alt="Rapport Blue Book N°14" src="Blue-Book-14.jpg">
    </figure>
    <a href="abstract">Synthèse</a>
  </li>
  <li><a href="introduction">Introduction</a></li>
  <li><a href="/time">Origine et nature des données</a></li>
  <li><a href="automated">Réduction des données à une forme pour traitement automatisé</a>
    <ul>
      <li><a href="automated#Questionnaire">Questionnaire</a></li>
      <li><a href="automated#Codage">Système de codage de feuille de travail</a></li>
      <li><a href="automated#working">Identification des documents de travail</a></li>
      <li><a href="automated#rapports">Evaluation de rapports individuels</a></li>
    </ul>
  </li>
  <li><a href="analysis">Analyse des données</a>
    <ul>
      <li><a href="analysis/distribution">Distributions de fréquence et pourcentage par caractéristiques</a>
        <ul>
          <li><a href="analysis/distribution#presentation">Présentation graphique</a></li>
        </ul>
      </li>
      <li><a href="analysis/study">Etude avancée des données</a>
        <ul>
          <li><a href="analysis/study/sun/index_fr.html">Position du Soleil par rapport à l'observateur</a></li>
          <li><a href="analysis/study/khi/index_fr.html">Test statistique du χ<sup>2</sup></a></li>
          <li><a href="analysis/study/saucer/index_fr.html">Le modèle des "soucoupes volantes"</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="conclusion">Conclusions</a></li>
  <li>Annexes
    <ol type="A">
      <li type="A">Tabulation de fréquence et distributions de pourcentage par caractéristiques</li>
      <li type="A">Formulaires de documents de travail
        <ol>
          <li>Proposition de feuille de données d'observateur</li>
          <li>Proposition de questionnaire d'observateur</li>
          <li>Feuille d'information de l'US Air Force</li>
          <li>Codes pour feuille de travail</li>
          <li>Feuille de travail</li>
          <li>Codes pour bible des cartes</li>
          <li>Bible des cartes</li>
          <li>Exemple d'une carte IBM</li>
        </ol>
      </li>
    </ol>
  </li>
</ul>
<!--#include virtual="/footer.html" -->
