<!--#include virtual="/header-start.html" -->
<title>Jean-Jacques Charbonier</title>
<!--#include virtual="/header-end.html" -->
<figure class="right side">
  <figcaption>Charbonier</figcaption>
  <img alt="Jean-Jacques Charbonier" src="portrait.jpg">
</figure>
<p>Charbonier naît le <time>1956-05-16</time> à <span class="place">Saint-Gaudens (Haute-Garonne)</span>.</p>
<p>En <time>1965</time>, en jouant au ballon dans la cour d'école, il se fracture la tête humérale en plusieurs
  fragments, dont il aurait guéri "miraculeusement" à <span class="people" title="Bernadette Soubirous">Lourdes</span>
  <span class="source">"<a href="https://www.larevuedelaudela.com/nos-collaborateurs/dr-jean-jacques-charbonier.htm">Dr Jean-Jacques Charbonier</a>", La Revue de l'Au-delà, n° 110, 2007-02.</span>.
</p>
<p>En <time>1986</time>, alors qu'il effectue son stage au SAMU, il ne parvient pas à réanimer une personne coincée sous
  des tôles, et affirme avoir ressenti l'<a href="/croyance/Ame.html">âme</a> de la victime quitter son corps mourant
  <span class="source">Charbonier, J.-J. : "<a
    href="https://www.ladepeche.fr/article/2017/10/01/2656410-serait-possible-communiquer-patients-coma.html">Il serait possible de communiquer avec des patients dans le coma</a>", La
    Dépêche,‎ 2017-10-01</span>.</p>
<p>Il devient anesthésiste réanimateur à <span class="place">Toulouse</span>.</p>
<p>En <time>2014</time>, à l'Université de Reims Champagne-Ardenne, il est directeur de la thèse de médecine soutenue
  par François Lallier sur les Facteurs associés aux <a href="/science/para/psi/nde">EMI</a> dans les arrêts
  cardiorespiratoires réanimés <span class="source">Lallier, F. : "<a
    href="https://www.sudoc.fr/183004965">Facteurs associés aux expériences de mort imminente dans les
    arrêts cardiorespiratoires réanimés</a>", Thèse de doctorat de l'université de Reims</span>.</p>
<section>
  <h2>TCH</h2>
  <p>En <time>2017-09</time>, il dépose un dossier auprès de l'Ordre des médecins pour réaliser des expériences d'<a
    href="/science/crypto/ufo/enquete/indice/temoignage/evaluation/Hypnose.html">hypnose</a> sur des patients
    volontaires. Il s'associe à Marc Leval (de la société ABC Talk Productions, spécialisée en spiritualisme et
    "médiumnité") et à Étienne Dupont <span
      class="note">Ingénieur du son, Producteur Radio et Directeur Artistique</span>, pour proposer des séances d'<a
      href="/science/crypto/ufo/enquete/indice/temoignage/evaluation/Hypnose.html">hypnose</a> permettant aux
    participants d'entrer en communication avec les morts. Sa méthode, qu'il appelle <abbr
      title="Trans Communication Hypnotique">TCH</abbr>, est condamnée par l'ordre des médecins. Avec ses associés, il
    co-fonde aussi l'<abbr title="Institut de Recherche et de Communication sur la Conscience Intuitive Extraneuronale"><a
      href="https://irccie.com">IRCCIE</a></abbr>.
  </p>
  <p>Geneviève Delpech (veuve du chanteur Michel Delpech), Michèle Torr et Bernard Werber ont participé aux ateliers TCH
    du docteur Charbonnier. Au total, plus de {{10000}} personnes auraient participé aux ateliers. Un atelier — qui dure
    en moyenne <time>P3H30M</time>, dont <time>P1H30M</time> d'<a
      href="/science/crypto/ufo/enquete/indice/temoignage/evaluation/Hypnose.html">hypnose</a> — coûte 98 € (voire 180
    CHF en Suisse) et réunit typiquement 40 participants. 200 ateliers sont organisés chaque année en France. <i><a
      href="https://www.abctalk.fr/evenement/lille-conference-15-juin-2018/">ABC Talk Productions</a></i> s'est associée
    à <i>MSC Croisières</i> pour organiser des croisières de 1 semaine sur le thème de la TCH au prix de 1369 €.</p>
  <span class="source"> Jean-Emmanuel : "<a
    href="https://street-hypnose.fr/tch-communiquer-avec-les-morts-jean-jacques-charbonier/">TCH : j’ai communiqué avec les morts grâce à Jean-Jacques Charbonier</a>", Street
    Hypnose</span>
</section>
<p>À partir de <time>2018-09</time>, Charbonier ne pratique plus qu'à mi-temps sa profession de médecin (à la <a
  href="https://clinique-croix-du-sud-toulouse.ramsaygds.fr">clinique privée de la Croix-du-Sud</a> (groupe Capio), à
  Quint-Fonsegrives dans la banlieue est de Toulouse), préférant se concentrer sur ses séances d'<a
    href="/science/crypto/ufo/enquete/indice/temoignage/evaluation/Hypnose.html">hypnose</a>.</p>
<section>
  <h2>Démêlés judiciaires</h2>
  <p>Début <time>2019</time> il est sanctionné par l'Ordre des Médecins pour avoir utilisé son titre de médecin pour
    promouvoir ses séances d'hypnose collective, au cours desquelles les participants pourraient voir leurs défunts
    <span
      class="source">A. M. : "Un anesthésiste sanctionné par l'Ordre pour avoir prétendu aider à communiquer avec les
      morts", Egora.fr, 2019-04-24</span>.</p>
  <p>Le <time>2019-02-06</time>, il est convoqué dans les locaux de la <abbr title="Section de Recherches">SR</abbr>
    avec son épouse pour s’expliquer sur des faits présumés de travail illégal et de blanchiment de fraude fiscale : les
    versements (à hauteur de plusieurs centaines de milliers d'euros) que lui et sa femme recevaient de la société <i>ABC
      Talk</i> n'ont pas été déclarés au fisc, comme le reconnaîtra Me Laure Saint-Germes, l'avocate de son épouse. Il
    est placé en garde-à-vue et plaidera la négligence et avoir été mal conseillé <span class="source">"Le médecin
    toulousain Jean-Jacques Charbonier, qui prétend aider à
    contacter les morts, placé en garde à vue", La Dépêche, 2020-02-07</span>. Ce mois-là il est condamné avec sursis à
    une interdiction d'exercer la médecine pendant 3 mois <span
      class="source">Kallenbrunn, Philippe : "<a
      href="https://www.ccmm.asso.fr/il-pretend-aider-a-contacter-les-morts-le-business-du-sulfureux-docteur-charbonier">Il prétend aider à contacter les morts : le business du sulfureux
      docteur Charbonier</a>", CCMM Centre Roger Ikor,‎ 2019-04-26</span>.</p>
  <p>Ce même mois, il fait l'objet d'une enquête pour négligence, suite à la plainte d'un patient qui aurait été opéré
    en restant paralysé, mais sensible à la douleur <span
      class="source">"<a
      href="https://samarew.com/toulouse-un-patient-accuse-de-negligence-le-docteur-charbonier-un-medecin-anesthesiste-qui-dit-communiquer-avec-lau-dela/">Toulouse : Un patient accuse de négligence le Docteur Charbonier, un médecin
      anesthésiste qui dit communiquer avec l’au-delà</a>", Samarew, 2020-02-17</span>.</p>
  <p>Il démissionne de la clinique où il exerçait.</p>
</section>
<p>En <time>2020-04</time>, il défend l'utilisation de la chloroquine comme traitement du <a
  href="/croyance/conspirationnisme/enquete/dossier/Covid19">Covid-19</a> <span
  class="source">Bernérias, Pierre (Thana TV): "<a
  href="https://www.youtube.com/watch?v=2sK39ITBWvw">Dr. Charbonier, sa position sur les décisions prises par le gouvernement contre le
    Covid-19</a>", YouTube, 2020-04-08</span> comme étant un traitement <q>sans danger</q> si l'on exclu les
  contre-indications, et considérant plus "humain" de faire des études sans placebo. Il indique qu'il vaut mieux
  considérer ce virus comme un <q>ami</q> que comme un <q>ennemi terrible</q> pour éviter de déclencher une réaction
  auto-immune.</p>
<!--#include virtual="/footer.html" -->
