<!--#include virtual="/header-start.html" -->
<title>Rapport du FUFOR, Octobre – Décembre 1990</title>
<meta name="author" content="T. Scott Grain, Jr.">
<meta name="url" content="https://presidentialufo.com/old_site/mj-12_book.htm">
<meta name="copyright" content="MUFON UFO Journal n° 276">
<!--#include virtual="/header-end.html" -->
<p>L'enquête sur le crash apparent de un ou plusieurs ovnis au large de <span class="place">Roswell, NM</span>, en
  <time>1947-07</time> a continué d'être l'objectif principal des activités du Fond au dernier trimestre
  <time>1990</time>.
</p>
<p>Le but principal était de lever au moins {{10000|currency:"$":0}} pour supporter les coûts des enquêteurs dans
  l'identification de témoins de 1ʳᵉ main supplémentaires, enregistrer leurs témoignages, et produire un enregistrement
  video de leurs témoignages. Une lettre fundraising requesting donations for the project was mailed to the Fund's
  supporters; copies of a briefing paper and a videotape were offered as premium for contributions of
  {{50|currency:"$":0}} and {{100|currency:"$":0}} respectively. As of December 31, the effort had generated more than
  {{16000|currency:"$":0}} in revenue.
</p>
<p>As a result of the fundraising appeal, we were able to compensate investigators <span class="people">Stanton T. Friedman</span>,
  <span class="people">Kevin D. Randle</span> and <span class="people">Donald Schmitt</span> for their costs in
  conducting interviews with more than a half-dozen additional witnesses located in four states. Their testimony, in
  addition to the interviews recorded at the Fund's "Crash II" conference in July, were edited into a <time>P25M</time>
  videotape entitled "Recollections of Roswell." Expenditures for the project at year's end were nearly
  {{10000|currency:"$":0}}. The total amount spent on crash/retrieval research in <time>1991</time> exceeded
  {{40000|currency:"$":0}}.
</p>
<p>Having reached its fundraising goal,the Fund is now able to make copies of the videotape and briefing paper available
  for purchase by the public (Those who already contributed to support the Roswell investigation will receive regular
  update reports). During the quarter, the Executive Committee approved the publication of several other items,
  including:
</p>
<ul>
  <li><em>Advanced Aerial Devices Reported During the Korean War</em> by <span class="people">Richard F. Haines</span>,
    Ph.D., un membre du Comité de Direction du Fond ;
  </li>
  <li><em>Phantom Helicopters Over Britain</em> by <span class="people">David Clarke</span> et Nigel Watson, le résultat
    d'une donation du <a href="/org/us/asso/FUFOR.html">FUFOR</a>; et
  </li>
  <li><em>The Allagash Affair</em> by <span class="people">Raymond Fowler</span>, un auteur et ufologue respecté ; une
    enquête détaillée sur l'<a href="/science/crypto/ufo/enquete/dossier/Allagash">enlèvement apparent de 4 hommes
      depuis un canoe sur le cour d'eau Allagash</a> dans le nord du Maine.
  </li>
</ul>
<p>Members of the Fund's Board con-ducted an extensive program of public appearances and media promotion during this
  period. Chairman <span class="people">Bruce Maccabee</span>, Ph.D., spoke at the International Conference on New
  Sciences at the University of Colorado, the "Show Me UFO Conference" in St. Louis, a conference cosponsored by the
  Center for Humanistic Studies and the Center for UFO Studies in Santa Barbara, CA; and the "UFO and Space Symposium"
  in Hakui City, Japan. The latter was particularly notable, because it was sponsored by the city and endorsed by the
  Japanese Prime Minister.
</p>
<p>Dr. <span class="people">Richard Haines</span> made a presentation of "Using Concepts from UFO Studies to Teach
  Science and Critical Thinking" at the Arizona State Teachers Association annual conference. Board members Don
  Berliner, <span class="people">Richard Hall</span>, Rob Swiatek and Fred Whiting attended a conference on "The UFO
  Experience" in North Haven, CT. And Mr. Berliner reported conducting a total of 39 media interviews resulting in more
  than 27 hours of air time in <time>1990</time>.
</p>
<p><time>1991</time> was a record-setting year for the Fund, in terms of both income and expenditures, primarily because
  of the "CRASH II" conference in July. As a result, the amount spent during the year on grants, awards and special
  projects (suchas the Roswell case investigation) exceeded $55,000, or nearly 70% of the Fund's total expenditures.
</p>
<p>Income from contributions is the only significant way we can support scientific research and education projects,
  inour effort to solve the UFO mystery.Because we have no office or paid staff, we are able to make maximum use of
  every dollar contributed.
</p>
<p>However, because of the increasingcost of postage and printing, we will no longer be able to send the Quarterly MUFON
  UFO JOURNAL No. 276 <time>1991-04</time> Report to individuals who have not made a contribution to the Fund in <time>1991</time>.
  Therefore, unless your contribution of at least $10 ($15 for residents of foreign countries) is received withinthe
  next 30 days, this may be the last Quarterly Report you will receive. We will send copies of Pat Nolan's UFODAZE, a
  listing of UFO reports for each day of the year, to those who res-pond to this appeal, as long as supplies last. (See
  address, next page.)
</p>
<section>
  <h2>Le livre sur le MJ-12</h2>
  <p>Rien ces dernières années n'a généré plus de controverse en ufologie que la publication du Document de Briefing de
    l'<a href="/science/crypto/ufo/enquete/dossier/MJDocs/Majestic12.html">Opération Majestic-12</a> en
    <time>1987</time>.
  </p>
  <p>Le document, daté du <time>1952-09-18</time>, indique que le <time>1947-09-24</time>, le président
    <span class="people">Harry S. Truman</span> a établi un comité secret de 12 scientifiques, [responsables]
    militaires, et responsables du renseignement pour superviser et étudier des ovnis écrasés ainsi que leurs occupants.
  </p>
  <p>Le 1er cas du Majestic [avait] eu lieu 2 mois plus tôt, lorsque l'équipe aurait récupéré un disque écrasé le <time>1947-07-07</time>
    près de <span class="place">Roswell (Nouveau-Mexique)</span>. Bien que le <a
        href="/science/crypto/ufo/enquete/dossier/Roswell">crash de Roswell</a> soit bien documenté dans la littérature
    ufologique, ce qui est décrit dans le <a href="/science/crypto/ufo/enquete/dossier/MJDocs">document MJ-12</a> en
    lui-même est-il une description exacte de la récupération ? Durant 4 ans des chercheurs ont débattu pour savoir si
    le <a href="/science/crypto/ufo/enquete/dossier/MJDocs">document MJ-12</a> était authentique et si le contenu du
    document représentait ou non la réalité.
  </p>
  <p>Peu après que le <a href="/science/crypto/ufo/enquete/dossier/MJDocs">document du MJ-12</a> ait été publié,
    l'ufologue du Manitoba <span class="people">Grant Cameron</span> et moi-même avons commencé à chercher d'ancien
    scientifiques qui auraient pu avoir connaissance du comité MJ-12. Nous avons travaillé en supposant que le document
    était exact dans sa description d'un groupe spécial chargé de gérer les récupérations d'ovnis pour le gouvernement.
    Si le <a href="/science/crypto/ufo/enquete/dossier/MJDocs/MJ-12.html">MJ-12</a> était réel, quelqu'un travaillant
    dans les couches supérieures du gouvernement se souviendrait sûrement d'un commité de ce nom qui était actif à la
    fin des années 1940s et au début des années 1950s.
  </p>
  <p>Confirmer le <a href="/science/crypto/ufo/enquete/dossier/MJDocs/MJ-12.html">MJ-12</a> a été difficile. Tous les
    membres désignés du <a href="/science/crypto/ufo/enquete/dossier/MJDocs/MJ-12.html">MJ-12</a> d'origine sont morts.
    Bien que divers documents gouvernementaux supposés aient été dévoilés faisant des allusions au comité
    <a href="/science/crypto/ufo/enquete/dossier/MJDocs/MJ-12.html">MJ-12</a>, le gouvernement des USA n'a pas reconnu
    publiquement que ces documents ou, pour la question qui nous occupe, les
    <a href="/science/crypto/ufo/enquete/dossier/MJDocs">document du MJ-12</a>, sont authentiques.
  </p>
  <p>Un développement intéressant eut lieu en <time>1983-11</time>, lorsque l'ufologue <span class="people">William Steinman</span>
    reçu une réponse écrite du physicien américain <span class="people">Robert I. Sarbacher</span> concernant les
    récupérations d'ovnis. Au début des années 1950s, Sarbacher travaillait comme consultant pour le Research and
    Development Board des militaires, le même comité qui aurait contrôlé
    l'<a href="/science/crypto/ufo/enquete/dossier/MJDocs/Majestic12.html">Opération Majestic-12</a>, selon les
    <a href="/science/crypto/ufo/enquete/dossier/MJDocs">document du MJ-12</a>.
  </p>
  <p>Dans sa lettre à <span class="people">Steinman</span>, Sarbacher rapporte que des réunions secrètes sur les
    récupérations d'ovnis se tenaient mais [qu']il n'y assistait pas personnellement. <span class="people">Gordon Creighton</span>
    écrivit dans le n° de <time>1985-10</time> de la <a href="/org/uk/media/press/FSR.html">FSR</a>, publiée en
    Angleterre, que le Dr. Sarbacher avait déclaré [que] ces réunions se tenaient à <a href="/org/us/dod/af/base/WPAFB">WPAFB</a>
    à <span class="place">Dayton (Ohio)</span>.
  </p>
  <p>Apparemment les personnes impliquées dans les récupérations devaient rapporter leurs découvertes aux scientifiques
    liés au Research & Development Board. Sarbacher écrivit [à] Steinman qu'il avait parlé à certaines personnes du
    bureau de ce qu'il avait été appris. Selon Sarbacher, des laboratoires des USA avaient analysé du matériel issu
    d'ovnis écrasés et... les pilotes ressemblaient à certains insectes observé sur Terre.
  </p>
  <p>Lors d'une interview téléphonique avec le chercheur <span class="people">Stanton T. Friedman</span>, il fut demandé
    à Sarbacher s'il se rappelait de quiconque ayant assisté à ces réunions. Sarbacher donna suffisamment d'éléments à
    Friedman sur un scientifique qu'il se souvenait avoir vu pour que lorsque Steinman recoupa l'information, la
    description correspondit au Dr. Eric A. Walker, l'ancien président de l'<span class="place">Université d'état de Penn</span>.
  </p>
  <p>Steinman dit avoir appelé Sarbacher afin de confirmer ses suspicions et [que] Sarbacher aurait confirmé que le Dr.
    Eric Walker, qui était alors Secrétaire Executif du Research & Development Board, avait assisté à toutes les
    réunions sur les ovnis. Lorsque <span class="people">Cameron</span> et moi-même découvrîmes [que] le Dr. Walker
    aurait pu être impliqué, nous décidâmes de commencer à documenter de ce qu'il aurait pu apprendre de ces réunions et
    ce que les gouvernements canadien et américan faisaient de cette connaissance tout nouvelle.
  </p>
  <p>Bien que notre enquête ait démarré en <time>1987</time>, <span class="people">William Steinman</span> a eu
    connaissance de l'implication potentielle de Walker depuis<time>1984</time>. Après plusieurs tentatives
    [inproductives] de correspondre avec Walker par courrier, Steinman lui téléphona le <time>1987-08-30</time>. Lors de
    la conversation, Steinman dit que Walker avait indiqué connaître le MJ-12 depuis <time>1947</time> et que Steinman
    <q>fouillait dans un domaine où il ne pourrait absolument rien faire</q> et qu'il devrait <q>laisser tomber.</q>
  </p>
  <p>Cameron et moi-même poursuivirent la piste de Walker pour un livre sur lequel nous travaillions intitulé <em>OVNIs,
    MJ-12, et le Gouvernment</em> [sous-titré: <em>Un rapport sur l'implication du gouvernement dans les récupérations
    de crashes d'ovnis</em>] jusqu'en <time>1991</time>.
  </p>
  <p>Walker fut contacté par divers ufologues entre <time>1987/1990</time>, et nous eûmes accès aux notes de ces
    conversations où Walker fit quelques remarques très ingénues sur le MJ-12 et les
    <a href="/science/crypto/ufo/observation/scenario/Crashes.html">crashes d'ovnis</a>. Dans une conversation de <time>1990</time>,
    Walker décrivit le MJ-12 comme une <q>poignée d'élites</q> et [that] qu'il saurait si vous étiez invité dans le
    groupe.
  </p>
  <p>À côté témoignage depuis l'intérieur de Walker, nous avons enquêté sur plusieurs autres scientifiques qui auraient
    pu être impliqués, dont le Dr. <span class="people">Luis W. Alvarez</span>, lauréat d'un Prix Nobel, qui aurait
    assisté à la récupération d'une soucoupe au Mexique.
  </p>
  <p>Nous avons fréquemment correspondu avec le commentateur de l'actualité <span class="people">George Knapp</span> de
    KLAS-TV à <span class="place">Las Vegas (Nevada)</span>, pour avoir l'histoire derrière le physicien
    <span class="people">Robert Lazar</span>, qui prétend que le gouvernement possède au moins 9 soucoupes volantes avec
    lesquelles ils font des vols d'essai et gardent de côté à la base USAF de Nellis, au Nevada.
  </p>
  <p>Nous avons examinés les expériences que des ufologues notables ont eu en traitant du gouvernement, dont celles de
    <span class="people" title="William L. Moore">Bill Moore</span>, <span class="people" title="Linda Moulton Howe">Linda Howe</span>,
    <span class="people">Wilbert B. Smith</span>, <span class="people">Lee Graham</span> and <span class="people">Donald E. Keyhoe</span>.
  </p>
  <p>Nous avons aussi examiné les agents putatifs du gouvernement semblant être impliqués, comme <span class="people">Richard Doty</span>
    et plusieurs qui reçurent les noms de <q>Faucon</q> et <q>Condor</q>. Nous avons examiné plusieurs crashes d'ovnis
    dans lesquels le gouvernement semble être impliqué, dont ceux <a
        href="/science/crypto/ufo/enquete/dossier/Roswell/index.html">de Roswell (Nouveau-Mexique)</a> ; <a
        href="/science/crypto/ufo/enquete/dossier/Kecksburg">Kecksburg (Pennsylvanie)</a> ; et du <a
        href="/science/crypto/ufo/enquete/dossier/SouthAfricaCrash">Désert du Kalahari (Afrique du Sud)</a>.
  </p>
  <p>Stan Gordon (directeur d'Etat du MUFON) nous a ouvert ses archives sur le
    <a href="/science/crypto/ufo/enquete/dossier/Kecksburg">crash d'ovni de Kecksburg</a> en <time>1965</time>. De
    nouveaux éléments publiés en <time>1990-12</time> indiquaient que l'objet à forme de gland [récupéré] fut par la
    suite emporté à <a href="/org/us/dod/af/base/WPAFB">WPAFB</a>.
  </p>
  <p>Nous avons correspondu avec <span class="people">Michael Hesemann</span> en Allemagne et <span class="people">Henry Azadehdel</span>
    en Angleterre pour dévoiler les faits derrière le <a href="/science/crypto/ufo/enquete/dossier/SouthAfricaCrash">supposé
      incident en Afrique du Sud</a> en <time>1989</time>, où un ovni aurait prétendumment été abattu par un pilote de
    la Force Aérienne Sud Africaine.
  </p>
  <p>Enfin, nous avons exploré la possibilité que peut-être ce qui pourrait être appris des
    <a href="/science/crypto/ufo/observation/scenario/Crashes.html">crashes d'ovnis</a> à la fin des années 1940s/début
    des années 1950s pourrait avoir été capital pour aider le gouvernement des USA à développer certaines technologies
    qui sont aujourd'hui utilisées sur des appareils avancés testés secrètement dans la zone "Dreamland" de la base
    aérienne de Nellis.
  </p>
  <p>Les éléments que nous avons rassemblés semblent indiquer [que] le gouvernement a développé des équipes pour
    récupérer des objets aériels inconnus, qu'ils ont analysé les matériels ovnis récupérés, et [qu'] ils essaient
    maintenant de reproduire la technologie sur les appareils d'aujourd'hui.
  </p>
  <p>Notre livre présente un mélange intéressant de divers documents, lettres, notes téléphoniques et photographies du
    gouvernement détaillant comme celui-ci trompe le public sur la véritable nature des ovnis.
  </p>
  <p><em>Le nouveau livre de Grant Cameron et Scott Crain,</em> UFOs, MJ-12, and the Government - A Report on Government
    Involvement in UFO Crash Retrievals<em> est publié par le MUFON et sera disponible le <time>1991-05-01</time>. Le
      livre cartonné 8.5x11 de 218 pages est largement illustré de documents, correspondance et photographies. Le prix
      de ce livre révélateur est de $18.45 plus $1.50 pour frais de port, totalisant $19.95. Les commandes sont
      aujourd'hui prises par le MUFON à Seguin (Texas). Les chèques doivent être à l'ordre du MUFON aux USA. Toutes les
      commandes depuis l'étranger doivent être faites par Mandat Postal International, chèques payables à une banque des
      USA avec electronic route coding across en bas du chèque, ou en liquide en dollars U.S.</em>
  </p>
</section>
<!--#include virtual="/footer.html" -->
