<!--#include virtual="/header-start.html" -->
<title>La controverse Walton-Klass</title>
<meta name="author" content="APRO">
<meta name="copyright" content="The APRO Bulletin, vol. 5, n° 1">
<!--#include virtual="/header-end.html" -->
<p><span class="people">Phil J. Klass</span> a publié une "révélation" sur
  <a href="/science/crypto/ufo/enquete/dossier/WaltonTravis">l'affaire Travis Walton</a> prétendant qu'il s'agit d'un
  <a href="/science/crypto/ufo/enquete/dossier/canular">canular</a>. Il prétend aussi que l'<a href="/org/us/asso/apro">APRO</a>
  a caché, à ses membres comme au public, des informations indiquant que l'affaire était un
  <a href="/science/crypto/ufo/enquete/dossier/canular">canular</a>. Ses déclarations sont infondées. On devrait se
  rappeler ici que <span class="people">Phil J. Klass</span>, avec ses 2 livres à succès anti-ovni et son offre de
  {{10000|currency:"USD$"}} l'a "catalogué" par rapport au mystère ovni et il doit donc voir tout bon cas comme une
  menace. A cet égard, son exposé est une sorte de soutien paradoxal.
</p>
<p>Son rapport copyrighté de 17 pages est arrivé dans nos bureaux le <time>1976-07-10</time> transmis par un membre. Les
  media du secteur on reçu leurs copies bien avant cela, et l'<a href="/org/us/asso/apro">APRO</a> n'a reçu aucune copie
  directe de la part de Klass au moment où sont rédigées ces lignes.
</p>
<p>Selon Phil, le grand péché de l'APRO a été de cacher des informations sur un test au polygraphe (il insiste sur le
  fait de l'appeler "détection de mensonges") auquel Travis avait été soumis le <time>1975-11-15</time> et auquel il
  avait échoué. Ce qu'il ne dit pas est que 3 psychiatres ayant examiné Travis à cette occasion ont declaré que test non
  interprétable en raison de l'état d'esprit de Walton et des circonstances dans lequel il a été administré.
</p>
<p>Un d'entre eux, le Dr. Jean Rosenbaum, a publié une déclaration dans la presse à cette date dans laquelle il fait
  part de sa certitude que Travis ne mentait pas et qu'aucune drogue n'avait été utilisée lors de son expérience. Klass
  ignore totalement cela et préfère citer les spéculations de Rosenbaum sur les supposés intérêt de Walton pour le sujet
  des ovnis.
</p>
<p>L'opinion de Rosenbaum est particulièrement importante concernant la validité du
  <a href="/science/crypto/ufo/enquete/indice/temoignage/evaluation/Polygraphe.html">polygraphe</a> puisqu'il a été
  accepté dans plusieurs affaires judiciaires comme expert dans le domaine. Il ne peut en aucun cas être considéré comme
  préjudiciable en faveur de la théorie de l'enlèvement par un ovni puisqu'il a personnellement exprimé l'opinion que
  Walton n'avait pas été enlevé mais avait eu une expérience psychotique.
</p>
<p>L'opérateur du <a href="/science/crypto/ufo/enquete/indice/temoignage/evaluation/Polygraphe.html">polygraphe</a>
  n'était qu'un des divers experts consultés par le <em>National Enquirer</em> pour les aider à se faire une opinion sur
  la validité du cas Walton. L'opérateur, McCarthy, avait été recommandé par un membre de l'<a href="/org/us/asso/apro">APRO</a>
  vivant à <span class="place">Phoenix</span> qui savait seulement que McCarthy avait une grande expérience dans le
  domaine. M. <span class="people" title="James E. Lorenzen">Lorenzen</span> commença par appeler McCarthy pour
  s'assurer de sa volonté de participer. A l'acceptation de celui-ci, Lorenzen passa le téléphone au Dr.
  <span class="people" title="James A. Harder">Harder</span> qui discusta longuement de l'état d'esprit agité dans
  lequel se trouvait Travis et exprima ses doutes quant à la testabilité de Travis. McCarthy promit de prendre cela en
  compte, et promit une confidentialité totale. <q>Les informations ne sortiront jamais de ce bureau</q>, dit-il <q>vous
    pouvez être rassuré là-dessus.</q> Par la suite, le Dr. <span class="people" title="James A. Harder">Harder</span>
  passa le téléphone à Paul Jenkins de l'<em>Enquirer</em> qui organisa le déroulement du test.
</p>
<p>Initialement, l'instance de l'<em>Enquirer</em> sur la confidentialité était liée à leur intérêt à protéger leur
  histoire et il avait été convenu entre McCarthy et l'<em>Enquirer</em> que les résultats du test seraient leur
  propriété. L'<em>Enquirer</em> avait en retour promis à Travis qu'ils ne révèleraient pas les résultats du test dans
  la permission de Travis. L'APRO, représentée par le Dr. Harder, devait être tenue au courant des résultats du test en
  gardant à l'esprit qu'il s'agissait d'informations privilégiées. Lorsque la validité des résultats du test fut rejetée
  par les autres experts consultés, il n'y avait, bien sûr, plus d'intérêt à demander leur publication puisqu'ils
  étaient devenu une information d'un point de vue scientifique. Un autre point très important (aujourd'hui que la
  contrainte de confidentialité est plus d'actualité) est que le test administré par McCarthy le <time>1975-11-15</time>
  était incroyablement incompétent. Dans son interview de Travis préalable au test et dans le cadrage des questions il
  dérogea à certaines des règles les plus élémentaires de la profession polygraphique. En particulier (1) deux questions
  significatives furent posées dans des termes qui obligeaient Travis à répondre en terme de supposition plutôt que de
  vécu. (2) A une 3ᵉ question du test, McCarthy, lors de l'interview préalable au test, fit une association délibérée
  avec un événement du passé de Travis dont il avait honte.
</p>
<p>Les questions du test au polygraphe doivent être élaborées de manière à ce que l'on puisse y répondre par un simple
  "oui" ou "non", et doivent donc être conçues pour que le sujet puisse répondre d'après son propre vécu et ou ses
  connaissances. La 1ʳᵉ question du test de McCarthy a violé ces simples concepts. Elle était :
</p>
<p>1. Avez-vous effectivement été emmené à bord d'un vaisseau spatial le 5 novembre ?
</p>
<p>Travis était "contraint". La question l'obligeait à spéculer puisque sa mémoire n'avait pas l'information nécessaire
  pour répondre à la question. Des opérateurs au polygraphe expérimentés savent que cette situation produira la réaction
  de stress qu'ils appellent tromperie. Dans l'interview préalable au test Travis venait juste d'expliquer à McCarthy
  qu'il ne se souvenait de rien après avoir été comme soufflé physiquement après avoir approché l'ovni et que son
  souvenir suivant était de se retrouver sur le dos dans ce qu'il avait d'abord pris pour un hôpital et n'avoir aucune
  idée du temps qui avait pu s'écouler entretemps.
</p>
<p>La question suivante de McCarthy n'est pas meilleure. Elle est :
</p>
<p>2. Etiez-vous réellement à bord d'un vaisseau spatail du 5 novembre au 10 novembre ?
</p>
<p>Travis avait répété avec insistance qu'il ne savait pas où il était et que, de la période de 5 jours, il ne se
  souvenait que <time>P2H</time> tout au plus.
</p>
<p>Il n'y avait aucune manière pour Travis, qu'il dise "oui" ou "non", de passer ces 2 premières questions.
</p>
<p>Décrire ce test comme non-significatif comme nous l'avons fait est vraiment trop gentil. Il était vraiment bâclé par
  le testeur. Parfois de longues années d'expérience ne servent qu'à crystalliser de mauvaises habitudes.
</p>
<p>Au cours de toute étude scientifique les personnes la menant obtiendront des résultats de tests qui ne permettent pas
  de conclure. Le chemin à suivre dans ce cas est à l'évidence de re-tester d'une manière qui puisse être concluante.
  C'est ce que l'APRO a fait. Nous avons pensé qu'il serait plus judicieux et approprié d'appeler le Dr. <span
      class="people" title="Ronald Leo Sprinkle">R. Leo Sprinkle</span>, directeur du département de conseil et tests de
  l'Université du Wyoming afin d'apporter son aide sur cette question. Le Dr. Sprinkle accepta mais ce ne fut pas avant
  le <time>1976-02-07</time> que son agenda chargé ne lui permit de venir à Phoenix où il a rencontré M. <span
      class="people" title="James E. Lorenzen">Lorenzen</span> et Duane et Travis Walton.
</p>
<p>Dans le même temps, Le Dr. Cahn (consultant de l'APRO) avait établi des contacts préliminaires avec Tom Ezell de
  Ezell & Associates afin de s'assurer de son accord pour mener le test souhaité. M. Lorenzen appela M. Ezell environ
  une semaine avant la visite prévue du Dr. Sprinkle et proposa un rendez-vous afin de tester Duane Walton à 13:00.
  Travis devait faire le voyage de <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">160</span> <span itemprop="unitCode" content="SMI">miles</span>
    </span> depuis <span class="place">Snowflake</span> et comme il avait des problèmes avec sa voiture l'heure de son
  arrivée était si indéfinie qu'aucun rendez-vous ne fut fixé pour lui. Lorsque M. Lorenzen appela M. Ezell le <time>1976-02-06</time>,
  pour confirmer le rendez-vous, M. Ezell demanda s'il serait possible que son associé M. George Pfeifer mène le test.
  M. Lorenzen demanda plus de détails sur la compétence de M. Pfeifer et il lui fut répondu que <q>Il est aussi qualifié
    que moi. Il est au fait de toutes les dernières méthodes.</q> M. Lorenzen accepta alors George Pfeifer comme
  testeur.
</p>
<p>Le <time>1976-02-07</time> le Dr. Sprinkle, le Dr. Cahn, Hal Starr et Jim Lorenzen rencontrèrent M. Pfeifer et
  discutèrent des points à couvrir dans le test de Duane. Un ensemble de questions formulées par le Dr. Sprinkle fut
  proposé. M. Pfeifer les examina et fit quelques changements de formulation. Ces questions furent alors passées en
  revue avec Duane Walton et Duane entra pour son test. Pendant que le test de Duane, Travis arriva de Snowflake et
  demanda s'il pouvait être testé juste après Duane. M. Lorenzen dit <q>Pas de problème pour l'APRO du moment que M.
    Pfeifer a le temps.</q> M. Starr, M. Lorenzen, le Dr. Sprinkle et le Dr. Cahn commençèrent à discuter des sujets à
  couvrir dans le test de Travis. Travis, avec des amis qui l'avaient accompagné depuis Snowflake, alla se promener dans
  le parc derrière la rue du bureau de Ezell & Associates.
</p>
<p>Duane sortit du test et partit immédiatement, ayant des affaires privées à régler. On demanda à Pfeifer s'il était
  d'accord pour tester Travis et il accepta. Lorsque Travis et ses amis revinrent du parc les questions de son test
  étaient prêtes. Lorsque nous les passâmes en vue avec M. Pfeifer il indiqua que certains sujets liés à des accusations
  faites contre lui n'étaient pas couvertes dans le test. Des questions furent alors formulées suivant des formes
  suggérées par M. Pfeifer. Malheureusement, dans son rapport formel Pfeifer décrit ces questions comme ayant été
  "dictées" par Travis Walton. Il dit que "suggérées" serait une représentation plus exacte des faits.
</p>
<p>Cependant, en aucun cas cela ne justifie les prétentions de Klass, attribuées à Ezell, selon lesquelles Travis sera
  venu avec les question qu'il voulait qu'on lui pose.
</p>
<p>Tom Ezell est cité par Klass comme disant que le test Travis-Pfeifer devrait être invalidé parce que Travis avait
  fourni certaines ("certaines" est étendu à "toutes" dans le récit de Klass) de ses propres question. D'autres
  opérateurs disent qu'il est courant d'accepter une aide du sujet - fournir ses propres suggestions est valide dans le
  domaine des tests.
</p>
<p>Nous sommes désolés de prendre autant d'espace du Bulletin pour expliquer tout cela. La théorie du canular de Klass
  sera <a href="../../../08/AproBulletin_v25_n2/Controversy">traitée dans le prochain numéro</a>. Il suffit de dire que
  le Service des Forêts n'a pas "cru" la théorie du canular. Mike Rogers est de retour au travail sur un autre contrat
  au moment où sont rédigées ces lignes.
</p>
<p>Egalement, Rogers, Walton et les autres bucherons ont lancé un défi à Klass : ils passeront tous un autre test avec
  un expert que Klass trouve acceptable s'il est prêt à payer s'ils réussissent - autrement cela ne lui coûtera rien.
  Klass est toujours équivoque là-dessus.
</p>
<!--#include virtual="/footer.html" -->
