<!--#include virtual="/header-start.html" -->
<title>CNRS</title>
<!--#include virtual="/header-end.html" -->
<p>Le <em>Centre National de la Recherche Scientifique</em>, premier centre de recherche fondamentale en Europe. Il
  compte près de {{12000|number}} chercheurs, {{14000|number}} ingénieurs, techniciens et administratifs. Son budget
  annuel équivaut au quart du budget de la recherche civile de la France. Ses laboratoires propres et ceux qu'il anime
  en collaboration avec les universités, les autres organismes de recherche et les industries sont répartis sur tout le
  territoire national ; quelques-uns sont établis à l'étranger. Tous les domaines du savoir sont représentés, de la
  physique aux sciences humaines et sociales, en passant par les mathématiques, la biologie et la chimie.
</p>
<p>Le CNRS est créé par un décret du Président de la République Albert Lebrun, le <time>1939-10-19</time>, quelques
  jours après le début de la 2nde guerre mondiale. A cette époque, le CNRS a pour vocation de regrouper tous les
  organismes d'État, non spécialisés, de recherche fondamentale ou appliquée, et de coordonner les recherches à
  l'échelon national. Il est le fruit de la clairvoyance et de la persévérance de quelques scientifiques, parmi lesquels
  Jean Perrin, prix Nobel de physique en <time>1926</time>. Ce dernier est à l'origine de la fusion de la Caisse
  nationale de la recherche scientifique avec l'Office national des recherches scientifiques et des inventions en 1938.
  Et c'est ce Centre national de la recherche scientifique appliquée, ainsi créé, qui devient, en 1939, le Centre
  national de la recherche scientifique.
</p>
<p>La guerre sévissant, le CNRS consacre ses premières années aux recherches appliquées : militaires jusqu'à
  l'armistice, et économiques jusqu'en <time>1944</time>. Recherches atomiques, détection par ondes radio, produits
  alimentaires de substitution... sont autant de recherches menées dans les laboratoires financés par le CNRS, pendant
  ces années de guerre. Le véritable essor du CNRS débute après la victoire de <time>1945</time> : l'organisme s'oriente
  alors nettement vers la recherche fondamentale. La recherche appliquée est confiée à de grands organismes spécialisés
  et créés à cet effet : l'<abbr
      title="Institut français de recherche scientifique pour le développement en coopération">ORSTOM</abbr> spécialisé
  dans la recherche outre-mer, le <s><abbr
      title="Centre national d'études des télécommunications">CNET</abbr></s> et le <abbr
      title="Commissariat à l'Energie Atomique">CEA</abbr>.
</p>
<p><time>1966</time> voit la mise en place d'une importante mutation structurelle au sein du CNRS. Sa mission est
  étendue, et son but est d'aider l'ensemble de la recherche française. Cela commence par la création d'unités associées
  : des laboratoires universitaires, soutenus par le CNRS grâce à ses moyens humains et financiers, et liés avec lui par
  un contrat d'association. Un peu plus tard, sont créés 2 instituts fédératifs : l'Institut National d'Astronomie et de
  Géophysique (<time>1967</time>), qui deviendra ultérieurement l'<abbr
      title="Institut National des Sciences de l'Univers">INSU</abbr>, et en 1971, l'<abbr title="Institut National de Physique
    Nucléaire et de Physique des Particules">IN2P3</abbr>. Ces deux structures coordonnent les efforts du CNRS et de
  l'enseignement supérieur pour lancer et conduire de nouveaux programmes scientifiques, construire et gérer des
  équipements lourds, tels le télescope franco-italien Thémis aux Canaries pour l'<abbr
      title="Institut National des Sciences de l'Univers">INSU</abbr>, ou l'<abbr title="Installation Européenne de Rayonnement
    Synchrotron">ESRF</abbr> à Grenoble pour l'IN2P3.
</p>
<p>C'est aussi dans les années 1960s que <span class="people">Jean-Pierre Petit</span> commence à travailler sur la <a
    href="/science/discipline/hard/nat/mat/phys/MHD.html">MHD</a>, dans le cadre d'un projet expérimental du laboratoire
  de mécanique des fluides du CNRS, à <span class="place">Marseille</span>. Cependant les événements de
  <time>1968</time> lui font abandonner : Petit décide d'abandonner la recherche expérimentale — et donc de quitter
  le laboratoire
  — et de s'investir de plus en plus dans la théorie pure. Il reste au CNRS, apprend la théorie cinétique des gaz,
  l'astrophysique. En <time>1972</time>, il soutient sa thèse d'Etat — dont la rédaction a commencée en secret
  — sur la théorie des plasmas stellaires et galactiques. En <time>1974</time> il intègre l'<a
      href="https://www.astrsp-mrs.fr">Observatoire de Marseille</a> du CNRS, où il fait la connaissance de l'astronome
  <span class="people">Maurice Viton</span> <span class="source">Petit: 1991</span>.
</p>
<p>Au cours des années 1970s, l'intérêt pour des recherches finalisées s'affirme avec la création du département des
  sciences pour l'ingénieur. Sa vocation : développer une recherche fondamentale susceptible de répondre aux problèmes
  posés par les industriels. Les années 1980s sont marquées par une évolution des découvertes scientifiques, souvent à
  la croisée de diverses disciplines. La science évolue, le CNRS également : il inaugure une politique d'actions
  interdisciplinaires de recherche. Ces dernières réunissent, sur un thème donné, des chercheurs de disciplines
  scientifiques différentes, qui tentent de répondre aux questions posées par la société à la science. La santé,
  l'énergie, l'environnement en sont des exemples. Dans le même temps, le CNRS s'ouvre aux autres organismes de
  recherche, tel l'<abbr title="Institut National de la Santé Et de la Recherche Médicale">INSERM</abbr> ou, plus
  récemment, à l'industrie en créant des unités mixtes, gérées conjointement par le CNRS et une entreprise publique ou
  privée. Intensifiant ses partenariats et participant à l'effort national d'optimisation des moyens de la recherche
  publique, le CNRS est le premier des organismes nationaux de recherche à s'engager dans la "contractualisation" au
  cours des années 1990s.
</p>
<p>Ont travaillé au CNRS :</p>
<ul>
  <li><span class="people">Alain Peyrefitte</span></li>
  <li><span class="people">Peter A. Sturrock</span> de 1950 à 1951</li>
  <li>Jean-Pierre Petit</li>
  <li><span class="people">Hubert Curien</span>, directeur général de 1969 à 1973</li>
  <li>Pierre Papon, directeur général au début des années 1980</li>
  <li><span class="people">René Pellat</span>, qui en préside le conseil d'admnistration de 1989 à 1992</li>
  <li><span class="people">Pierre Guérin</span>, Directeur de recherche à l'<a
      href="/org/eu/fr/iap">IAP</a>.
  </li>
  <li>Gérard Mégie</li>
</ul>
<!--#include virtual="/footer.html" -->
