<!--#include virtual="/header-start.html" -->
<title>NSA</title>
<meta content="https://www.nsa.gov" name="url">
<!--#include virtual="/header-end.html" -->
<p>La <i lang="en">National Security Agency</i> est l'organe responsable de la coordination, de la conduite et de
  l'exécution de toutes les mesures cryptologiques pour le gouvernement américain. Elle rassemble, exploite et distribue
  les informations issues de l'exploration électronique pour les besoins du <a href="../../dod">DoD</a> ou d'autres
  services. La NSA est également responsable de l'exécution des mesures de protection électronique et de la sécurité
  informatique pour le gouvernement américain. C'est l'un des organes de renseignement le plus secret de la <a
      href="..">communauté américaine du renseignement </a>(elle fut surnommée dans les milieux du renseignement <q>No
    Such Agency</q>). Son budget annuel est évalué à 4 milliards $ <span class="note">En <time>1997</time></span> et ses
  effectifs à {{38000 | number}} personnes à travers le monde (<time>1996</time>), dont environ {{20000 | number}}
  personnes dans le Maryland et le personnel du <a href="/org/us/dod/css">CSS</a>.
</p>
<p>À la suite d'un memorandum classifié <a href="/org/ClassificationSecret.html#TS">Top Secret</a>, intitulé <em>Communications
  Intelligence Activities</em> daté du <time>1952-10-24</time>, le Président <span class="people">Harry S. Truman</span>
  abolit l'<a href="../../dod/af/AFSA.html">AFSA</a> et crée la NSA le <time>1952-11-04</time>. Comme son nom l'indique
  la NSA agit au profit du <a href="../../dod">DoD</a> dont elle dépend. Les tâches de la NSA sont définies par la <a
      href="../../NSC.html"><i lang="en">National Security Council</i></a> Intelligence Directive n°6, dont peu de
  détails sont connus. La NSA fonctionne en vertu des objectifs, besoins et priorités établies par le <del><a
      href="../DCI.html">DCI </a></del><a href="../DNI.html">DNI</a>. Elle est restée secrète durant plusieurs années et
  son existence n'a été officiellement reconnue qu'en <time>1957</time>.</p>
<p>La NSA est organisée en groupes :</p>
<ul>
  <li>Le groupe P est responsable du renseignement électronique. Il est composé, entre autres du :</li>
  <li>Groupe W, également appelé <abbr title="Defense Special Missile & Astronautics Center ">DEFSMAC</abbr>, qui
    recherche et traite les informations concernant les lancements de missiles et fusées dans le monde. Il est composé
    de personnel de la NSA, de la <a href="../cia">CIA</a> et de la <a href="../../dod/dia">DIA</a>.
  </li>
  <li><a href="NSOC.html">NSOC</a>.</li>
  <li>Le Groupe R s'occupe des problèmes de Recherche et d'études scientifiques et mathématiques, d'une part pour la
    mise au point de systèmes <a href="/tech/info/soft/sec/privacy/crypto">cryptologiques</a>, d'autre part pour
    déchiffrer les informations chiffrées ;</li>
  <li>Le Groupe S est responsable de la Sécurité informatique et des communications, au profit des autres organes
    fédéraux (<a href="../fbi">FBI</a>, Département d'État, <a href="../../dod/dia">DIA</a>).</li>
</ul>
<figure class="left side">
  <figcaption> Le campus de la NSA à Fort Meade (Maryland)</figcaption>
  <img alt="Le campus de la NSA à Fort Meade (Maryland)" src="nsa-place.jpg"/>
</figure>
<p>La NSA entretient un certain nombre de stations d'écoute électronique à travers le monde et en exploite certaines en
  collaboration avec d'autres services (<a href="/org/uk/GCHQ.html">GCHQ</a>, <a href="/org/ca/CSE.html">CSE</a>, <a
      href="/org/au/DSD.html">DSD</a>) en vertu de l'accord <a href="../../../UKUSA.html">UKUSA</a>. Elle échange
  également des informations avec l'<a href="/org/za">Afrique du Sud</a>.
</p>
<p>La NSA mène également des écoutes électroniques à partir de navires, dont l'existence a été révélée lors de l'affaire
  de la capture de l'équipage du PUEBLO par les forces nord-coréennes le <time>1968-01-23</time>. Elle recueille aussi
  ses informations grâce aux satellites et aux récepteurs radio implantés à travers le monde en des endroits
  stratégiques. Elle utilisait les sous-marins de la flotte américaine pour enregistrer les conversations qui
  transitaient par les câbles téléphoniques sous-marins immergés autour de la Russie et des avions-espions pour
  renforcer sa surveillance sur le bloc soviétique. Elle avait aussi installé des micros dans toutes les missions
  diplomatiques, amies ou ennemies, du Moyen-Orient. Ces appareils d'écoute étaient mis en place par une équipe de la
  CIA. Toutes les données interceptées par la NSA sont traitées à son quartier général par des ordinateurs qui
  fonctionnent nuit et jour. En 24 h, ils transcrivaient, recoupaient et déchiffraient jusqu'à 100 millions de mots
  enregistrés. Les caméras des satellites de la NSA filment régulièrement des villes, rue par rue ; transmis à
  Washington où, grâce aux technologies photographiques d'agrandissement les plus modernes, d'autres ordinateurs isolent
  chaque individu et produisent des photos où il est possible de reconnaître un visage.
</p>
<p>En <time>1968</time>, elle publia à usage interne un document intitulé <a
    href="/time/1/9/6/8/UFOHypothesisAndSurvivalQuestion_NSA/index_fr.html">L'hypothèse ovni et le problème de la
  survie</a>.</p>
<p>Depuis <time>1971</time>, le Directeur de la NSA est également chef du <a href="/org/us/dod/css">CSS</a>.</p>
<p>En <time>1987-11</time>, elle publiait son rapport <i><a href="/org/us/nasa/projet/seti">SETI</a> : Une
  évaluation</i>. Les équipes du <a href="/org/us/nasa/projet/seti">SETI</a> déclarent recevoir des signaux réguliers.
</p>
<p>Depuis <time>1997</time>, l'équivalent russe de la NSA est la <a href="/org/org/cis/fapsi">FAPSI</a>.</p>
<address>Ft George C. Meade</address>
<address>9800 Savage Rd<br/> Maryland 20755-6000</address>
<p><strong>Auteur de </strong>:</p>
<ul>
  <li>"<a href="/time/1/9/6/8/UFOHypothesisAndSurvivalQuestion_NSA">UFO Hypothesis and Survival Questions</a>", 1968 -
    Brouillon rendu accessible au public via le FOIA en <time>1979-10</time></li>
  <li>"<i lang="en">SETI: An Evaluation</i>", novembre 1987 - Les équipes du <a href="/org/us/nasa/projet/seti">SETI</a>
    déclarent recevoir des signaux réguliers.
  </li>
</ul>
<!--#include virtual="/footer.html" -->
