<!--#include virtual="/header-start.html" -->
<title>Jupiter</title>
<!--#include virtual="/header-end.html" -->
<p class="exergue">Cela ne fait pas de mal au mystère qu'on en connaisse un petit pan. La vérité d'aujourd'hui est plus
  merveilleuse encore que la fiction de jadis. Pourquoi les poètes d'aujourd'hui n'en parlent-ils pas ? Qui sont ces
  poètes qui chantent Jupiter s'il ressemble à un homme, mais qui se taisent si c'est une gigantesque sphère tournoyante
  de méthane et d'ammoniaque ? <cite><span class="people">Richard P. Feynman</span></cite>
</p>
<figure class="right side">
  <figcaption> Caractéristiques</figcaption>
  <ul>
    <li><strong>orbite</strong> : à {{778330000|number}} km (5,20 UA) du Soleil</li>
    <li><strong>diamètre</strong> : {{142984|number}} km (à l'équateur)</li>
    <li><strong>masse</strong> : 1.900e<sup>27</sup> kg</li>
    <li><strong>diamètre apparent</strong> : entre 32 et 47 s d'arc</li>
  </ul>
</figure>
<p>5ème planète du <a href="/place/systeme/solaire/index.html">système solaire</a> à partir du <a
    href="/place/systeme/solaire/Soleil/index.html">Soleil</a> et de loin la plus massive de ce système.
</p>
<figure class="left side">
  <figcaption>Jupiter est le 3ᵉ corps céleste le plus visible dans le ciel terrestre, après la Lune et <a
      href="/place/systeme/solaire/planete/venus/index.html">Vénus</a> <span class="source">"<a
      href="https://www.astronomyweek.org.uk/observe.htm">Observing Jupiter</a>", <i lang="en">National
      Astronomy Week</i>, 16 octobre 2012</span></figcaption>
  <img alt="Jupiter dans le ciel nocturne" src="/place/systeme/solaire/planete/jupiter/jupiter-in-night-sky.jpg">
</figure>
<p>Jupiter (ou Jove, Zeus Grec) était le Roi des Dieux, le souverain d'Olympe et le patron de l'état romain. Zeus était
  le fils de Cronus (Saturne).
</p>
<p>La découverte par <span class="people">Galilée</span>, en <time>1610</time>, de 4 grands satellites de Jupiter (Io,
  Europe, Ganymede et Callisto, aujourd'hui connues comme les lunes de Galilée) est la 1ʳᵉ découverte d'un centre de
  mouvement apparemment non centré sur la Terre. C'est un point majeur en faveur de la théorie héliocentriste de <span
      class="people">Nicolas Copernic</span> du mouvement des <a href="/place/systeme/solaire/planete/index.html">planètes</a>;
  le franc soutien de Galilée à la théorie copernicienne l'amènera à des problèmes avec l'Inquisition.
</p>
<section>
  <h2>Structure</h2>
  <p>Jupiter est plus de 2 fois aussi massive que l'ensemble des autres planètes réunies (318 fois la Terre).</p>
  <p>Les <a href="/place/systeme/solaire/planete/index.html">planètes</a> gazeuses n'ont pas de surface solide, leur
    matière gazeuse devient simplement plus dense avec la profondeur (les rayons et diamètres cités pour les planètes
    correspondent à des niveaux ayant une pression de 1 atmosphère). Ce que nous voyons en regardant ces planètes est le
    sommet des <a href="/science/crypto/ufo/enquete/meprise/nuage">nuages</a> hauts dans leur atmosphère (légèrement
    au-delà du niveau de pression de 1 atmosphère).
  </p>
  <p>Jupiter est composé à environ 90 % d'hydrogène et 10 % d'helium (en nombre d'atomes, 75/25 % de la masse) avec des
    traces de <a href="/science/discipline/hard/nat/mat/chim/mol/methane">méthane</a>, d'eau, d'ammoniac et de "roche".
    Cela est très proche de la composition de la nébuleuse solaire primordiale à partir de laquelle le système solaire
    s'est formé. Saturne a une similar composition semblable, mais Uranus et Neptune ont bien moins d'hydrogène
    d'hélium. Notre connaissance de l'intérieur de Jupiter (et des autres planètes gazeuses) est très indirecte et
    restera probablement telle quelle pour un moment (les données de la sonde atmosphérique Galiléo ne vont pas au-delà
    de 150 km sous le sommet des nuages). Jupiter a probablement un cœur de roches d'environ 10 à 15 fois la masse de la
    Terre. Au-dessus du cœur est la partie principale de la planète sous la forme d'un hydrogène métallique liquide.
    Cette forme exotique comme la forme la plus commune des éléments est seulement possible à des pressions dépassant 4
    millions de bars, comme c'est la cas à l'intérieur de Jupiter (et de Saturne). L'hydrogène métallique liquide
    consiste en des protons et des électrons ionisés (comme à l'intérieur du Soleil mais à une bien moindre
    température). A la température et la pression de l'intérieur de Jupiter l'hydrogène est un liquide, et non un gaz.
    C'est le conducteur électrique et la source du champ magnétique de Jupiter. Cette couche contient également
    probablement de l'hélium et des traces de différentes "glaces". La couche la plus externe est principalement
    composée d'hydrogène et d'hélium moléculaire ordinaire qui est liquide à l'interieur et gazeux plus à l'extérieur.
    L'atmosphère que nous voyons est juste le sommet de cette couche très profonde. De l'eau, du dioxide de carbone, du
    <a href="/science/discipline/hard/nat/mat/chim/mol/methane">méthane</a> et d'autres <a
        href="/science/discipline/hard/nat/mat/chim/mol">molécules</a> simples sont également présentes en petites
    quantités. Des expériences récentes ont montré que l'hydrogène ne change pas de phase soudainement. Par conséquent
    les intérieurs des planètes joviennes ont probablement des limites indistinctes entres leurs différentes couches
    internes.
  </p>
  <p>Trois couches distinctes de nuages existeraient, constitant en de la glace ammoniaquée, de l'hydrosulfide
    d'ammonium et un mélange de glace et d'eau. Cependant, les premiers résultats de la sonde Galiléo montrent seulement
    de faibles indications de nuages (un instrument semble avoir détecté la couche la plus haute tandis qu'un autre
    pourrait avoir détecté la seconde). Mais le point d'entrée de la sonde était inhabituel -- des observations
    télescopiques depuis la Terre et des observations plus récentes du module orbital de Galiléo suggèrent que le point
    d'entrée de la sonde pourrait très bien avoir été une des zones les plus chaudes et les moins nuageuses de Jupiteur
    à ce moment.
  </p>
  <p> Les données de la sonde atmosphérique de Galileo indiquent également qu'il y a bien moins d'eau qu'on le pensait.
    On s'attendait à ce que l'atmosphère de Jupiter contienne près du double de la quantité d'oxygène (combiné avec
    l'hydrogène abondant pour faire de l'eau) comme le Soleil. Mais il apparaît maintenant que la concentration
    effective est bien moins que celle du Soleil. Tout aussi surprenant est la haute température et la densité des
    parties les plus hautes de l'atmosphère.
  </p>
  <p> Jupiter et les autres planètes gazeuses ont une grande vélocité confinée dans leurs larges bandes de latitude. Les
    vents soufflent en direction opposée dans des bandes adjacentes. De légères différences chimiques et de température
    entre ces bandes sont responsables des bandes colorées qui dominent l'apparence de la planète. Les bandes de couleur
    claire sont appelées zones ; les sombres sont appelées ceintures. Les bandes sont connues depuis un moment sur
    Jupiter, mais les tourbillons complexes dans les régions limitrophes entre les bandes furent observées pour la
    première fois par Voyager. Les données de la sonde de Galileo indiquent que les vents sont encore plus violents
    qu'on le pensait (plus de 400 miles/h) et s'étendent en profondeur aussi loin que la sonde a pu observer ; ils
    peuvent s'étendent en profondeur sur les milliers de kilomètres dans l'intérieur. On a découvert l'atmosphère de
    Jupiter comme également assez turbulente. Cela indique que les vents de Jupiter sont gouvernés en grande partie par
    sa chaleur interne plutôt que les entrées solaires comme sur la Terre.
  </p>
  <p> Les couleurs vives observées sur Jupiter sont probablement le résultat de réactions chimiques complexes des
    éléments en traces dans l'atmosphère de Jupiter, impliquant peut-être du sulfure dont les composés prennent une
    variété de couleurs, mais les détails ne sont pas connus.
  </p>
  <p> Les couleurs dépendent de l'altitude du nuage : bleu pour les plus bas, suivis de marrons et blancs, puis rouges
    pour les plus élevés. Parfois on peut voir des couches plus basses à travers des trous dans les plus hautes.
  </p>
  <section>
    <h3>La tâche rouge</h3>
    <p>La Grande Tâche Rouge (<em>Great Red Spot</em> ou GRS) est vue par des observateurs de la Terre depuis plus de
      300 ans (sa découverte est généralement attribuée à <span class="people"
          title="Giovanni Domenico Cassini">Cassini</span>, ou Robert Hooke au 17ème siècle). La tâche est un ovale
      d'environ {{12000|number}} km sur {{25000|number}}, assez grande pour contenir 2 Terres. D'autres tâches
      semblables mais plus petites sont connues depuis des décennies. Des observations infrarouge dans la direction de
      sa rotation indiquent que la tâche est une zone de haute pression dont les nuages du sommet sont bien plus élevés
      et froids que les zones avoisinantes. Des structures semblables sont observées sur Saturne et Neptune. On ne sait
      pas comme de telles structures peuvent persister si longtemps.
    </p>
  </section>
  <section>
    <h3> Presque une étoile</h3>
    <p>Jupiter irradie plus d'énergie dans l'espace qu'il n'en reçoit du Soleil. L'intérieur de Jupiter est chaud : le
      cœur est probablement à 20000 °K. La tempétaure est générée par le mécanisme de Kelvin-Helmholtz, la lente
      compression gravitationelle de la planète (Jupiter ne produit pas d'énergie par fusion nucléaire comme le Soleil ;
      elle est bien trop petite et son cœur est trop froid pour enclencher des réactions nucléaires). Sa chaleur
      interne cause probablement de la convection en profondeur dans les couches liquides de Jupiter et est probablement
      responsable des mouvements complexes que nous observons au sommets des nuages Saturne et Neptune sont semblables à
      Jupiter à ce sujet, mais étrangement, Uranus ne l'est pas.
    </p>
    <p> Jupiter est juste aussi grande en diamètre que peut l'être une planète gazeuse. Si plus de matière y était
      ajoutée, elle se compresserait par la <a href="/science/discipline/hard/nat/mat/phys/Gravite.html">gravité</a> de
      manière à ce que je rayon global ne s'accroisse que très légèrement. Une étoile peut être plus grande seulement en
      raison de sa source de chaleur (nucléaire) interne (mais Jupiter devrait être au moins 80 fois plus massive pour
      devenir une étoile).
    </p>
  </section>
  <section>
    <h3> Un champ magnétique énorme</h3>
    <p>Jupiter a un champ magnétique énorme, bien plus fort que celui de la Terre. Sa magnétosphère s'étend sur plus de
      650 millions de km (au-delà de l'orbite de Saturne. Notez que la magnétosphère de Jupiter est loin d'être
      sphérique -- elle s'étend seulement sur quelques millions de km en direction du Soleil). Les satellites naturels
      de Jupiter se trouve dans sa magnétosphère, fait qui explique en partie une activité sur Io. Malheureusement pour
      les futurs voyageurs de l'espace et représentant une véritable préoccupation pour les concepteurs des appareils
      Voyager et Galileo, l'environment près de Jupiter contient de hauts niveaux de particules énergétiques captives
      dans le champ magnétique de Jupiter. Cette "radiation" est semblable à, mais en bien plus intense, celle trouvée
      dans les ceintures de Van Allen de la Terre. Elle serait immediatemment fatale à un être humain non protégé.
    </p>
    <p>La sonde atmosphérique de Galileo a découvert une nouvelle ceinture de radiation intense entre l'anneau de
      Jupiter et les couches atmosphériques supérieures. Cette nouvelle ceinture est environ 10 fois plus puissante que
      les ceintures de radiation de Van Allen de la Terre. Etonnamment, on a trouvé que cette nouvelle ceinture contient
      également des ions d'hélium de haute énergie d'origine inconnue.
    </p>
  </section>
  <section>
    <h3>Des anneaux</h3>
    <p>Jupiter possède des anneaux comme Saturne, mais bien plus fins et petits. On ne les attendait pas et ils furent
      découvert seulement lorsque 2 des scientifiques de Voyager 1 insistèrent après un voyage de 1 milliard de km pour
      regarder rapidement si des anneaux étaient présents. Tous les autres pensaient que les chances de trouver quelque
      chose étaient nulles, mais ils étaient là. On en a depuis obtenu des images dans l'infrarouge à partir de
      télescopes au sol et de Galileo.
    </p>
    <p> A la différence de ceux de Saturne, les anneaux de Jupiter sont sombres (albedo d'environ 0,05). Ils sont
      probablement composés de très petits grains de matière rocheuse. Toujours à la différence de Saturne, ils ne
      semblent pas contenir de glace.
    </p>
    <p> Les particules des anneaux de Jupiter ne restent probablement pas là très longtemps (en raison de l'attraction
      atmospherique et magnétique). L'appareil Galileo trouva des indices clairs de la ré-alimentation continue des
      anneaux par de la poussière formée par des impacts de micro-météores sur les 4 satellites intérieurs, qui sont
      très énergétiques en raison du grand champ gravitationnel de Jupiter. L'anneau de halo intérieur est élargi par
      les intéractions avec le champ magnétique de Jupiter.
    </p>
  </section>
  <section>
    <h3>Satellites</h3>
    <p>Jupiter a 39 satellites connus : les 4 grands satellites <a href="/people/g/Galilee">galiléens</a>, 12 plus
      petits nommés, et 23 autres encore plus petits découverts récemment mais par encore nommés.
    </p>
    <p>Jupiter ralentit très progressivement en raison de l'attraction des satellites galliléens. Les mêmes forces de
      marée modifient les orbites de ces satellites, les forçant très lentement à s'éloigner de Jupiter.
    </p>
    <p>Io, Europe et Ganymède sont liées ensemble par une résonnance orbitale 1:2:4 et leurs orbites évoluent de
      concert. Callisto en fait presque partie également. Dans quelques millions d'années, Callisto sera également
      verrouillée, orbitant selon exactement le double de la période de Ganymède (8 fois la période de Io).
    </p>
    <p>Les satellites de Jupiter sont nommés selon d'autres figures de la vie de Zeus (principalement ses amantes). De
      nombreux autres satellites ont été récemment découverts mais n'ont pas encore été officiellement confirmés ou
      nommés.
    </p>
  </section>
</section>
<section>
  <h2>Visites</h2>
  <p>Jupiter fut d'abord visitée par la sonde Pioneer 10 en <time>1973</time>, puis plus tard par Pioneer 11, Voyager 1,
    Voyager 2 et Ulysses. L'appareil Galileo est actuellement en orbite autour de Jupiter et nous envoie des données
    pour au moins les deux prochaines années.
  </p>
  <section>
    <h3>Pionner</h3>
    <p>Le <time>1972-03-02</time>, lancement de la sonde Pionner 10 vers Jupiter, puis vers les étoiles. Elle emporte
      une plaque gravée, un message codé pour d'éventuelles civilisations extraterrestres, et arrive près de Jupiter en
      1973.
    </p>
    <p>Le <time>1973-04-05</time>, lancement de Pionner 11 à destination de Jupiter puis de Saturne.</p>
  </section>
  <section>
    <h3>Voyager</h3>
    <p>Le <time>1977-09-05</time>, lancement de <em>Voyager 1. </em>Elle survolera Jupiter et Saturne puis s'enfoncera
      dans l'espace interplanétaire. Le <time>1979-03-05</time>, la sonde <em>Voyager 1 </em>survole Jupiter et découvre
      les anneaux de la planète géante.
    </p>
  </section>
  <section>
    <h3>Galileo</h3>
    <p>Le <time>1989-10-18</time>, la navette spatiale lance <em>Galileo</em> en direction de Jupiter.</p>
    <p>Lancé le <time>1992-12-02 08:24EST</time> est lancé STS-53. Le chargement de cette mission était composé d'un
      chargement principal classifié du DoD : il aurait s'agit notamment de la sonde <em>Twinkle Eye</em> de la <a
          href="/org/us/ic/nsa/index.html">NSA</a>, lancée en orbite autour de <a
          href="/place/systeme/solaire/planete/jupiter/index.html">Jupiter</a>, peut-être en tant que télescope spatial.
    </p>
  </section>
  <section>
    <h3>SL-9</h3>
    <p>En <time>1994-07</time>, la comète Shoemaker-Levy 9 entre en collision avec Jupiter avec des résultats
      spéctaculaires. Les effets sont clairement visibles même avec des télescopes amateurs. Les débris de la collision
      sont visibles par le télescope Hubble (<abbr title="Hubble Space Telescope">HST</abbr>) durant presque 1 an par la
      suite.
    </p>
  </section>
</section>
<section>
  <h2>Observations</h2>
  <p>Jupiter est le 4ème objet plus brillant dans le ciel, après le Soleil, la Lune, et <a
      href="/place/systeme/solaire/planete/venus/index.html">Vénus</a> (parfois <a
      href="/place/systeme/solaire/planete/mars/index.html">Mars</a> est également plus brillant). Elle est connue
    depuis les temps préhistoriques. Ses 4 satellites <a href="/people/g/Galilee">galiléens</a> sont également
    facilement observables avec des jumelles ; quelques bandes et la Grande Tâche Rouge sont aussi visibles avec un
    petit télescope astronomique. Cependant dans un ciel nocturne, Jupiter est souvent le point le plus brillant dans le
    ciel (juste après <a href="/place/systeme/solaire/planete/venus/index.html">Vénus</a><a
        href="/place/systeme/solaire/planete/venus"></a>, qui est rarement visible dans un ciel sombre). Ainsi comme
    pour les étoiles les plus brillantes (Sirius, Véga, Capella, Arcturus, Rigel, Procyon, Altaïr, Béltelgeuse,
    Aldébaran, etc.), les planètes les plus lumineuses (<a href="/place/systeme/solaire/planete/venus">Vénus</a><a
        href="/place/systeme/solaire/planete/venus"></a>, Jupiter, <a
        href="/place/systeme/solaire/planete/mars/index.html">Mars</a> et éventuellement Saturne) sont souvent prises
    pour des ovnis. De telles <a href="/science/crypto/ufo/enquete/meprise">méprises</a> peuvent expliquer des cas
    d'ovnis lorsqu'ils sont observés régulièrement à une heure précise pendant plusieurs jours consécutifs.
  </p>
  <p>En attendant, certaines observations restent inexpliquées concernant Jupiter :</p>
  <ul>
    <li>En automne 692, en Chine, on voit dans la nuit les planètes <a
        href="/place/systeme/solaire/planete/mars/index.html">Mars</a> et Jupiter se rapprocher l'une de l'autre puis
      s'éloigner 4 fois de suite, resplendissant et s'éteignant alternativement.
    </li>
    <li><q>L'apparition des grandes comètes et du motif de rond rouge sur <a
        href="/place/systeme/solaire/planete/jupiter/index.html">Jupiter</a> à la fin des années 1870s coincida avec
      l'apparition mystérieuse d'un nouveau cratère sur la Lune précisément de la taille des ovnis observés par des
      astronomes entre la Terre et la Lune.</q> Activité de la Tache Rouge <span class="source">Jessup, M. K.: <em><a
        href="/time/1/9/5/5/Jessup_TheCaseForUfos/index.html">The case for the
      UFOs</a><em>, </em></em>Citadel Press, Bantam Books 1955, New York. Traduit <em>Ovnis : les preuves</em></span>.
    </li>
    <li>En 1961, Des radio-astronomes américains, Burke et Franklin, de l'Institut Carnegie, repèrent en provenance de
      Jupiter une source émettrice qui diffuse des messages ordonnés, parfaitement rythmés. Mais elle se tait
      rapidement.
    </li>
    <li>Le <time>1965-07-31</time>, des formations d'ovnis sont signalées au-dessus de plusieurs états américains. L'<a
        href="/org/us/dod/af/index.html">USAF</a> affirme que ces objets sont la planète <a
        href="/place/systeme/solaire/planete/jupiter/index.html">Jupiter</a> et les étoiles Bételgeuse, Aldébaran, Rigel
      et Capella. Cette explication est par la suite refutée par Robert Risser, directeur du planétarium de la fondation
      scientifique de l'Oklahoma, qui déclare : <q>On ne pourrait être plus loin de la vérité. </q>Apparemment, aucune
      des étoiles mentionnées n'était visible aux Etats-Unis à l'heure des observations.
    </li>
    <li>En 1971, Des radio-astronomes du <a href="/org/us/NRAO.html">NRAO</a> repèrent en provenance de Jupiter une
      source émettrice qui diffuse des messages ordonnés, parfaitement rythmés. Cette source avait d'ailleurs été déjà
      signalée en 1961. Graham Smith, radio-astronome anglais de réputation mondiale, en se basant sur ces messages en
      modulation musicale, déclare sans ambiguïté qu'il s'agit d'une émission comme il n'en a jamais encore été capté
      ailleurs dans l'espace. Les messages se poursuivent ainsi pendant une période de 9 heures et 56 minutes, soit le
      temps de rotation de Jupiter.
    </li>
  </ul>
</section><!--#include virtual="/footer.html" -->
