<!--#include virtual="/header-start.html" -->
<title>Emmanuel Macron</title>
<!--#include virtual="/header-end.html" -->
<p>Emmanuel Jean-Michel Frédéric Macron naît à <span class="place">Amiens (Somme)</span> le <time>1977-12-21</time>,
  fils de Jean-Michel Macron (médecin et professeur de neurologie au
  <abbr title="Centre Hospitalier Universitaire">CHU</abbr> de la ville, et responsable d'enseignement à la faculté de
  médecine de cette même ville) et de Françoise Noguès (médecin-conseil de la Sécurité Sociale). Ses grands-parents
  maternels sont originaires de la région de <span class="place">Bagnères-de-Bigorre</span>, où il séjourne
  occasionnellement.
</p>
<p>En <time>2000</time> il est l’assistant éditorial de Paul Ricœur pour l’ouvrage <em>La Mémoire, l’histoire,
  l’oubli</em> (Seuil, 2000)
  <span class="source">Truong, Nicolas: "<a href="https://www.lemonde.fr/politique/article/2016/09/01/emmanuel-macron-un-intellectuel-en-politique_4991027_823448.html">Emmanuel Macron, un intellectuel en politique ?</a>", Le Monde, 2016-09-01</span>
  .
</p>
<p>Il fait une hypokhâgne et une khâgne au lycée Henri IV, puis obtient à
  <abbr title="Diplôme d'Etudes Appliquées">DEA</abbr> de philosophie à l'université Paris-X Nanterre.
</p>
<p>En <time>2002</time> il adhère au <a href="//Users/javarome/Projets/RR0/org/eu/fr/asso/parti/PS">PS</a>, mais ne
  renouvelera pas son adhésion longtemps.
</p>
<p>En <time>2004</time> il sort diplômé de
  l'<a href="/org/eu/fr/etat/gouv/pm/dgafp/ena"><span class="place" title="Ecole Nationale d'Administration">ENA</span></a>,
  et intègre l'<abbr title="Inspection Générale des Finances">IGF</abbr>.
</p>
<p>En <time>2006</time> il adhère au <a href="/org/eu/fr/asso/parti/PS">PS</a>.</p>
<figure class="left side">
  <figcaption><span class="people">Jacques Attali</span> et Macron (30 ans), présentant les résultats de la Commission
    en <time>2007</time> <span class="source">©Cyril Bitton/cosmos</span></figcaption>
  <img src="/time/2/0/0/7/Attali-Macron.jpg" alt="Jacques Attali et Macron (30 ans), présentant les résultats de la Commission en 2007">
</figure>
<p>De <time>2007-09</time> il travaille avec <span class="people">Jacques Attali</span>, comme rapporteur général
  adjoint de la Commission pour la <q>libération de la croissance française</q>, jusqu'en <time>2008-01</time>.
</p>
<p>Le <time>2007-10-20</time> il épouse Brigitte Trogneux (son ancienne professeur de latin et français), au
  <span class="place">Touquet-Paris-Plage</span> où il réside.
</p>
<p>En <time>2008</time> il est trésorier bénévole de l'association <em><a href="https://www.bibliosansfrontieres.org/">Bibliothèques
  sans frontières</a></em>.
</p>
<section>
  <h2>Banque</h2>
  <p>En <time>2008-09</time> il devient banquier d'affaires chez Rothschild & Cie (comme Georges Pompidou).</p>
</section>
<p>En <time>2009</time> il quitte le <a href="/org/eu/fr/asso/parti/PS">PS</a>.</p>
<p>En <time>2010</time> il propose à la <abbr title="Société Des Rédacteurs">SDR</abbr> du journal <em>Le Monde</em> de
  les aider bénévolement à trouver des investisseurs. Les journalistes s'orientent vers la proposition du trio
  Bergé-Niel-Pigasse, une proposition qui ne reçoit pas l'aval de Macron. Le <time>2010-09-03</time>, Adrien de
  Triconot, alors qu'ils se rendent dans des bureaux de Pierre Bergé, a la surprise de surprendre Macron avec Alain
  Minc, soutien d'une autre offre de reprise du journal, Prisa, refusée par la SDR. <span class="source">De Tricornot, Adrien: "<a href="https://www.streetpress.com/sujet/1486723160-macron-le-monde">Comment Macron m’a séduit puis trahi</a>", Street Vox, 2017-01-10</span>
  .
</p>
<p>De <time>2011</time> à <time>2012</time>, il gagne {{2400000|currency:'€':0}} en tant qu'associé chez Rotschild.</p>
<section>
  <h2><span class="place">Elysée</span></h2>
  <p>À la mi-<time>2012-05</time> il accepte le poste de secrétaire général adjoint de la présidence de la République
    auprès de <span class="people">François Hollande</span>.
  </p>
</section>
<p>À l'été <time>2014</time>, Macron passe des vacances à <span class="place">Los Angeles</span> avec
  <span class="people">Xavier Niel</span>. Ils discutent d'un projet de start-up, sorte de test multidisciplinaire pour
  évaluer les élèves, sur le modèle du test d'anglais TOEFL
  <span class="source">"<a href="https://www.capital.fr/enquetes/hommes-et-affaires/emmanuel-macron-ses-reseaux-ses-amis-patrons-ses-adversaires-ses-camarades-du-peuple-1043120">Patrons, économistes, élus... découvrez les proches du candidat Emmanuel Macron</a>", Capital, 2015-05-28</span>
  .
</p>
<section>
  <h2>Gouvernement</h2>
  <p>Le <time>2014-08-26</time> il devient <span class="place">Ministre de l'Économie</span>, de l'Industrie et du
    Numérique dans le gouvernement <span class="people">Manuel Valls</span> 2, en remplacement d'<span class="people">Arnaud Montebourg</span>,
    dont il conserve la moitié du cabinet.
  </p>
  <section>
    <h3>ISF</h3>
    <p>À cette occasion, dans le cadre des mesures de transparence mises en place après l'affaire <span class="people">Cahuzac</span>,
      il fournit à la <abbr title="Haute Autorité pour la transparence de la vie publique">HATVP</abbr> une déclaration
      de patrimoine où un expert immobilier de la cour de cassation a évalué la maison de son épouse au
      <span class="place">Touquet</span> {{1200000|currency:'€':0}}. Le fisc, lui, réévalue cette maison (en prenant des
      comparables d'avant la crise) à {{1453000|currency:'€':0}}, lui ainsi faisant franchir le seuil des
      {{1300000|currency:'€':0}} de la 1ʳᵉ tranche de l'<abbr title="Import Sur la Fortune">ISF</abbr>. Macron,
      considère cette réévaluation trop élevée mais décide de ne pas négocier : <q>Compte tenu de mes fonctions, j’ai
        accepté cette évaluation administrative et j’ai renoncé à engager plus avant les discussions. Alors que j’estime
        être parfaitement dans mon droit, il n’était pas envisageable pour moi, comme ministre, d’entamer un dialogue
        plus long voire une action contentieuse contre l’administration.</q>. Le <time>2015-09-18</time> il dépose alors
      une déclaration rectificative, payant des <abbr title="Import Sur la Fortune">ISF</abbr> de
      {{4174|currency:'€':0}} pour <time>2013</time> et {{2264|currency:'€':0}} pour <time>2014</time>, avec indemnités
      de retard
      <span class="source">Macron, E.: "<a href="https://www.facebook.com/notes/emmanuel-macron/r%C3%A9tablir-la-v%C3%A9rit%C3%A9/1798982893667622/">Rétablir la vérité</a>", Facebook, 2016-06-13. </span>
      .
    </p>
  </section>
  <section>
    <h3>Loi Macron</h3>
    <p>Prenant la suite du projet de <q>loi sur la croissance et le pouvoir d'achat</q> porté par Montebourg porte un
      projet de <q>loi pour la croissance, l'activité et l'égalité des chances économiques</q>, aussi appelé <q>loi
        Macron</q>, qui a pour objectif de <q>déverrouiller l'économie française</q> en modifiant notamment la
      réglementation concernant :
    </p>
    <ul>
      <li>le <strong>travail le dimanche</strong></li>
      <li>les professions réglementées : faire baisser Les tarifs des greffiers des tribunaux de commerce de 5% et ceux
        des <strong>notaires et huissiers de justice</strong> d'environ 2,5% ;
      </li>
      <li>les transports et le <strong>permis de conduire</strong></li>
      <li>l'ouverture du marché <strong>autocar</strong></li>
      <li>la vie des entreprises et des salariés</li>
    </ul>
    <p>(l'ouverture à la concurrence des pharamacies ayant finalement été retirée de la loi)</p>
    <p>Le débat sur cette loi provoque des polémiques :</p>
    <article>
      <h4>Les "illétrées" de Gad</h4>
      <p>Le <time>2014-09-17</time>, lors de sa 1ʳᵉ interview en tant que Ministre de l'Economie sur <em>Europe 1</em>,
        interrogé sur son projet de loi facilitant notamment l'accès au permis de conduire,
        <a href="https://www.dailymotion.com/video/x264a21_macron-si-on-ne-bouge-pas-on-echouera_news?start=471">il cite
          l'exemple dont il est en charge de la société d'abattoir de porcs Gad</a> où travaille une majorité de femmes
        <q>pour beaucoup illétrées</q> poussées à quitter cette société et incitées à travaillée à plusieurs dizaines de
        km de là, alors qu'elle ne disposent pas du permis de conduire qui est couteux (1500 € en moyenne) et long à
        obtenir (plusieurs mois, voire années).
      </p>
      <p>Suite aux protestations de délégués syndicaux,
        <a href="https://www.dailymotion.com/video/x26526x_mes-excuses-vont-aux-salaries-que-j-ai-pu-blesser-avec-ces-propos_news">interpellé
          par Laure de La Raudière (députée UMP)</a> lors d'une séance à l'Assemblée Nationale, Macron présente alors
        ses <q>excuses les plus plates</q> et exprime ses <q>regrets</q>, promettant de se rendre sur place pour
        s'excuser. C'est ce qu'il fera en <time>2015-01</time> il se rend à l'abattoir de Lampaul-<span class="place">Guimiliau</span>.
        Là il est remercié par la plupart des employés.
      </p>
    </article>
    <article>
      <h4>Les "pauvres" en autocar</h4>
      <p>Le matin du <time>2014-10-15</time>, Thierry Lepaon (secrétaire général CGT) réagit à la réforme des autocars
        en déclarant sur France 2 :
      </p>
      <blockquote>
        <p>On va avoir 3 sortes de Français : ceux qui auront les moyens pour aller à Marseille en avion, ceux qui
          auront un peu moins d'argent et prendront le train et les pauvres qui prendront le bus. Voila le monde dans
          lequel on veut nous installer.
        </p>
      </blockquote>
      <p>Macron reprend par la suite la formule pour déclarer :</p>
      <blockquote>
        <p>Pour qui cette réforme est-elle bonne ? Elle est bonne pour ceux qui ne peuvent pas se déplacer dans les
          transports en commun parce que le train est trop cher. Donc quand on me dit, <q>les pauvres voyageront en
            autocar</q>, j'ai tendance à penser que c'est une caricature, mais les pauvres qui ne peuvent pas voyager
          voyageront plus facilement (...) parce que l'autocar c'est 8 à 10 fois moins cher.
        </p>
      </blockquote>
      <p>Une formule que Roger Karoutchi (sénateur UMP)
        <a href="https://twitter.com/RKaroutchi/status/522414476361220097?ref_src=twsrc%5Etfw&ref_url=http%3A%2F%2Fwww.leparisien.fr%2Fpolitique%2Fvideo-les-pauvres-et-les-autocars-les-mots-de-macron-font-reagir-15-10-2014-4215935.php">ne
          manque pas de relayer</a>, réduite à <q>Macron insiste <q>avec les autocars les pauvres pourront voyager plus
          facilement</q></q>.
      </p>
    </article>
    <figure class="left side">
      <figcaption>Emmanuel Macron aux journées de l'entrepreneur (<em>Global Entrepreneurship Week</em>) le <time>2014-11-17</time></figcaption>
      <img alt="Emmanuel Macron aux journées de l'entrepreneur le 2014-11-17" src="portrait.jpg">
    </figure>
    <p>La loi est présentée en <time>2014-12</time> au Conseil des ministres. Par peur de ne pas trouver de majorité sur
      ce texte, le gouvernement Valls 2 fait adopter cette réforme via l'article 49.3 de la Constitution le <time>2015-07-10</time>.
      Après une saisie du Conseil constitutionnel par l'opposition, la loi est promulguée le <time>2015-08-06</time>.
    </p>
  </section>
  <p>À cette même époque, le</p>
  <p>Fin <time>2015</time>, il hésite à quitter le gouvernement en raison du projet de réforme sur la déchéance de la
    nationalité, avec lequel il exprime son désaccord ; il y renonce car celui-ci <q>ne fait pas partie de [son]
      périmètre ministériel.</q>
  </p>
  <p>En <time>2016-01</time>, il propose à l’Élysée et à Matignon un projet de loi, dit <q>Macron 2</q> ou
    <q><abbr title="Nouvelles Opportunités Economiques">NOÉ</abbr></q>, mais <span class="people">Manuel Valls</span> le
    refuse, notamment parce qu'il contient des dispositions (sur le licenciement économique, le plafonnement des
    indemnités prudhommales) qui relèvent du Ministère du Travail. Macron envisage un temps de démissionner, puis
    négocie alors que ces propositions restent présentées, mais par le Ministère du Travail.
  </p>
  <article>
    <h4>Le "costard"</h4>
    <p>Fin <time>2016-05</time>, lors de l'AG du mouvement Nuit Debout à Nîmes (alors mobilisé contre la "Loi Travail"),
      apprenant que Macron va se rendre le <time>2016-05-27</time> à <a href="https://fabrique-beweb.com">BeWeb</a>,
      l'école numérique de <span class="place">Lunel (Hérault)</span>, des militants décident de l'attendre dans celle
      ville proche, avec un mégaphone pour <a href="https://www.youtube.com/watch?v=dEjEfsyywO0">interpeler Macron sur
        cette loi</a>. Après sa visite de <time>P1H</time>, Macron sort de l'école, va leur serrer la main, et discute
      difficilement avec l'un d'eux, Roland Veuilliet (du syndicat Sud éducation). Un autre militant plus jeune, Jordan,
      interpelle Macron :
    </p>
    <blockquote>
      <p class="question">On en a marre... moi j'ai pas les sous pour... (il montre le costume de Macron)</p>
      <p class="answer">Mais j'ai pas de leçons à recevoir... Ecoutez... si vous aimez pas que la France soit bloquée,
        arrêtez de la bloquer... et maintenant... vous savez... vous savez, la meilleure façon de se payer un costard -
        vous allez pas me faire peur avec votre tee-shirt - la meilleure façon de se payer un costard c'est de
        travailler.
      </p>
      <p class="question">Et alors ? Depuis l'âge de 16 ans je travaille monsieur ! Depuis l'âge de 16 ans je travaille
        monsieur !
      </p>
      <p class="answer">...Là vous voyez je suis allé voir des jeunes qui ont envie de travailler</p>
    </blockquote>
  </article>
</section>
<section>
  <h2>Présidentielle</h2>
  <p>En <time>2016-03</time>, Emmanuel Macron exprime son souhait que François Hollande se présente à l'élection
    présidentielle de <time>2017</time> en le présentant comme <q>le candidat légitime</q>.
  </p>
  <p>Cela ne l'empêche pas le <time>2016-04-06</time>, il fonde le mouvement politique
    <a href="https://en-marche.fr"><em>En marche !</em></a>. Le <time>2016-08-30</time>, il démissionne de ses fonctions
    de Ministre, ayant dépensé 80% des frais de représentation de son Ministère <span class="note">Soit 120000 € environ, l'enveloppe annuelle étant de 150000 €.</span>.
    Il déplorera que le gouvernement ait <q>fait beaucoup de choses à moitié</q>, contrairement à son souhait.
  </p>
  <p>En <time>2016-11</time>, il annonce sa candidature à l'élection présidentielle de <time>2017</time>. Malgré les
    appels du PS, il refuse néanmoins de participer à la primaire de la gauche de 2017, disant ne pas vouloir <q>s'enfermer
      dans des querelles de clans</q>.
  </p>
  <p>Fin <time>2017-01</time> un livre sur le Ministère des Finances <span class="source">Frédéric Says & Marion L'Hour: <em>Dans l'enfer de Bercy: Enquête sur les secrets du ministère des Finances</em>, JC Latès, 2017-01</span>
    dévoile le montant des frais de représentations qu'il a utilisé avant de quitter son Ministère. Bien qu'il n'ait pas
    dépassé le montant autorisé, des députés LR l'accusent alors d'avoir ainsi financé des dîners visant à créer un
    réseau pour sa candidature à la Présidentielle, ce qu'il dément.
  </p>
  <p>Macron est notamment soutenu par :</p>
  <ul>
    <li>Gérard Collomb (sénateur-maire PS de Lyon)</li>
    <li>Bruno Bonnell (cofondateur de Infogrames, ex-président de Atari, PDF de Infonie, créateur de Game One TV, de
      Robopolis)
    </li>
    <li>Laurence Haïm (précemment correspondante aux Etats-Unis pour Canal+, ayant notamment couvert la campagne de
      Obama)
    </li>
    <li>Jean Pisani-Ferry (économiste ayant quitté son poste de commissaire général de France Stratégie, un organisme de
      réflexion placé auprès du Premier ministre)
    </li>
    <li>Arnaud Leroy (député PS des Français de l’étranger)</li>
    <li>Didier Casas (directeur général adjoint de Bouygues Telecom, s'étant mis en congé pour rejoindre En Marche)</li>
    <li>Renaud Dutreil (ancien ministre de la Fonction publique puis des PME, dans les gouvernements Villepin et
      Raffarin, sous la présidence Chirac)
    </li>
    <li>Pierre Bergé</li>
    <li>Marc Simoncini (fondateur du site de rencontres Meetic)</li>
    <li>Erik Orsenna (écrivain, prix Goncourt 1988)</li>
    <li>Benjamin Griveaux (ancien conseiller de <span class="people">Dominique Strauss-Kahn</span>, il fut
      vice-président du Conseil général de Saône-et-Loire)
    </li>
    <li>Jean-Pierre Mignard (avocat, proche de François Hollande)</li>
    <li>Julien Denormandie (ex-directeur adjoint du cabinet d’Emmanuel Macron à Bercy)</li>
    <li>Thierry Pech (directeur du cercle de réflexion Terra Nova)</li>
    <li>Catherine Barbaroux (présidente de
      l'<abbr title="Association pour le droit à l’initiative économique">Adie</abbr>, une association de micro-crédit)
    </li>
    <li>Said Hammouche (patron du cabinet de recrutement Mozaik RH, surnommé le "DRH des banlieues").</li>
    <li>Bernard Mourad (directeur général adjoint du pôle médias du groupe SFR)</li>
    <li>Richard Ferrand (député PS du Finistère, ancien soutien de Martine Aubry)</li>
    <li>Christophe Castaner (député des Alpes de Haute Provence)</li>
    <li>Stéphane Travert (député de la Manche)</li>
    <li>Jean Arthuis (UDI, ancien ministre de l'économie et des finances)</li>
    <li>Philippe aghion (économiste)
    <li>Elie Cohen (économiste)</li>
    <li>Jean-hervé Lorenzi (économiste)</li>
    <li>Corinne Lepage (Présidente de Cap21/Le Rassemblement citoyen, ancienne ministre de Chirac)</li>
    <li>Jean-Paul Huchon (ancien président socialiste de la région Ile-de-France)</li>
    <li>Jean-Marie Cavada (journaliste, dirigeant Génération citoyens, réélu du parlement européen en 2014)</li>
    <li>Eric Halphen (ancien juge anti-corruption)</li>
    <li>Jean-Marc Dumontet (producteur et propriétaire de théâtres)</li>
    <li>Daniel Cohn-Bendit (écologiste)
      <span class="source">"<a href="https://www.lemonde.fr/idees/article/2017/03/06/ecologistes-nous-choisissons-emmanuel-macron_5089992_3232.html">Pourquoi nous choisissons Emmanuel Macron</a>", Le Monde, 2017-03-06</span>
    </li>
    <li>Jean-Paul Besset (écologiste)</li>
    <li>Matthieu Orphelin (écologiste)</li>
  </ul>
</section><!--#include virtual="/footer.html" -->
