<!--#include virtual="/header-start.html" -->
<title>Une section de recherche sur les ovnis à Saint-Marcellin</title>
<meta content="Le Dauphiné Libéré" name="copyright"/>
<!--#include virtual="/header-end.html" -->
<span class="source">Seray, Patrice : "<a href="https://ufo-logic.xooit.com/t1212-Dauphine-Libere-1974.htm">Dauphiné Libéré 1974</a>", <em>Ufo-logic</em>, 15 mars 2008</span>
<figure class="right side">
  <figcaption>L'article d'origine (1/2)</figcaption>
  <img alt="L'article d'origine" src="DauphineLibere.jpg">
</figure>
<p>Il y a maintenant 27 ans que l'expression "<a href="/science/crypto/ufo/FlyingSaucers.html">soucoupes volantes</a>"
  est entrée dans le langage courant, 27 ans que, périodiquement, on en parle, généralement en souriant et sur le ton de
  la plaisanterie.</p>
<p>Et pourtant, les "<a href="/science/crypto/ufo/OVNI.html">objets volants non identifiés</a>" sont une réalité, une
  affaire sérieuse. Récemment, le Ministre des Armées, M. <span class="people">Robert Galley</span>, fit une déclaration
  sur les ondes de <time>France-Inter</time> dans laquelle il déclarait : <q>Il faut adopter vis-à-vis de ces phénomènes
    aériens une attitude d'esprit extrêmement ouverte... Dans ces phénomènes que l'on a rassemblé sous le terme d'ovni,
    il est certain qu'il y a des choses que l'on ne comprend pas...</q> Cette déclaration est une reconnaissance de
  l'existence des ovnis, les hallucinations, les explications conventionnelles, <a
      href="/science/crypto/ufo/enquete/meprise/ballon">ballons</a>-sondes, <a
      href="/science/crypto/ufo/enquete/meprise/foudre/globulaire">foudre en boule</a>, phénomène météorologique,
  n'expliquent pas tout.</p>
<p>Depuis plusieurs années, des groupements d'enquête privés rassemblent les témoignages, analysent les cas et certains
  scientifiques se sont penchés sur le problème. Des caractéristiques se dégagent et des faits se vérifient avec sérieux
  et rigueur.</p>
<figure class="right side">
  <figcaption>L'article d'origine (2/2)</figcaption>
  <img alt="L'article d'origine" src="DauphineLibere_2.jpg">
</figure>
<p>Peut-être avez-vous observé vous-même de curieuses lumières dans le ciel, ou peut-être avez-vous été le témoin de
  scènes étranges et inexplicables ? Vous n'en avez parlé de peur de ne pas être pris au sérieux. Et pourtant, vous
  n'êtes pas les seuls à avoir vu ces "<a href="/science/crypto/ufo/OVNI.html">objets volants non identifiés</a>" !...
</p>
<p>Ou alors, vous êtes de ceux qui acceptent la possibilité d'existence de ces phénomènes qui défient les connaissances
  actuelles et remettent en cause certaines lois de la physique !</p>
<p>Ou bien, vous êtes sceptique, vous n'y croyez pas, pour vous, c'est un <a
    href="/science/crypto/ufo/enquete/dossier/canular">canular</a>. C'est votre droit, mais cela fait beaucoup de <a
    href="/science/crypto/ufo/enquete/dossier/canular">canulars </a>({{35000|number}} environ, partout dans le monde et
  avec d'étranges similitudes). Vous êtes de ceux qui disent : <q>J'y croirai le jour où je l'aurai vu</q>.</p>
<p>Que vous apparteniez à l'une ou à l'autre de ces catégories, vous vous êtes sans doute déjà posé la question : <q>sommes-nous
  seuls dans l'univers ?</q></p>
<p>C'est à cette question, et à bien d'autres que la Section de recherche sur les Ovnis de Saint-Marcellin, travaille
  afin de mieux connaître ce passionnant phénomène, ainsi que notre place réelle dans l'Univers. En effet, depuis le
  début de l'année, André Revol a créé une section de jeunes travaillant pour la recherche ufologiue, c'est-à-dire à
  tout ce qui touche à l'insolite (<a href="/science/crypto/ufo/OVNI.html">objets volants non identifiés</a>, phénomènes
  <a href="/science/para">parapsychologiques</a> et connexes). Quel est le rôle de cette section ?</p>
<ol>
  <li> de recueillir le maximum d'informations sur les observations d'ovnis dans notre région, et procéder à des
    enquêtes les plus complètes possibles. </li>
  <li> A scruter le ciel lors des nuits d'observations avec divers appareils d'approche (lunettes de longue vue,
    télescope, et bien sûr avec un appareil photographique, toujours prêt, au cas d'une observation) c'est d'ailleurs
    par ces nuits d'observations que l'on apprendra à connaître les objets aériens ou célestes connus, des ovnis
    (ballons-sondes, <a href="/science/crypto/ufo/enquete/meprise/rentree/meteore">météores</a> verts, étoiles filantes,
    <a href="/science/crypto/ufo/enquete/meprise/Satellites.html">satellites artificiels</a>, <a
        href="/science/crypto/ufo/enquete/meprise/aurore">aurores boréales ou australes</a>, <a
        href="/science/crypto/ufo/enquete/meprise/foudre/globulaire">éclairs globulaires</a
    >, etc.)</li>
  <li> De renforcer l'organisation mondiale de recherches sur les ovnis pour les besoins de l'information.</li>
  <li>De publier une reveue trimestrielle spécialement pour la région saint-marcellinoise. En effet le n° 1 de cette
    revue s'intitulant <em>Alerte, soucoupes volantes</em> est déjà parue au mois de mars dernier. A son sommaire on
    trouve des rapports d'enquête de la région, l'affaire <em>Concorde</em>, <a
        href="/science/crypto/ufo/enquete/dossier/Desvergers">Sony Desvergers</a> et celle de Turin, une rubrique sur
    l'origine de la vie, sur l'univers, etc. son prix est de 5 FF et vous pouvez vous procurer cette revue en écrivant à
    André Revol, le directeur de ce bulletin.</li>
</ol>
<p>Contrairement à ce qu'on pourrait croire, il y a même eu des observations d'ovnis dans la région de Saint-Marcellin.
  La plupart sont restées inconnues, car les témoins ne voulant pas se faire passer pour des illuminés se sont tus.</p>
<p>Malgré cela ces témoins ont bien voulu raconter leurs étranges aventures aux membres de la Section qui ont pu
  procéder à de minutieuses enquêtes. Parmi les lieux d'observations : Vinay, durant l'été <time>1972</time> ou 5
  témoins ont pu voir évoluer à <time>19:20</time> un engin ayant la forme de la moitié d'un oeuf : à Saint-Marcellin,
  en <time>1966-05</time>, où le témoin put apercevoir à <time>21:30</time>, <span
      class="heure">22:00</span> un objet dentelé de la grosseur de la lune et d'un vert phosphorescent ; à
  Saint-Jean-de-Bournay, le <time>1973-03-09 ~14:30</time> en début d'après-midi, 2 témoins aperçoivent 1 boule de feu
  terriblement éblouissante, et nos 2 témoins détourneront le regard à plusieurs reprises. L'observation durera 15 mn ;
  sur les lieux de l'observation le sol est littéralement carbonisé ; observation aussi dans les bois de Chambarant, à 2
  km du lac de la Trappe, le vendredi <time>1973-12-28 08:15</time>. Alors que le témoin se trouve à la chasse, il peut
  observer un énorme cigare survolant les collines à une vitesse vertigineuse et toujours dans le silence le plus total
  ; Saint-Hilaire du Rosier, au début mars de cette année, où 2 témoins purent observer à <span
      class="heure">20:30</span> et durant <time>P20M</time>, un ovni de forme ovale de couleur orange, avec à son
  centre un cercle d'une couleur rouge intense. Ovni aussi à la Motte Fanjas près de Saint-Nazaire-en-Royans, le <time>1974-03-14 02:00</time>,
  où notre témoin observe 1 énorme cigare stationné à 3 m du sol, puis celui-ci suivit notre témoin qui était en voiture
  et lorsqu'il arriva à son domicile l'objet disparut en se matérialisant en énorme disque. </p>
<p>Toutes ces observations ont été étudiées le plus sérieusement possible par les membres de la Section. Pour André qui
  dirige la section et qui depuis de nombreuses années se passionne à l'étude de ce phénomène, personne, au niveau
  actuel de nos connaissances, ne peut raisonnablement dire ce que sont les ovnis.</p>
<p>Ou alors cela nous conduit à de folles hypothèses, et même les plus fantastiques seraient en-dessous de la réalité.
  Pourtant le phénomène ovni existe et il n'est pas né de l'imagination des gens.</p>
<p>Si vous avez fait une observation insolite, ou si vous voulez participer à nos recherches, vous pouvez prendre
  contact ou écrire à André Revol, directeur de la Section Ufologique de Saint-Marcellin, "Le Coupier", 38150 Saint
  Sauveur. </p>
<!--#include virtual="/footer.html" -->
