<!--#include virtual="/header-start.html" -->
<title>Orthoténie</title>
<!--#include virtual="/header-end.html" -->
<figure class="right side">
  <figcaption>Etude orthoténique des témoignages du <time>1954-10-07</time></figcaption>
  <img src="/time/1/9/5/4/10/07/Lignes.jpg" alt="Etude orthoténique des témoignages du 7 octobre 1954"/>
</figure>
<p>En <time>1957</time>, alors qu'il examine la répartition, apparemment aléatoire, des observations de la <a
    href="/time/Vagues.html">vague</a> de <time>1954</time> sur une carte de <a href="/org/eu/fr">France</a>, <span
    class="people">Aimé Michel</span> découvre un alignement entre 5 <a href="../observation">observations</a>
  effectuées le même jour <span class="note">relatées dans des articles fournis par <span
      class="people">Charles Garreau</span>, et interprétées plus tard par certains comme des <a
      href="../enquete/dossier/canular">canulars</a></span>, le <time>1954-10-14 18:30/19:35</time>, sur 130 km
  parcourant la <span class="place">Bourgogne</span>, le <span class="place">Lyonnais</span>, et la <span class="place">Franche-Comté</span>
  <span class="source">Michel, A.:  "<a href="/time/1/9/6/3/05/Michel_OuiIlYAUnProblemeSoucoupeVolantes_Planete">Oui,
        il y a un problème
    soucoupes volantes !</a>", <em>Planète</em>, n° 10, 1963-05/1963-06</span>. 4 autres observations faites ailleurs le
  même jour font apparaître un autre alignement. Michel reprend alors systématiquement l'étude des <a
      href="../observation">observations</a> sur la carte et découvre d'autres lignes droites.
</p>
<section>
  <h2>BaVic</h2>
  <p>Le plus conséquent de ces alignements est formé de 6 observations effectuées le <time>1954-09-24</time>, de <span
      class="place">Bayonne</span> à <span class="place">Vichy</span> (cet alignement exceptionnel sera par la suite
    désigné sous le nom de "BaVic" pour "Bayonne-Vichy"). La quasi-totalité des <a
        href="../observation">observations</a> présente de tels alignements sur 24 h. Mais ce n'est pas tout : les <a
        href="../observation">observations</a> à l'intersection de plusieurs lignes droites concernent apparemment
    toujours un grand "<a href="../observation/pan/aspect/forme/cigare">cigare</a>" vertical. Enfin, un mouvement d'ovni
    de descente "<a href="../observation/pan/comportement/mouvement/FeuilleMorte.html">en feuille morte</a>" semble
    aussi toujours coïncider avec l'intersection de lignes sur le réseau <span class="source">Michel, A.: <em>A propos des soucoupes volantes
    - Mystérieux Objets Célestes</em> (1958) traduit <em>Flying saucers and the straight-line mystery </em>(Criterion Books 1958)
    grâce au <a href="/org/us/asso/CSI.html">CSI</a></span>.
  </p>
  <p>Compte tenu de la précision des points d'<a href="../observation">observations</a>, <a
      href="/people/m/MebaneAlexander">Lex Mebane</a> établit la probabilité pour que, sur 9 points donnés au hasard sur
    une surface, 6 se trouvent sur une même droite entre 1/{{500000 | number}} et 1/{{40000000 | number}}.
  </p>
</section>
<section>
  <h2>Débat</h2>
  <p>En <time>1966</time>, <span class="people">Jacques Vallée</span> effectue une simulation au hasard sur ordinateur
    afin d'éliminer la psychologie de l'expérimentateur. Il trouve 1 alignement de 5 points, 5 de 4 points et 20 de 3
    points. Sans mettre en doute l'existence de tels alignements, il indique tout de même qu'<q>il reste à savoir si la
      possibilité de leur apparition par le hasard n'a pas été considérablement sous-estimée</q> <span class="source">Vallée, J.: 1966</span>.
    Reste à expliquer par le hasard la présence de grand "cigare" au centre de configurations en toile d'araignée, et le
    comportement des <a href="../OVNI.html">ovnis</a> aux lieux d'intersections.
  </p>
  <p>Et de fait, certains enquêteurs semblent réfuter ou ignorer les calculs de <span class="people">Vallée</span>.
    <span class="people">Norman E. Levine</span>, membre du <a href="/org/us/university/colorado/projet/condon">projet
      Colorado</a>, tentera par exemple fin <time>1967</time>/début <time>1968</time> de convaincre <span
        class="people">Roy F. Craig</span> de l'origine extraterrestres des observations d'ovnis en lui indiquant que
    <q>l'analyse sur ordinateur de l'orthoténie a maintenant montré qu'il n'y a que 1 chance sur 10<sup>39</sup> que les
      observations n'impliquent pas une intelligence extraterrestre</q>. <span class="people">Craig</span>, lui, comme
    le chef du projet <span class="source">Condon, E. U.: "<a href="/time/1/9/6/8/CondonReport/s5/c2/5">Orthoteny, the "Straight Line Mystery</a>", <em>Scientific Study of Unidentified Flying Objects</em>, 1968</span>
    ou d'autres sceptiques <span class="source">Menzel, H.: "Do Flying Saucers Move in Straight Lines?", 1964</span>,
    rejettera toujours cette <a href="../../../Theorie.html">théorie</a>, non pas forcément en elle-même, mais ne
    serait-ce que parce qu'elle ne distingue pas les ovnis réellement inexplicables des cas de <a
        href="../enquete/meprise">méprises</a> <span class="source">Craig, R. F.: <em>Ufos: An Insider's View of the Official Quest for Evidence</em>, Denton: <em>University of North Texas Press</em> 1995, p. 191</span>.
  </p>
  <p>Toujours est-il que la <a href="../../../Theorie.html">théorie</a> reste débattue, en France comme ailleurs <span
      class="source">Toulet, François: "Le point de vue contre", <em>Phénomènes Spatiaux </em>n° 31, mars 1972, pp.
    11-13</span> <span class="source">Saunders, D. R.: "BaVic est-il remarquable ?", <em>Phénomènes Spatiaux </em>n° 31, mars 1972, pp. 4-11</span>
    <span class="source">Druffel, A. (SkyNet Director): "<a href="/time/1/9/8/3/07/01/Druffel_Orthoteny">Southern California's Straight-Line Mystery In UFO Sightings</a>", <em>UFOs: A Scientific  Challenge</em>, <a
        href="/org/us/asso/mufon">MUFON</a> Annual UFO Symposium Proceedings, 1983-07-01</span>. Dans une étude non
    publiée <span class="source">Michel, A: <em>Mystérieux objets célestes</em>, 1977, p. 327</span>, <span
        class="people">Dominique Caudron</span> montre que même si les observations d'ovnis s'alignaient réellement, les
    alignements retrouvés par les <a href="/people/ufologues.html">ufologues</a> ne seraient pas les bons.</p>
</section>
<section>
  <h2>Isocélie</h2>
  <section>
    <h3>Fumoux</h3>
    <p>En <time>1978</time> Jean-Charles Fumoux (ex-lieutenant de l'<a href="/org/eu/fr/dn/aa">Armée de l'Air</a>),
      pointe lui aussi sur une carte de France un certain nombre de sites d'atterrissages d'ovnis :</p>
    <blockquote>
      <p>J'avais remarqué( ... ) que les droites 2 (Prémanon) - 3 (St Nicolas de Redon) et 3 (St Nicolas de Redon) - 4
        (Chabeuil) étaient d'égale longueur. ainsi que les droites 5 (Froncles) - 6 (Blanzy) et 6 (Blanzy) - 7
        (Maisoncelles en Brie). donc que les triangles 2-3-4 et 5-6-7 étaient isocèles.</p>
    </blockquote>
    <p>Fumoux trouvera plus de 1900 triangles isocèles pour 78 localisations prises en compte. <span
        class="source">Fumoux, 1978</span> <span class="source">Fumoux, J.-C.: Preuves scientifiques OVNI -
      L'Isocélie, 1982</span> .
    </p>
  </section>
  <section>
    <h3>Gille</h3>
    <p>Suite au travail de Fumoux, <span class="people">Jean-François Gille</span> tente de démontrer, une fois de plus,
      que ce qu'on appelle alors l'"isocélie" se ramène au hasard, mais découvre au contraire de nouvelles confirmations
      <span
          class="source">"L'isocélie de Fumoux : vers une logique des atterrissages d'ovnis ?", LDLN n° 192,
        1980-02</span>.</p>
    <p>Ces calculs visant à savoir si les "quasi-atterrissages d'OVNI" obéissent à une "logique de triangulation". Des
      calculs sont développés et leur conclusion présentée le <time>1979-12-11</time> À <span class="place">Paris</span>
      lors d'une conférence de presse <span class="source"><em>Le Monde</em>, 1979-12-14, p. 29</span>. Cette démarche
      publicitaire est organisée par M. Schneyder et obtient un certain retentissement dans les revues ufologiques, les
      journaux nationaux ou régionaux, et même certaines publications scientifiques...</p>
  </section>
  <section>
    <h3>GEPAN</h3>
    <p>En <time>1981-04</time>, le <a href="/org/eu/fr/cnes/gepan">GEPAN</a> reprend dans sa Note Technique n° 3 les
      aspects techniques de "l'isocélie" afin de souligner les difficultés rencontrées dans ce type de démarche, et les
      diverses erreurs commises dans l'étude de Fumoux et <span class="people">Gille</span>.</p>
  </section>
  <section>
    <h3>Caudron</h3>
    <p>En <time>1981-11</time>, <span class="people">Dominique Caudron</span> démystifie l'isocélie <span
        class="source">"Les OVNI sont-ils pilotés par des extraterrestres ?", Science & Vie n° 770, 11/1981, p.
    60</span>.</p>
  </section>
  <span class="source">Granger, Michel: "<a href="https://michelgrangerovni.blogspot.com/2016/03/l-artefact-statistique.html">L’«orthoténie» : artefact statistique, erreur méthodologique, mirage ou
    illusion ?</a>", 2016-03-24</span>
</section>
<!--#include virtual="/footer.html" -->
