<!--#include virtual="/header-start.html" -->
<title>Jean-Gabriel Greslé</title>
<!--#include virtual="/header-end.html" -->
<p>Greslé naît le <time>1932-11-16</time> à <span class="place">Aubervilliers</span>. À 8 ans, il aurait lu <i>le Juif
  errant</i>, la totalité du <i>Comte de Monte Christo</i>, serait entré en 6ᵉ à 9 ans, et au <span class="place">Lycée Voltaire</span>
  à 10 ans. Par la suite, il s’intéresse plus au scoutisme qu’à ses études secondaires qui sont médiocres <span
      class="source">"<a href="https://feairplane.canalblog.com/archives/2010/06/11/19137659.html">Extraterrestres SECRET d'ETAT</a>", FEA, 2010-06-11</span>
  .</p>
<section>
  <h2>Pilote de chasse</h2>
  <p>En <time>1951-10</time> il s'engage dans l'armée.</p>
  <p>En <time>1952</time>, alors qu'il élève-pilote de chasse au Cadet Club de l'USAF en <span class="place">Caroline du Nord</span>,
    Greslé entend à la radio annoncer que les émissions sont arrêtées dans tout le territoire des <a
        href="/org/us">USA</a> car <a href="/science/crypto/ufo/enquete/dossier/Washington">des échos non identifiés
      viennent d'être détectés</a> au-dessus de la Maison Blanche et du <a
      href="/org/us/region/wa/pentagone/index.html">Pentagone</a>. La radio demande de ne pas quitter l'écoute, mais au
    bout d'une
    demi-heure, on parle d'événement incertain. A la même époque, Un instructeur et son élève révèlent à Greslé leur
    expérience de croisement d'un engin "bizarre" en vol de nuit.</p>
  <p>En <time>1953-06</time> il reçoit ses ailes d’argent et son brevet de pilote militaire, avec la promotion 53D.</p>
  <p>Après l’école de tir sur F-84G Thunderjet à la <span class="place">base USAF de Luke (Arizona)</span>, il est
    affecté au 2/3 Champagne à <span class="place">Reims</span> puis au 1/22 Saintonge en Indochine où, en
    <time>1955-09</time> à <span class="place">Cap Saint Jacques (Vietnam)</span>, avec un ami pilote de chasse
    également, il aperçoit une énorme boule jaune ressemblant à un <a
        href="/science/crypto/ufo/enquete/meprise/rentree/meteore">météore</a>, qui descend à 45° vers l'horizon puis
    semble rebrousser chemin en laissant derrière elle une traînée lumineuse d'un vert intense.</p>
  <p>Par la suite il est affecté au 3/10 à <span class="place">Creil</span>.</p>
</section>
<p>Libéré de ses obligations militaires, il se consacre pendant 3 ans à la la prospection aérienne (recherche aéroportée
  de matériaux fissibles en Afrique), ainsi que pour le Commissariat à l'Énergie Atomique.</p>
<section>
  <h2>Pilote de ligne</h2>
  <figure class="left side">
    <figcaption>Greslé</figcaption>
    <img alt="Jean-Gabriel Greslé" src="portrait.jpg"/>
  </figure>
  <p>Il prépare le concours d’entrée à <em>Air France</em>, et entre dans la compagnie en <time>1963-09</time> <span
      class="source">S. G.: "<a
      href="https://www.ladepeche.fr/article/2013/07/01/1662198-ancien-pilote-air-france-ai-eu-preuve-existence-ovnis.html">Ancien pilote à Air France : «J'ai eu la preuve de l'existence des ovnis»</a>", La Dépêche, 2013-07-01</span>
    Il commence 2nd pilote sur Caravelle et sur Boeing 707.</p>
  <p>En <time>1968</time> au <span class="place">Brésil</span>, aux commandes d'un Boeing 707, entre <span
      class="place">Rio de Janeiro</span> et <span class="place">Florianopolis</span>, à {{10800|number}} m d'altitude,
    il remarque sur l'écran de son radar un écho en forme de goutte d'eau. Il pourra mesurer la vitesse de l'engin (près
    de 5300 km/h) mais n'aura jamais de contact visuel, car il volait dans une couche nuageuse située sous le Boeing.
  </p>
  <p>Co-pilote à <em>Air France</em>, il a à l'occasion de lire le <a href="/time/1/9/6/8/CondonReport">rapport
    Condon</a> à l'époque sa parution à <span class="place">New York</span>. La lecture est ardue, mais les annexes le
    convainquent que l'Armée de l'Air et le projet Blue Book ne sont pas sincères. Il est encouragé dans cette
    conviction par d'autres documents, tels les <a href="/org/us/dod/af/afr200-2.html">AFR-200-2</a> ou le <a
        href="/time/1/9/7/7/05/17/janap1462">JANAP-146</a>, ou montrant l'intérêt pour le sujet par l'Armée américaine
    et les services de renseignement, en contradiction avec l'image qu'il perçoit dans la <a
        href="/science/crypto/ufo/observation/media/presse">presse</a> ou le public. Ayant accès à 1600 pages
    dactylographiées venant du <a href="/org/us/ic/fbi">FBI</a>, il indique à qui veut le savoir comment se les procurer
    <span class="source">Greslé, J.-G.: <em>Les documents interdits - Ce que savent les
      états-major</em>, Dervy 2004, ISBN 2844542743</span>.
  </p>
  <section>
    <h3>Airmiss</h3>
    <p>Le <time>1984-07-27 23:50</time>, alors qu'il pilote le Boeing 747-Combi du vol Air France AF 6842 relie <span
        class="place">Los Angeles</span> à <span class="place">Montréal</span> : <q>La nuit est parfaitement claire et
      la visibilité excellente tandis que nous passons au nord de la ville de <span class="place">Detroit</span>. La fin
      du vol en croisière à {{11500|number}} m d'altitude approche. Dans la glace latérale droite, derrière la tête du
      copilote, j'aperçois une épaisse traînée lumineuse qui dépasse l'avion à grande vitesse. Elle est attachée à un
      groupe serré de 3 sphères d'apparence métallique et la trajectoire suivie par ce phénomène est rigoureusement
      parallèle à notre route. Son altitude est légèrement au-dessus de l'horizon. Un chronométrage précis permet de
      voir que les objets nous doublent en 15 s. En tendant ma main à bout de bras, tout en alertant mon équipage,
      j'obtiens des mesures angulaires précises du phénomène. Au moment où je vais demander des explications au
      contrôleur de la navigation aérienne sur ce "trafic" non annoncé, c'est lui qui appelle pour me demander de
      décrire ce qui vient de nous dépasser. 2 autres vols commerciaux, un <em>Olympic Airways</em> et un
      <em>Lufthansa</em>, interviennent sur la même fréquence pour confirmer cette observation. Je demande alors à la
      tour de contrôle si ses radars visualisaient ce curieux engin et lui annonce que j'envisage de déposer un "<a
          href="/science/crypto/ufo/glossair.html#Airmiss">airmiss</a>", une procédure prévue en cas de risque de
      collision grave. Très gêné, le contrôleur confirme que l'avion d'Air France était bien le plus proche du phénomène
      mais que celui-ci n'avait jamais été à moins des 9 km réglementaires pour justifier une telle procédure. Cette
      distance minimum de passage de l'objet me permet d'évaluer ses dimensions et sa vitesse. Les calculs montrent que
      le phénomène se déplaçait à une vitesse supérieure à 3400 km/h. Le groupe d'engins qui précédait la traînée
      lumineuse pouvait avoir un diamètre de 100 m environ tandis que la traînée, très dense, opaque et lumineuse sur
      toute sa longueur, s'allongeait sur environ 2 km...</q> Il a été estimé que les 3 objets sphériques étaient à 10
      km du Boeing 747, volaient à 3300 km/h (contre 900 km/h pour l'avion) et avaient un diamètre de 40 à 50 m environ.
    </p>
  </section>
</section>
<section>
  <h2>Observation</h2>
  <p><a href="/science/crypto/ufo/enquete/dossier/5Novembre">Le soir du 5 novembre 1990</a> à <span
      class="place">Gretz-Armainvilliers (Seine-et-Marne)</span>, en sortant d'un cours il aperçoit avec des amis une
    structure rectangulaire se déplaçant vers l'est et balisée de nombreuses lampes rouges. Elle a la forme d'une flèche
    de grue avec, à l'avant, 2 phares projetant une lumière blanche. La longueur apparente de l'objet est estimée à 400
    m et son épaisseur à 80 m environ, soit des dimensions un peu plus grandes que celles de la Tour Eiffel. La vitesse
    de l'objet est assez faible (entre 150 et 300 km/h) mais le plus impressionnant est le silence avec lequel il se
    déplace.
  </p>
</section>
<p>Après 39 ans d'aviation et {{17500|number}} h de vol, Greslé prend sa retraite et écrit divers livres témoignant de
  ses enquêtes et expériences personnelles sujet des ovnis <span class="source">Greslé, J.-G.: <em>Objets volants non identifiés : un
    pilote de ligne parle, </em>Guy Trédaniel 1993</span> <span class="source">Greslé, J.-G.: <em>Hypothèse
    Extra-Terrestre, </em>Guy Trédaniel, 1994</span>. Il continue de s'interroger, non pas sur la matérialité d'un
  phénomène — qu'il considère comme amplement prouvée — mais sur son origine. Il déclare : <q>Pour moi, prises dans leur
    ensemble, mes observations se rapportent peut-être à des technologies humaines gardées secrètes par les états-majors
    militaires ou alors à des phénomènes relevant d'une science que l'humanité ne possède pas encore.</q></p>
<p>En <time>1995</time>, il fait partie avec <span class="people">Alain H. Boudier</span> des experts audtionnés pour
  l'élaboration du rapport sur les ovnis issu de la <a href="/org/eu/fr/dn/DRM.html">DRM</a>. Cette année-là <span
      class="people">Bernard Thouanel</span>, qui prévoit un 1er numéro VSD HS consacré au sujet mais ne connait pas
  grand monde dans le <a href="/science/crypto/ufo/Milieu.html">milieu ufologique</a> français, contacte notamment
  Greslé, qui a collaboré à l'hebdomadaire lors de l'affaire de <a href="/science/crypto/ufo/enquete/dossier/Roswell">l'"autopsie
    de Roswell"</a>. Greslé, avec <span class="people">Boudier</span>, devient conseiller du magazine, propose des
  thèmes pour ce 1er numéro consacré à l'<a href="/science/crypto/ufo">ufologie</a>, tels les "anomalies lunaires" ou le
  "visage de Mars" mais qui ne convainquent pas la rédaction. Le sérieux officiel et scientifique que le magazine
  recherche sera trouvé en <time>1998</time> à l'occasion de la préparation d'un nouveau numéro, et d'un déjeuner-débat
  dans le restaurant parisien <em>Fouquet's</em>, en <time>1998-02</time>, où Greslé et <span
      class="people">Boudier</span> sont invités comme consultants aux côtés de personnalités intéressées par le
  phénomène ovnis, tels <span class="people">Jean-Jacques Vélasco</span>, <span
      class="people">François Louange</span>, <span class="people">Jean-Claude Ribes</span>, <span class="people">Bernard Norlain</span>,
  ou p.
</p>
<p>En <time>2013-05</time>, il publie un nouveau livre <span class="source">Greslé, J-G.: <em>1942- 1954 - la genèse
  d'un secret d'état</em>, éditions DEVRY, 2013-05.</span> défendant la thèse d'un <a
    href="/science/crypto/ufo/observation/scenario/conspiration ">secret d'état</a>.</p>
<p>Par la suite Greslé, commence à donner des conférences où il montre ce qu'il présente être une preuve d'une
  dissimulation officielle : un document décrivant la prise en charge des "OVNIs/OANIs" par des directions de la <a
      href="/org/eu/fr/dn/SGDN.html">SGDN</a>. C'est en fait la page de ce site, RR0.org, qu'il présente, à tort, comme
  un document officiel <span class="source">Beau, J.: "<a
      href="https://www.javarome.org/post/2018/05/16/%C3%80-propos-du-SGDN">À propos du SGDN</a>", Javarome.org,
    2018-05-16</span>.</p>
<!--#include virtual="/footer.html" -->
