<!--#include virtual="/header-start.html" -->
<title>Terre</title>
<!--#include virtual="/header-end.html" -->
<p class="exergue">L'étude des certains signalements d'ovnis depuis d'autres parties du monde nous donna la forte
  impression qu'ils étaient faits d'un mélange de cas d'un type semblable à ceux signalés aux Etats-Unis
  <span class="source">Signalements d'ovnis, <a href="/time/1/9/6/8/CondonReport/s2">Résumé de l'étude</a>, Rapport Condon, 1969</span>
</p>
<figure class="left side">
  <figcaption> La Terre, photographiée depuis la mission Apollo</figcaption>
  <img alt="La Terre, photographiée depuis la mission Apollo" src="/place/systeme/solaire/planete/terre/Apollo.jpg"/>
</figure>
<p><i>Terre</i> est le nom que nous avons donné à la planète sur laquelle nous vivons, la 3ᵉ à partir du <a
    href="../../Soleil">Soleil</a> dans <a href="../..">notre système</a>, et la 5ème en taille.
</p>
<p>Il s'agit de la seule planète dont le nom n'ait pas une origine dans la mythologie greco-romaine. Dans la mythologie
  romaine, le dieu de la Terre est Tellus - le sol fertile (en grec : Gaia, <em>terra mater</em> - Mère Terre).
</p>
<p>Il a fallu attendre l'époque de <a href="/people/c/CopernicNicolas">Copernic</a> (le 16ᵉ siècle) pour que l'on
  comprenne que la Terre n'est qu'une planète parmi d'autres.
</p>
<p>La Terre, bien sûr, peut être étudiée sans vaisseau spatial. Cependant, il a fallu attendre le <a href="/time/1/9">20ème
  siècle</a> pour avoir des cartes de la planète entière. Les images de la planète prises depuis l'espace sont d'une
  importance considérable ; par exemple, elles sont d'une aide immense dans les prédictions météo et particulièrement
  dans le repérage et la prédiction de cyclones.
</p>
<section>
  <h2>Structure</h2>
  <div class="SubMenu">
    <ul>
      <li>orbite : {{149600000 | number}} km (1,00 UA) du <a
          href="../../Soleil">Soleil</a></li>
      <li>diamètre : {{12756.3 | number}} km</li>
      <li>masse : 5,972e24 kg</li>
      <li>volume : {{1098066219444|number}} km<sup>3</sup></li>
      <li>creux : {{440468246256|number}} km<sup>3</sup></li>
    </ul>
  </div>
  <p>La Terre est divisée en plusieurs couches qui ont des propriétés chimiques et sismiques différentes :</p>
  <ul>
    <li>0-40 km : Croûte
    </li>
    <li>40-400 km : Manteau supérieur
    </li>
    <li>400-650 km : Zone de transition
    </li>
    <li>650-2700 km : Manteau inférieur
    </li>
    <li>2700-2890 km : Couche D''
    </li>
    <li>2890-5150 km : cœur externe
    </li>
    <li>5150-6378 km : cœur interne</li>
  </ul>
  <p>La croûte varie considérablement en épaisseur, plus fine sous les océans, et plus épaisse sous les continents. Le
    cœur interne et la croûte sont solides ; le cœur externe et les couches du manteau sont plastiques ou semi-fluides.
    Les différentes couches sont séparées par des discontinuités qui sont évidentes dans les données sismiques ; la plus
    connue est la discontinuité de Mohorovicic entre la croute et le manteau supérieur.
  </p>
  <p>La plupart de la masse de la Terre réside dans le son manteau, la plupart du reste étant dans le cœur ; la partie
    de nous habitons est une infime fraction de l'ensemble (valeurs en dessous de x10<sup>24</sup> kg) :
  </p>
  <ul>
    <li>atmosphère = 0,0000051
    </li>
    <li>océans = 0,0014
    </li>
    <li>croûte = 0,026
    </li>
    <li>manteau = 4,043
    </li>
    <li>cœur externe = 1,835
    </li>
    <li>cœur interne = 0,09675</li>
  </ul>
  <section>
    <h3>Creuse ?</h3>
    <p>Comme la <a href="lune">Lune</a>, la Terre n'a pas échappé à des théories étonnantes : après la Terre plate,
      certains avancent l'idée d'une <a href="/science/crypto/ufo/enquete/dossier/TerreCreuse">Terre creuse</a>.
    </p>
  </section>
  <section>
    <h3>Axe et pôles</h3>
    <p>Dans les années 1960s nombre de contactés avancent que la Terre est sur le point de connaître des cataclysmes dus
      à un changement de son inclinaison ou à un décalage de ses pôles.
    </p>
  </section>
</section>
<section>
  <h2>Cartographie</h2>
  <div class="right">
    <p><strong>Super-continents</strong></p>
    <ul>
      <li><a href="amer/">Amériques</a></li>
      <li><a href="antar">Antarctique</a></li>
      <li><a href="eurafras/">Afro-Eurasie</a></li>
      <li><a href="ocea/">Océanie</a></li>
    </ul>
    <p><strong>Satellite naturel</strong></p>
    <ul>
      <li><a href="lune">Lune</a></li>
    </ul>
  </div>
  <figure class="right side">
    <img alt="Carte de la Terre" src="map.jpg"/>
    <figcaption>Carte de la Terre</figcaption>
  </figure>
</section>
<section>
  <h2>Organisation</h2>
  <p>L'humanité a organisé la terre selon des structures <a href="/org">nationales ou internationales</a>.
  </p>
  <section>
    <h3><a id="Archuleta"></a>Archuleta Mesa (pic)</h3>

    <p>Zone située au nord-ouest de Dulce, au <a
        href="amer/n/us/nm">Nouveau-Mexique</a>, où de nombreux chercheurs ufologues, dont <a
        href="/people/ufologues.html#BishopJason">Jason Bishop</a>, pensent que se trouve une <a
        href="index.html#Dulce">base Américaine souterraine</a>.
    </p>
  </section>
</section>
<section>
  <h2>Chahimardansay</h2>
  <p>Gorge située à environ 40 km au sud de la ville de Fergana (Ouzbékistan) où apparaît un personnage dont la tête est
    entourée par 2 auréoles superposées reliées entre elles par 5 rayons. <a
        href="/people/s/ScornauxJacques">Jacques Scornaux</a> et <a href="/people/p/PiensChristiane/index.html">Christiane
      Piens</a>, dans <em><span class="source">[Scornaux/Piens 1976]</span> A la recherche des OVNI,</em> écrivent que
    l'on a ici une figure qui dépasse largement ce qu'étaient capables d'imaginer les hommes du néolitique.
  </p>
  <section>
    <h3>Himalaya</h3>
    <p>Chaîne de montagnes de l'Asie, où une activité extra-terrestre souterraine prendrait place, dans la région de <a
        href="index.html#Manosarowar">Manosarowar</a>.
    </p>
  </section>
  <section>
    <h3>Hunter</h3>
    <p>Terrain d'aviation de l'Armée situé en Georgie.</p>
    <p>En <time>1976</time>, 2 agents de sécurité de la base ont aperçu un ovni proche de celle-ci.</p>
  </section>
  <section>
    <h3>Illampu, Mont</h3>
    <p>Montagne de l'<a
        href="index.html#Amérique du Sud">Amérique du Sud</a> où une activité extra-terrestre souterraine prendrait
      place.
    </p>
  </section>
  <section>
    <h3>Mahé</h3>
    <p>Ile des Seychelles.</p>
    <p>Il existe dans l'île de Maé une base d'observation de la <a
        href="/org/us/nasa">NASA</a> (observation de satellites ?).
    </p>
    <p>2 ans avant de se rendre à Mahé, le célèbre explorateur français Christian Zuber, avait filmé une base identique
      à celle de Mahé, destinée à observer les satellites, en Afrique du Sud. Aucun ennui, aucune interdiction. Mais
      lorsqu'il voulut obtenir les mêmes facilités pour Mahé, il se heurta à un barrage significatif, une sorte de
      conspiration du silence, comme il le rapporte lui-même.
    </p>
    <p>Il écrivit alors une lettre à Prétoria pour obtenir une lettre de recommandation. La réponse lui parvint
      rapidement :
    </p>
    <blockquote>
      <p>Impossible de vous aider, c'est de cette base que l'on a observé le plus grand nombre d'engins extraterrestres.
        Nouveaux réglements concernant la presse...
      </p>
    </blockquote>
    <p>Christian Zuber écrivit alors à Washington. On lui répondit :</p>
    <blockquote>
      <p>Avons fait le maximum. Impossible. Secrets militaires. Essayez de voir sur place.</p>
    </blockquote>
    <p>Sur place, il ne put obtenir aucune information sur la base, ni même l'autorisation de photographier l'énorme
      radar. Les officiers se turent.
    </p>
  </section>
  <section>
    <h3>Malte (île de)</h3>
    <p>Ile située à l'extrême Sud de la pointe de l'Italie, en Europe, où se serait produit l'<a
        href="/time/1/9/9/5/03/26/Branton_TheCosmicGrandDeception/malte/index_fr.html">incident de Malte</a>.
    </p>
  </section>
  <section>
    <h3>Manosarowar</h3>
    <p>Région de la chaîne de montagnes de l'<a
        href="index.html#Himalaya">Himalaya</a> où une activité extra-terrestre souterraine prendrait place.
    </p>
  </section>
  <section>
    <h3>Moffet</h3>
    <p>Terrain d'aviation de l'Aéronavale situé à l'ouest de Palo Alto (Californie). Cette base secrète expérimente des
      avions.
    </p>
  </section>
  <section>
    <h3>Sierra Nevada</h3>
    <p>À l'extrémité nord du massif montagneux de la Sierra Nevada, découvre la vue du mont Shasta, en Californie
      septentrionale. Or, des témoins on pu observer dans cette région d'étranges cérémonies, des feux dans le ciel.
      Pour en savoir plus, ils s'approchèrent, mais se heurtèrent à des sortes de <q>vibrations</q>, qui les clouèrent
      au sol. Là, des hommes grands, blonds, énigmatiques, feraient du troc avec les habitants du pays.
    </p>
    <p>Au telescope, un astronome américain, le professeur Edgar Lucin Larkin, ancien directeur de l'observatoire du
      mont Lowe (Californie méridionale) put apercevoir de loin un dôme métallique doré, entouré de constructions
      d'allure étrange.
    </p>
    <p>Mais, on serait tenté de croire que des portes sont cependant ouvertes vers des contrées interdites et défendues
      par des barrières vibratoires. Il existe en effet, dans cette zone de la Sierra Nevada, une colline où mène un
      sentier rocailleux. Quiconque franchit une certaine limite de ce sentier <q>est aussitôt absorbé</q> par un
      phénomène extraordinaire et devient invisible aux yeux de ceux qui le suivent, sans qu'il soit retrouvé. Devant
      l'émotion que souleva de tels événements, le Pentagone décida de faire une enquête : des animaux furent dirigés
      vers cette <q>porte</q> et s'évanouirent comme s'ils n'avaient jamais existé. Des films et des photos
      enregistrèrent ces disparitions, mais sont gardés soigneusement au secret.
    </p>
    <p>Nous ignorons si les autorités tentèrent de faire passer un animal attaché au bout d'une longue corde et
      parvinrent à le ramener une fois la porte invisible franchie. Tout s'expliquerait alors d'une certaine manière. On
      comprendra toute l'importance de tels faits lorsque l'on saura qu'en <time>1959</time>, un Dakota d'une ligne
      aérienne intérieure qui se préparait à atterir disparut totalement au-dessus de cette région. On n'en retrouva
      aucune trace.
    </p>
    <p>Un homme audacieux franchit volontairement le redoutable sentier qui serpente à travers les roches volcaniques de
      la Sierra Nevada. Devant lui, tout est désert, tranquille, silencieux. Seul, le vent balaie les alentours.
      Brusquement, il croit devenir fou : des cités fantastiques sont dressées d'un seul coup devant lui, des êtres
      s'affairent dans une étrange activité, la montagne s'est animée d'une vie spontanée et inexplicable. Sans le
      savoir, il venait de franchir la fameuse <q>porte invisible</q>.
    </p>
    <span class="source">"Ephemeral Natural Satellites of Earth", <em>Science</em>, 14 novembre 1958</span>.
  </section>
</section>
<!--#include virtual="/footer.html" -->
