<!--#include virtual="/header-start.html" -->
<title>Donald A. Johnson</title>
<!--#include virtual="/header-end.html" -->
<figure class="left side">
  <figcaption>Donald A. Johnson</figcaption>
  <img src="portrait.jpg">
</figure>
<p>Johnson fait des études à l'<span class="place">Université du Colorado</span> de Boulder, où il obtient un B. A. en
  Anthropologie en <time>1975</time>.</p>
<p>Il part ensuite à <span class="place">Seattle</span>, où à l'Université de Washington, il est membre de la faculté de
  recherche du Département des Systèmes de Soins de Santé de la Communauté à l'Ecole d'Infirmerie. Il travaille pour le
  Centre des Etudes de Santé à la Coopérative du Groupe Santé de <span class="place">Puget Sound</span>, où il fait des
  recherches pendant 5 ans. Il sert ensuite comme statisticien au Centre Médical du Département de Recherche &
  Développement des Services de Santé. En <time>1987</time>, il obtient enfin son doctorat en <a
    href="/science/discipline/soc/psycho/index.html">psychologie</a> de l'Université de Washington.
</p>
<p>Johnson est par la suite employé par Landy, Jacobs & Associés de la Faculté d'Etat, de <span class="place">Pennsylvanie</span>
  et ORA, Inc. de <span class="place">Mount Laurel (New Jersey)</span>. Dans ces 2 sociétés il travaille comme
  psychologe industriel / organisationnel ou spécialiste du développement de tests. Son travail chez ORA inclut du
  conseil aux agences d'état et fédérales et à quelques sociétés du Fortune 500, dont Dupont, AMP, Supervalu, Fleming
  Foods, Alex Lee, Inc., et la <em>NJ Turnpike Authority</em>. Il travaille aussi pendant 1 an pour <em>Data Tactics of
    Bala Cynwyd</em> (Pennsylvanie) où il est responsable des statistiques avancées en recherche de marché,
  principalement pour les industries médicales et pharmaceutiques.
</p>
<p>En <time>1994</time>, il commence sa propre affaire. Il développe de nombreux nouveaux tests pour le développement de
  carrière, le développement organisationnel, et l'évaluation de personnalité. Il est expert du Système d'Evaluation de
  la Personnalité utilisé avec le WAIS-R et le type psychologique <a href="../JungCarlGustav/index.html">Jungien</a>. Il
  a mené de nombreux ateliers de formation pour des professionnels à travers les USA et le Canada. Il est l'auteur du
  <em>Personality Profiler</em>, une mesure du type psychologique, et co-auteur de nombreuses autres études et tests
  dont la <abbr title="Values Arrangement List">VAL</abbr>, <i lang="en">Values Arrangement List for Teens</i>, et la
  <abbr title="Values Arrangement List for Organizations">VAL-OR</abbr>. Il est membre adjoint de la faculté de l'<span
    class="place">Université du sud du New Hampshire</span>, de celle de l'état de Plymouth, et de celle de la
  Communauté Technique du New Hampshire.</p>
<p> Johnson a un intérêt de longue date pour le phénomène ovni et maintient un <a
  href="/time/Catalogues.html">catalogue</a> informatisé de plus de {{150000|number}} rapports d'ovnis pour le <a
  href="/org/us/asso/cufos/index.html">CUFOS</a>, nommée <i lang="en">UFOCAT</i>. Il est aussi un étudiant avide des
  effets des Evénements de Changement Rapide du Climat (<abbr title="Rapid Climate Change Events">RCCE</abbr>) sur
  l'évolution culturelle et génétique humaine, et mène actuellement des recherches pour un livre sur les effets d'une
  épidémie de peste bubonique sur la population d'Islande.
</p>
<span class="source">Johnson, D. A.: "The UFO Phenomenon: A Guide for the Perplexed" (in press).</span>
<span class="source">Johnson, D. A.: "<a
  href="/time/2/0/0/3/JohnsonDonald_SameTimeNextYear_OhioUfoNotebook/index_fr.html">Same Time Next Year
  Syndrome</a>", Ohio UFO Notebook, included in issue no. 24, the 2003 Membership Issue, published by William Jones and MUFON of Ohio.</span>
<span class="source">Johnson, D. A.: "The Effects of Position and Distance in UFO Ignition-Interference Cases" - Journal of UFO Studies Vol III.</span>
<span class="source">Johnson, D. A.: "<a
  href="/time/1/9/7/8/03/JohnsonDonaldA_AStructuredApproachToTheAnalysisOfNonPhysicalUfoEvidence_MUFOB/index_fr.html">A Structured
  Approach to the Analysis of Non-Physical UFO Evidence</a>", MUFOB New Series, spring 1978 - <i lang="en">Journal of
  UFO Studies</i> Vol 3.</span>
<span class="source">Johnson, D. A.: "<a
  href="https://www.cufon.org/contributors/DJ/Do%20Nuclear%20Facilities%20Attract%20UFOs.htm">Do Nuclear Facilities Attract UFOs</a>" - NCP 11</span>
<!--#include virtual="/footer.html" -->
