<!--#include virtual="/header-start.html" -->
<title>Le rapport spécial n° 14 du projet Blue Book</title>
<meta name="author" content="Hendry, Allan">
<meta name="copyright" content="CUFOS">
<link rel="start" href=".." title="Le Manuel OVNI">
<link rel="prev" href=".." title="Outils : Statistiques ">
<!--#include virtual="/header-end.html" -->
<p>Aucune discussion de l'application de <a href="/science/crypto/ufo/analyse/statistique">statistiques sur les
  signalements d'ovnis</a> ne serait complète sans mentionner l'effort de grande ampleur le plus connu d'examen de la
  distinction entre <a href="/science/crypto/ufo/OVNI.html">OVNI</a>s et <a href="/science/crypto/ufo/OVI.html">OVI</a>s,
  <a href="/time/1/9/5/5/05/05/PBBSR14">le rapport spécial n° 14 du projet Blue Book</a>. Commandé par l'<a
      href="/org/us/dod/af">USAF</a> en <time>1951</time> au <a href="/org/us/bmi">BMI</a>, le Rapport Spécial n° 14
  devait, pour le capitaine <span class="people">Edward J. Ruppelt</span>, alors directeur du projet de l'<a
      href="/org/us/dod/af">USAF</a>, permettre de dégager plus d'informations sur les signalements d'ovnis, mais
  certainement de résoudre le mystère. Au lieu de cela, l'étude controversée allait servir à la fois de pierre angulaire
  à la politique de scepticisme finale de l'<a href="/org/us/dod/af">USAF</a> et aux partisans des ovnis qui
  l'exploitent pour montrer comment l'<a href="/org/us/dod/af">USAF</a> atteint des conclusions négatives opposées à
  leurs propres résultats statistiques.
</p>
<p>Le <a href="/org/us/bmi">BMI</a> a travaillé sur plus de {{2199 | number}} signalements recueillis par l'<a
    href="/org/us/dod/af">USAF</a> entre <time>1947-01-06/1952-12-31</time>. Il les ont classés, sur les base des
  informations disponibles, en diverses catégories d'OVIs (e.g. astronomiques, oiseaux, ballons, etc.), une catégorie
  psychologique, une catégorie <q>inconnu</q> et, de manière significative, une catégorie <q>informations
    insuffisantes</q>. Les ufologues sont prompts à nous rappeler l'existence de ce dernier groupe puisque cela semble
  montrer qu'un "OVNI" valide aux yeux du <a href="/org/us/bmi">BMI</a> ne recevait <em>pas</em> ce statut en cas
  d'informations partielles. Le <a href="/org/us/bmi">BMI</a> pensait apparemment avoir les informations nécessaires
  pour atteindre une conclusion valide. D'autres exemples de la discrimination effectuée par le <a href="/org/us/bmi">BMI</a>
  incluaient la séparation de tous les cas en 4 groupes de fiabilité, qualifiés de <q>excellent</q>, <q>bon</q>, <q>douteux</q>
  et <q>médiocre</q> ; ceux-ci étaient basés sur les âges, occupations, formations, capacités à être factuels et
  attiudes des témoins, ainsi que la complétude et la cohérence intrinsèque des signalements. Pour qu'un signalement
  soit jugé <q>inconnu</q>, une décision de la totalité du panel d'identification était requise. Au final, les <q>inconnus</q>
  n'avaient pas à inclure des décision de seuils, puisqu'ils pouvaient facilement être classés dans les catégories d'<q>OVI
    douteux</q> disponibles.
</p>
<p>Pourquoi les ufologues pensent-ils que l'<a href="/org/us/dod/af">USAF</a> s'est grillée avec le Rapport n° 14 ? Le
  projet a séparé tous les OVNIs des OVIs et classé chaque groupe en 6 catégories descriptives : <a
      href="/science/crypto/ufo/observation/pan/aspect/forme">forme</a>, <a
      href="/science/crypto/ufo/observation/pan/aspect/Couleur.html">couleur</a>, durée,
  <a href="/science/crypto/ufo/observation/pan/comportement/Vitesse.html">vitesse</a>, nombre et luminosité. Les
  signalements d'OVNI et d'OVI furent comparés pour y chercher des caractéristiques semblables, en utilisant un appareil
  statistique connu sous le nom de test du χ<sup>2</sup>. Cela dégage une correlation numérique sous forme de
  pourcentages pour les différentes caractéristiques comparées. Avec les critères de ce test comparatif, l'<a
      href="/org/us/dod/af">USAF</a> paria que les OVNIs allaient se comporter comme les OVIs. L'<a
      href="/org/us/dod/af">USAF</a> perdit. Dans chacune des 6 comparaisons, le test du χ<sup>2</sup> débouchèrent sur
  moins de 1 % de chances que les OVNIs et les OVIs représentent le même stimuli. Comme pour prouver qu'ils voulaient
  une conclusion non-excitante, l'<a href="/org/us/dod/af">USAF</a> déclara que la subjectivité des données avait
  débouché sur une conclusion incorrecte. Mais si les données étaient si subjectives et si peu fiables depuis le départ,
  <em>pourquoi ont-il seulement commandé cette étude statistique</em> ? Le communiqué de presse ne fit aucune mention du
  résultat du test du χ<sup>2</sup> qui constituait le principal du travail. Ceci, couplé à la déclaration
  contradictoire selon laquelle le projet n'avait <em>pas</em> étayé l'existence des ovnis, fit la démonstration des
  attitudes biaisées de l'<a href="/org/us/dod/af">USAF</a>.
</p>
<p>Il y a beaucoup plus de l'étude du <a href="/org/us/bmi">BMI</a> qui peut être exploité par les ufologues. Dans le
  communiqué de presse concernant le Rapport Spécial n° 14, l'<a href="/org/us/dod/af">USAF</a> mis en avant un faible
  taux de 3 % d'OVNIs plus un faible taux de 7 % d'<q>informations insuffisantes</q> pour les 4 premiers mois de <time>1955</time>.
  Ils oublièrent de mentionner que l'étude du <a href="/org/us/bmi">BMI</a> avait évalué que 20 % de l'ensemble des
  observations de mi-<time>1947/1952</time> était constitué d'<q>inconnus</q> ! L'<a href="/org/us/dod/af">USAF</a>
  déclara que l'affinement de leurs méthodes d'enquête jusqu'en <time>1955</time> permit de réduire le nombre de cas
  inconnus comme de ceux manquant d'informations. Cependant, en utilisant les chiffres publiés ultérieurement par l'<a
      href="/org/us/dod/af">USAF</a>, regardez comme les années ont évolué :
</p>
<table>
  <thead>
  <tr>
    <th>Année</th>
    <th>Inconnus</th>
    <th>Informations insuffisantes</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><time>1959</time></td>
    <td>3 %</td>
    <td>17 %</td>
  </tr>
  <tr>
    <td><time>1963</time></td>
    <td>4 %</td>
    <td>15 %</td>
  </tr>
  <tr>
    <td><time>1966</time></td>
    <td>3 %</td>
    <td>24 %</td>
  </tr>
  </tbody>
</table>
<p>Pas vraiment ce que l'on appelerait une enquête <q>améliorée</q> des cas, avec autant de signalement incomplets !
  Lorsque le comité d'identification du <a href="/org/us/bmi">BMI</a> ont ré-examinèrentles données de l' <a
      href="/org/us/dod/af">USAF</a>, ils débouchèrent régulièrement sur des pourcentages plus élevés d' <q>inconnus</q>
  que n'en avaient les enquêteurs de l'<a href="/org/us/dod/af">USAF</a> :
</p>
<table>
  <thead>
  <tr>
    <th>Année</th>
    <th><a href="/org/us/dod/af">USAF</a></th>
    <th><a href="/org/us/bmi">BMI</a></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><time>1947</time></td>
    <td>10 %</td>
    <td>28 %</td>
  </tr>
  <tr>
    <td><time>1948</time></td>
    <td>5 %</td>
    <td>11 %</td>
  </tr>
  <tr>
    <td><time>1949</time></td>
    <td>12 %</td>
    <td>12 %</td>
  </tr>
  <tr>
    <td><time>1950</time></td>
    <td>13 %</td>
    <td>23 %</td>
  </tr>
  <tr>
    <td><time>1951</time></td>
    <td>13 %</td>
    <td>27 %</td>
  </tr>
  <tr>
    <td><time>1952</time></td>
    <td>20 %</td>
    <td>20 %</td>
  </tr>
  </tbody>
</table>
<p>De plus, une décision collégiale nécessaire pour qu'un signalement soit qualifié de <q>inconnu</q> aide à
  contrebalancer les décisions d'un sceptique des ovnis isolé. Un résultat inattendu fut trouvé lorsque les signalements
  furent différenciés selon les 4 catégories mentionnées précédemment, de <q>excellent</q> à <q>médiocre</q>. Les
  rapports <q>excellents</q> contenaient un taux exceptionnel de 33 % d'inconnus et 21 % de cas à informations
  insuffisantes. Les signalements jugés <q>médiocres</q>, cependant, ne contenaient que 17 % d'inconnus et 21 % sans
  informations suffisantes. Par conséquent, selon le jugement-même du <a href="/org/us/bmi">BMI</a>, les OVNIs n'étaient
  pas l'apanage de mauvais observateurs ni de mauvais signalements. Souvenez-vous, aussi, qu'il y avait une catégorie
  distincte pour les signalements ayant des informations insuffisantes, et qu'on ne pouvait mettre cela sur ce compte
  non plus. Comme l'a fait remarquer le chercheur <span class="people">Bruce Maccabee</span>, s'il n'y avait
  <em>aucun</em> véritable inconnu, les observateurs de la classe des <q>excellents</q> voyaient plus de ces faux
  inconnus que n'en jugeait le <a href="/org/us/bmi">BMI</a>. Ce qui est, bien sûr, paradoxal.
</p>
<p>Le <a href="/org/us/bmi">BMI</a> essaya aussi de voir s'il y un modèle unique pourait décrire l'ensemble des
  inconnus. Ils conclurent que seulement 12 cas d'ovnis étaient décrit avec suffisamment de détails pour qu'on puisse en
  faire des croquis... mais à qui la faute, sinon aux enquêteurs ? Etant donnée la diversité rencontrée dans ces 12 cas,
  il fut conclu qu'aucun modèle unique d'ovni n'émergeait de ces signalements. Ainsi, la phrase concluant le Rapport
  Spécial n° 14 indique : <q> il est considéré comme hautement improbable que quelques des rapports d'objets aériens non
    identifiés examinés dans cette étude représentent des observations de développements technologiques hors de portée
    de la connaissance scientifique d'aujourd'hui.</q> Surprenant ! Le test de comparaison du χ<sup>2</sup> n'aurait
  jamais <em>espéré</em> prouver ou réfuter quelque chose comme ça. Le but du projet n'était que d'examiner si les
  signalements d'ovnis, globalement, pouvaient être rapprochés des signalements d'OVIs. En utilisant des tests de χ<sup>2</sup>,
  cela réussit... à faire des OVNIs une classe unique d'objets.
</p>
<p>L'<a href="/org/us/dod/af">USAF</a> avait-elle vraiment besoin de tortiller de manière aussi tordue pour arriver à
  cette conclusion non désirée ? Jetons un nouvel œil aux données. Les 6 catégories choisies pour la comparaison —
  forme, durée, couleur, luminosité, nombre et vitesse — tracées sur des graphiques pour les OVNIs et les OVIs donnent
  ceci :
</p>
<iframe style="height:25em;width:38em;margin:1em auto;" src="https://docs.google.com/spreadsheets/d/1Rwp2zh28hAW8TA7U10ofDMmvo5UOjZ57f_2oIMYWKzM/pubhtml?gid=1125682300&single=true&widget=false&chrome=false"></iframe>
<iframe style="height:25em;width:38em;margin:1em auto;" src="https://docs.google.com/spreadsheets/d/1Rwp2zh28hAW8TA7U10ofDMmvo5UOjZ57f_2oIMYWKzM/pubhtml?gid=1460244640&single=true&widget=false&chrome=false"></iframe>
<iframe style="height:25em;width:38em;margin:1em auto;" src="https://docs.google.com/spreadsheets/d/1Rwp2zh28hAW8TA7U10ofDMmvo5UOjZ57f_2oIMYWKzM/pubhtml?gid=688223105&single=true&widget=false&chrome=false"></iframe>
<iframe style="height:25em;width:38em;margin:1em auto;" src="https://docs.google.com/spreadsheets/d/1Rwp2zh28hAW8TA7U10ofDMmvo5UOjZ57f_2oIMYWKzM/pubhtml?gid=734939532&single=true&widget=false&chrome=false"></iframe>
<iframe style="height:25em;width:38em;margin:1em auto;" src="https://docs.google.com/spreadsheets/d/1Rwp2zh28hAW8TA7U10ofDMmvo5UOjZ57f_2oIMYWKzM/pubhtml?gid=901418328&single=true&widget=false&chrome=false"></iframe>
<iframe style="height:25em;width:38em;margin:1em auto;" src="https://docs.google.com/spreadsheets/d/1Rwp2zh28hAW8TA7U10ofDMmvo5UOjZ57f_2oIMYWKzM/pubhtml?gid=492229866&single=true&widget=false&chrome=false"></iframe>
<p>Surpris ? Sous forme graphique, le corpus de données ne semble pas du tout si différent ; de fait, on pourrait
  s'attendre à ce qu'un test de χ<sup>2</sup> montre une forte corrélation numérique entre les différents profils.
  Pourtant l'application du test du χ<sup>2</sup> a montré une probabilité de moins de 1 % que les distributions
  OVNIs/OVIs représentent les mêmes caractéristiques pour 5 des 6 catégories. La <q>luminosité</q> a montré une
  correspondance raisonnable, bien au-delà du niveau des 5 %. Vous savez que le projet n'était pas satisfait du résultat
  quand ils ont immédiatement réfléchi à des manières de truquer les résultats, comme en excluant des connus les
  nombreuses observations astronomiques afin d'obtenir une meilleure correspondance. Cependant mon avis est qu'ils
  n'auraient pas dû interpréter le test du χ<sup>2</sup> autant au pied de la lettre. Voici pourquoi :
</p>
<section>
  <h2>Les données ne sont pas absolues</h2>
  <p>Prenez les 6 catégories choisies dans la discussion du chapitre sur le <a href="../../08">Message OVI</a> :</p>
  <ul>
    <li><em>Forme</em>. Souvenez-vous de la variété des fausses formes qui furent attribuées à des avions publicitaires,
      appareils vus uniquement à travers leurs feux, des étoiles même ; regardez dans les 6 sections d'OVIs de cet
      ouvrage les différentes formes attribuées aux signalements qui auraient pu autrement être facilement identifiés,
      et demandez-vous à quel point il faut prendre au pied de la lettre les formes rapportées des <q>connus</q> et des
      <q>inconnus</q> par les témoins de l'<a href="/org/us/dod/af">USAF</a>.
    </li>
    <li><em>Vitesse</em>. Egalement discuté précédemment ; si vous ne pouvez déterminer la distance ou la taille d'un
      projectile inconnu, vous ne pouvez évaluer sa vitesse avec précision, sans parler de ces avions
      <q>stationnaires</q> venant en fait de face ou des étoiles cachées par des nuages qui <q>s'en vont en une poignée
        de secondes</q>.
    </li>
    <li><em>Luminosité</em>. La plus difficile des 6 à rapporter précisément en termes subjectifs.</li>
    <li><em>Couleur et nombre</em> inspirent plus de confiance en terme de précision, mais sont moins substantielles que
      les 4 autres en tant que discriminants OVNIs/OVIs.
    </li>
  </ul>
  <p>Etant donnée la grande place laissée à des erreurs pour ces facteurs confirmée dans ma propre étude des OVIs,
    l'équipe du Rapport Spécial n° 14 n'aurait <em>pas</em> dû essayer de dégager des comparaisons plus serrées que les
    graphes qu'ils ont tracés, qui démontraient effectivement une congruence basique des 6 profils différents. La
    difficulté lorsqu'on utilise le test du χ<sup>2</sup> est que les chiffres que vous injectez dans la formule sont
    supposés être absolus, ce qui n'est pas le cas ici. Car puisque tout ce qui compte dans le χ<sup>2</sup> est les
    différences existant entre les deux corpus, les <q>inconnus</q> pourraient tout aussi bien être une distribution
    numérique différente des <q>connus</q> chez ceux éliminés et <em>toujours</em> générer des chiffres de corrélation
    bas. N'oubliez pas que, dans un échantillon de données aussi grand que celui de ce test, le corpus des <q>connus</q>
    était vraiment une combinaisons d'étoiles, avions, ballons, cerfs-volants, oiseaux et autres éléments disparates. Un
    autre échantillon parti de rien aurait probablement eu un "caractère" différent. Le fait que le <a
        href="/org/us/bmi">BMI</a> ai pu quantifier leurs signalements ne veut pas dire que les chiffres devraient être
    pris au sérieux au point de les soumettre aux rigueurs d'un test si sensible que celui du χ<sup>2</sup>. Si le <a
        href="/org/us/bmi">BMI</a> avait réellement eu une bonne appréciation de l'approximation de ces données, ils ne
    se seraient jamais embêté à envisager une comparaison statistique. Leur comportement dans la section de conclusion
    rend évident, cependant, qu'ils <em>voulaient</em> prendre les chiffres au sérieux... si les résultats leur avaient
    permis de "tuer" les OVNIs.
  </p>
</section>
<section>
  <h2>Inadéquation des 6 facteurs</h2>
  <p>L'autre chose qui me dérange est l'idée que les forme, couleur, durée, luminosité, nombre et vitesse seraient
    suffisants pour discriminer les identités des OVNIs et des OVIs. J'aurais aimé que d'autres considérations comme
    "taille angulaire" ou "manière de disparition" aient été inclus parce que, en utilisant les 6 catégories choisies
    par le <a href="/org/us/bmi">BMI</a>, on pourrait prétendre qu'il existe un cas solide de "bonne" relation
    χ<sup>2</sup> entre les bus de la ville et les éléphants d'Inde :
  </p>
  <ul>
    <li><em>Couleur</em>—<q>prédominante grise</q></li>
    <li><em>Forme</em>—<q>longue et arrondie</q>, <q>grossière</q>, <q>4 appendices à la base</q></li>
    <li><em>Durée</em>—<q>environ <time>P1M</time></q></li>
    <li><em>Nombre</em>—<q>généralement 1, parfois plusieurs à la suite</q></li>
    <li><em>Vitesse</em>—<q>lente</q> (souvenez-vous, des bus de ville !)</li>
    <li><em>Luminosité</em>—<q>reflet mat du soleil</q> (termes ambigüs à nouveau)</li>
  </ul>
  <p>De plus, un facteur important comme la forme a été réduit à 6 sous-types dont l'un était <q>autre</q>. <q>Elliptique</q>
    allait avec la plupart des formes, tandis que les autres représentaient des choix plutôt étranges qui laissaient
    beaucoup à désirer. Mon propre questionnaire avait 11 formes très variées, dont 1 laissait la possibilité d'une
    description libre de quelque chose qui n'était pas couvert par le reste. Croyez-moi, j'aurais eu beaucoup de mal à
    essayer de les faire correspondre aux formes de l'étude du <a href="/org/us/bmi">BMI</a>.
  </p>
</section>
<section>
  <h2>Signalements incomplets</h2>
  <p>Que le projet doive diviser ses inconnus en classes excellentes, bonnes, douteuses et médiocres sonne rassurant de
    prime abord. Mais regardez la quantité de cas, <q>connus</q> comme <q>inconnus</q>, qui ont des paramètres non
    précisés :
  </p>
  <table>
    <thead>
    <tr>
      <th>Non précisé</th>
      <th>Signalements d'OVIs</th>
      <th>Signalements d'OVNIs</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Forme</td>
      <td>23 %</td>
      <td>27 %</td>
    </tr>
    <tr>
      <td>Durée</td>
      <td>25 %</td>
      <td>24 %</td>
    </tr>
    <tr>
      <td>Couleur</td>
      <td>12 %</td>
      <td>14 %</td>
    </tr>
    <tr>
      <td>Luminosité</td>
      <td>65 %</td>
      <td>68 %</td>
    </tr>
    <tr>
      <td>Vitesse</td>
      <td>39 %</td>
      <td>31 %</td>
    </tr>
    <tr>
      <td>Nombre</td>
      <td>2 %</td>
      <td>1 %</td>
    </tr>
    </tbody>
  </table>
  <p>C'est inadmissible ! Dans mes propres signalements, je n'aurais jamais ne serait-ce qu'<em>imaginé</em> faire
    jugement OVI/OVNI sans des paramètres importants comme la forme ou la durée. Au lieu d'évacuer ces signalements dans
    la pile des <q>informations insuffisantes</q> où ils devraient être (ou mieux encore, rechercher des données
    supplémentaires) ils ont cru envisageable de se baser dessus. Pour juger des rapports comme ceux-ci comme OVNIs ou
    OVIs et envisager de les inclure dans des tests de χ<sup>2</sup> relève d'un processus statistique et
    d'investigation pour le moins négligeant. Pas plus qu'ils n'auraient dû inclure les chiffres des <q>non précisés</q>
    dans les tests de χ<sup>2</sup>, puisque <q>non précisé</q> n'est pas une caractéristique des <q>connus</q> ou des
    <q>inconnus</q>, juste d'une mauvaise enquête <span class="note">Bruce Maccabee a refait le test du χ<sup>2</sup> sans eux. Le résultat reste largement le même.</span>.
    Pas besoin de se demander alors pourquoi l'étude n'a peut trouver que 12 descriptions d'OVNIs sur 434 qui étaient
    assez complètes pour en faire un dessin.
  </p>
  <p>En résumé, l'<a href="/org/us/dod/af">USAF</a>, n'aurait pas dû essayer d'éviter la publication du corps du rapport
    au public ; leur seule véritable erreur dans le Rapport Spécial n° 14 a été d'entreprendre des
    <a href="/science/crypto/ufo/analyse/statistique">statistiques</a> tout court.
  <p>
</section>
<!--#include virtual="/footer.html" -->
