<!--#include virtual="/header-start.html" -->
<title>Le dessin de Ferghana</title>
<!--#include virtual="/header-end.html" -->
<figure class="right side">
  <figcaption> Une version du dessin, apparemment réalisée sur un mur de roche, présentée dans le <a
      href="https://video.google.com/videoplay?docid=-7093735057632979524">film <em>Chariots of the Gods</em></a> (1977)
    de <a href="/people/v/VonDanikenErich/index.html">Von Daniken</a></figcaption>
  <img src="Fergana0005.jpg" alt="Une version du dessin, apparemment réalisée sur un mur de roche, présentée dans le film Chariots of the Gods de Von Daniken">
</figure>
<p>Quelle est donc l'origine de cette fresque que l'on présente dessinée sur le mur d'une caverne proche de la ville de
  <span class="place">Ferghana (Ouzbekistan)</span>, à la frontière russo-chinoise ? Divers auteurs ont enquêté sur la
  question <span class="source">Leroux, Didier, <a href="/org/eu/fr/asso/ldln/index.html"><em>LDLN</em></a> n° 335, février <a href="/time/2/0/0/0/index.html">2000</a></span>.
</p>
<p>Son contenu est à l'évidence peu équivoque, et on l'interprète rapidement comme un être en tenue spatiale tenant un
  appareil de communication en forme de disque. Plus loin, un personnage au casque muni d'antennes se trouve sous un
  engin volant d'où sort un panache de fumée. Rapidement, on décrit le dessin comme celui de l'"homme de
  <a href="/place/systeme/solaire/planete/mars/index.html">Mars</a>".
</p>
<section>
  <h2>Sputnik</h2>
  <figure class="left side">
    <figcaption> Couverture de l'édition française du "Spoutnik" n° 1, contenant l'article sur les anciens
      astronautes </figcaption> <img src="fmag.jpg" alt="Dessin dans une caverne à la frontière russo-chinoise">
  </figure>
  <p>En <time>1967-06</time>, <em>Sputnik, </em>un magazine soviétique semblable au format du <em>Reader's Digest</em>,
    publie un article de <a href="/people/z/ZaitsevVyacheslavK/index.html">Viatcheslaw Zaïtsev</a> sur l'hypothèse
    d'anciens astronautes
  <span class="source">Zaitsev, V. K.: "<a href="/time/1/9/6/7/06/Zaitsev_DesVisiteursDuCosmos/index.html">Des visiteurs
    du Cosmos</a>", <em>Spoutnik</em> n° 1, juin 1967</span>, relatant notamment l'histoire des
    <a href="../Dropas/index.html">dropas</a>. En page de garde, un dessin mêlant représentation ancienne, soucoupe
    volante au panache de fumée au décollage et scaphandre de cosmonaute à l'apparence quelque peu naïve, doté de 2
    antennes sur son casque. Le personnage de premier plan tient en main un disque évoquant les fameux disques
    <a href="../Dropas/index.html">dropas</a>.
  </p>
  <p>Le dessin a en fait été réalisé par un artiste russe pour le magazine pour un article concernant des astronautes
    visitant l'humanité il y a {{12000|number}} ans. <em>Sputnik</em> était un magazine de l'ancienne URSS (au format
    <em>Reader's Digest</em>). Il fut publié en plusieurs langues dont le russe, l'allemand, l'anglais, le français et
    l'italien.
  </p>
  <figure class="right side">
    <figcaption> Dessin moderne de l'artiste russe A. Brusilov, présenté par erreur comme venant d'une caverne à la
      frontière russo-chinoise </figcaption>
    <img alt="Dessin dans une caverne à la frontière russo-chinoise" src="Couverture.jpg">
  </figure>
</section>
<p>En fait les véritables dessins de Ferghana sont bien différents, Comme viendra le préciser
  <a href="SpoutnikErratum.jpg">un erratum du n° 2</a> de la revue : la légende placée en haut à droite de l'article
  "<a href="/time/1/9/6/7/06/Zaitsev_DesVisiteursDuCosmos/index.html">Des visiteurs du Cosmos</a>", était erronée. Elle
  aurait en fait dû s'appliquer à d'autres dessins à l'intérieur de l'article, bien plus anciens, et bien moins
  univoques.
</p>
<p>Malgré cette explication et le style à l'évidence moderne du dessin, certains <span class="source"><a
    href="/people/v/VonDanikenErich/index.html">Von Daniken, Erich</a>, <em>Chariots of the
    Gods</em>, <em>Souvenir Press</em>, 1973</span> <span class="source">Robert O. Dean</span> continueront à présenter
  ce dessin comme authentiquement ancien, datant de 12 000 ans.
</p>
<figure class="left side">
  <figcaption> Un dessin véritable de Ferghana <span class="source">Pravda Vostoka </span> </figcaption>
  <img src="fergana05.jpg" alt="Un dessin véritable de Ferghana">
</figure>
<p>On peut toutefois continuer à s'interroger sur l'origine de <a href="Fergana0005.jpg">la version photographique du
  dessin</a>, réalisé sur ce qui semble bien être un mur de roche. Le dessin trouvant son origine dans l'illustration
  noir et blanc de l'article de <em>Sputnik</em>, il s'agirait donc d'une reproduction à but "réaliste".
</p>
<!--#include virtual="/footer.html" -->
