<!--#include virtual="/header-start.html" -->
<title>Ezechiel</title>
<!--#include virtual="/header-end.html" -->
<p>Ezéchiel ("force de dieu"), naît en <time>-623</time>, fils de Buzi, d'une famille sacerdotale.</p>
<p>En <time>-602</time> Joachim (Yehoyaqim), roi de Juda, lance une rébellion contre Nabuchodonosor, roi de Babylone. En
  -597, ce dernier mate le soulèvement et fait le siège de <span class="place">Jérusalem</span>. {{10000 | number}}
  captifs, dont le roi Joachim et Ezechiel, sont déportés hors de Babylone. C'est donc à <span
      class="place">Tel Aviv</span> (Mésopotamie), parmi les déportés libres, mais en exil, que Ezechiel garde ses
  troupeaux près du fleuve <span class="place">Kébar</span> (Cobar).
</p>
<p>En <time>-593</time>, Ezechiel témoigne de sa <a href="/science/crypto/ufo/enquete/dossier/Ezechiel/index.html">vision
  de la gloire</a>.
</p>
<!--#include virtual="/footer.html" -->
