<!--#include virtual="/header-start.html" -->
<title>L'affaire de l'Afrique du Sud</title>
<!--#set var="style" value="canular" -->
<!--#include virtual="/header-end.html" -->
<p class="abstract">Cette affaire, qui défraya la chronique lors de sa parution dans le magazine britannique <a
  href="/org/us/asso/QuestInternational.html">Quest</a> en <time>1993-05/1993-06</time>, semble aujourd'hui avoir été un
  <a href="../canular/index.html">canular</a> habilement monté par <span class="people">James VanGreunen</span>.
</p>
<p>Une enquêtrice renommée du Zimbabwe et auteur d'un ouvrage sur les ovnis en <a href="/org/za/index.html">Afrique du
  Sud</a>, Cynthia Hind, écrit par la suite un article publié dans <em>UFO Times</em>, intitulé <q>Anatomie d'un
  canular. Le crash d'OVNI à la frontière Afrique du Sud/Botswana</q>. Cet article dépeint Van Groenen comme à l'origine
  d'un canular extrêmement élaboré. Elle met en avant certaines incohérences et divergences dans les documents
  considérés comme des preuves. Parmi elles 14 erreurs typographiques dans ce qui est décrit comme un document officiel.
  Lorsque Van Groenen est confronté, il admet avoir falsifié certains détails mais insiste toujours sur le fait qu'il
  s'agit d'une histoire vraie concernant un objet tombé sur la frontière que lui rapporta en secret un de ses amis,
  Hendrik Greef, pilote de la <a href="/org/za/saaf">SAAF</a>, qui l'a entendu au mess d'officiers.</p>
<p>D'autres sources indiquent que Van Groenen aurait été impliqué dans cette affaire, telles <a href="#BW">W. B.</a>,
  qui communiqua ses informations à <span class="people" title="William L. Moore">William Moore</span>. Ce dernier mis
  alors en doute la crédibilité du document lié à l'affaire, dont van Groenen serait l'auteur. William Moore déclara en
  effet avoir les preuves selon lequelles van Groenen etait un escroc notoire ayant à son actif faux papiers et affaires
  louches.</p>
<p>Ce cas a donc été l'objet de controverses et divers autres rapports bizarres ont continué à ajouter à la confusion.
  Il a par exemple été déclaré qu'un officier de Renseignement français avait été assassiné au cours de son enquête sur
  l'affaire. De plus, lorsque l'on tente de rechercher les sources d'un article de l'Argus, journal de Cape Town qui
  parla en <time>1993</time> de <q>dissimulation</q> et d'<q>exercice de désinformation</q> visant à empêcher la
  découverte de la <q>vérité</q>, nommant Dithoko Seiso, le Ministre de l'Environment du Botswana, l'archiviste de
  l'Argus répond que <q>le fichier at été "enlevé" est maintenant "manquant</q>.</p>
<p>Voici, ci-dessous, un texte extrait de <a
  href="/time/1/9/9/5/03/26/Branton_TheCosmicGrandDeception/index_fr.html"><em>La Grande Manipulation Cosmique</em></a>,
  relatant l'affaire en <time>1995</time>.
</p>
<p>--</p>
<p><a href="/org/us/asso/QuestInternational.html">Quest International</a> enquête actuellement sur ce qui pourrait bien
  être le cas le plus documenté à ce jour de récupération d'un crash d'un disque volant non-identifié.
</p>
<p>Le <time>1989-05-07</time>, les installations du <a href="/org/NORAD.html">NORAD</a> auraient détecté un object
  non-identifié lors de son entrée dans l'espace aérien Africain. La <a href="/org/za/saaf"><i lang="en">South African
    Air Force</i></a> aurait également détecté l'appareil sur son radar, voyageant à une vitesse estimée de {{10642 |
  number}} km/h. L'incident fut relaté par un Employé des Renseignements de l'Afrique du Sud qui, de par la <a
    href="/images/african2.jpg">documentation</a> à laquelle il avait accès de par sa position militaire, envoya
  également documents et transcriptions à deux enquêteurs de Quest International, <span class="people">Tony Dodd</span>
  et <span
    class="people">Henry Azadehdel</span>, parlant de l'événement. Furent également obtenues diverses conversations
  téléphoniques enregistrées<b>,</b> mettant en scène des militaires de premier rang et des représentants du
  gouvernement, suggérant fortement que "quelque chose" arriva en fait au-dessus du territoire Sud-Africain. Certaines
  de ces conversations enregistrées impliquaient des représentants militaires d'Afrique du Sud reprimandant
  vigoureusement l'employé des renseignements devenu informateur au téléphone. Ceci était du au fait que l'informateur
  ait quitté l'Afrique du Sud pour l'Angleterre, où il resta au domicile des chercheurs, pour disparaître plus tard.
</p>
<p><span class="people">Graham W. Birdsall</span>, directeur de <a href="/org/us/asso/QuestInternational.html">Quest
  International</a>, pense que les documents et les individus impliqués dans l'incident sont de nature telle que
  l'événement doit réellement avoir eu lieu, à moins que la Communauté des Renseignements Internationale ne monte
  collectivement un canular à propos de la récupération d'un disque volant. Birdsall suspecte fortement les incidents
  d'avoir eu lieu, de par le poids des preuves. Ci-après est une transcription mot-à-mot communiquée aux chercheurs par
  l'informateur, décrivant ce qu'il prétend être le véritable rapport top secret de la détection initiale de l'objet :
</p>
<blockquote>
  <p>...L'objet est entré dans l'espace aérien de l'Afrique du Sud à 13.52 GMT. Un contact radio fut tenté avec l'objet,
    mais toute tentative de communication s'avéra vaine. Deux chasseurs armés Mirage furent alors envoyés à sa
    rencontre. Peu de temps après l'objet augmenta soudainement sa vitesse à un niveau vertigineux, impossible à
    reproduire pour un appareil conventionnel.
  </p>
  <p>A 13:59 GMT, Squadron Leader - le pilote du chasseur indiqua qu'ils avaient confirmation radar et visuelle de
    l'objet. Ordre fut donné d'armer et de faire feu à l'aide du canon <a href="/LASER.html">laser</a> expérimental Thor
    2, monté sur l'avion. Ceci fut fait.
  </p>
  <p> Squadron Leader - indiqua que des flashes aveuglants étaient émis par l'objet, qui avait commencé à vaciller tout
    en se dirigeant vers le nord. A 14:02 il fut indiqué que l'objet perdait de l'altitude à une vitesse d'environ 900 m
    par minute. Il plongea alors à cette vitesse selon un angle de 25 degrés et s'écrasa en un lieu du désert à 130 km
    au nord de la frontière Sud-Africaine avec le Botswana, identifié comme étant le désert central du Kalahari.
    Squadron leader - reçu l'ordre d'effectuer des rotations au-dessus de la zone jusqu'à ce qu'une équipe de
    récupération arrive. Une équipe d'Officiers de Renseignements de l'Air Force, accompagnée de personnel médical et
    technique fut rapidement dépéchée sur la zone d'impact pour Enquête et récupération. Les éléments découverts furent
    les suivants :
  </p>
  <ol>
    <li> Un cratère de 150 m de diamètre et de 12 m de profondeur.</li>
    <li> Un objet couleur argent en forme de disque enfoncé à 45° dans le cratère.</li>
    <li> Le sable et les roches autour de l'objet avaient été fondus ensembles par la chaleur intense.</li>
    <li> Un environnement magnétique et radio-actif intense autour de l'objet provoqua le disfonctionnement électronique
      de l'équipement de l'air force (causant le crash de l'un des hélicoptères de l'Air Force).
    </li>
    <li> L'objet fut finalement transporté à une Base de l'Air Force pour une enquête plus poussée.</li>
    <li>La zone d'impact fut remplie avec du sable et des débris afin de dissimuler tout preuve que l'événement ait eu
      lieu.
    </li>
  </ol>
</blockquote>
<p>Le rapport indiqua qu'une grue hydraulique fut utilisée, suggérant qu'une défaillance électronique avait amené
  l'objet à s'écraser, probablement en raison du tir du canon laser <em>Thor 2</em> sur l'appareil. Alors que l'équipe
  observait l'objet au sein de la Base de l'Air Force un son vif fut entendu. On nota alors qu'une écoutille sur la
  partie inférieure de l'appareil s'était ouverte et semblait coincée. Cette ouverture fut plus tard forcée à l'aide
  d'un instrument à pression hydraulique, assez pour que deux entités humanoïdes vétues de combinaisons grises à même le
  corps en sortent avant d'être rapidement maîtrisées. Le rapport indique que les entités étaient conformes à la
  description suivante :
</p>
<blockquote>
  <p>
    Taille: 1,40 m-1,70 m; Teint: Bleu grisâtre - texture de peau lisse, extrêment elastique; Pilosité: Dénué de tout
    pilosité corporelle; Tête : Hypertrophiée par rapport aux proportions humaines. Crâne proéminent avec marques bleu
    sombre tout autour de la tête; Visage: Pommettes proéminentes; Eyes: Grands et obliques sur chaque côté du visage.
    Aucune pupille observée; Nez: Petit, consistant en deux narines; Bouche: Petite fente dénuée de lèvres; Machoire:
    Petite par rapport aux proportions humaines; Corps/Bras: Longs et fins, descendant juste au-dessus des genoux;
    Mains: Consistant en 3 doigts, palmés, aux ongles semblables à des griffes; Torse: Poitrine et abdomen couverts
    d'une peau aux nervures stratifiées; Hanches: Petites et étroites; Jambes: Courtes et fines; Organes génitaux: Pas
    d'organes sexuels extérieurs; Pieds: Consistant en trois orteils, sans ongles et palmés. Notes: En raison de la
    nature aggressive des humanoïdes, aucun échantillon de sang ni de tissu n'a pu être prélevé (Un humanoïde attaqua un
    docteur, causant de profondes griffures au visage et à la poitrine). Refusèrent de manger lorsque l'on leur offrit
    diverses nourritures. Un aller simple fut demandé pour les 2 humanoïdes à la Base de l'Air Force de <a
    href="/org/us/dod/af/base/WPAFB/index.html">Wright Patterson</a> pour des enquête et recherches plus avancées...
  </p>
</blockquote>
<p>Nombre de détails concernant ces "humanoïdes" sont en fait très similaires à ceux d'autres branches de la race
  reptilienne comme cela a été décrit par d'autres témoins. Il semble que cela soit comme si la race serpent était
  composée de diverses branches ou types, tout comme les chiens ou d'autres animaux conservent certaines
  caractéristiques tout en étant représentés par différents "types". Diverses sortes de reptiles sont dénués de tous
  poils, possèdent des "pommettes" proéminentes, de grands yeux obliques, de petites ouvertures en guise d'oreilles, des
  mains et pieds à 3 doigts — excepté dans le cas des serpents, etc., qui perdirent leurs membres au fil d'atrophies
  s'étalant sur des milliers d'années — des griffes, sont couverts d'une peau de nervures "stratifiée", et n'ont pas
  d'organes reproducteurs extérieurs, étant pondeurs d'oeufs, et sont de nature agressive et prédatrice.
</p>
<p>Le document top-secret indiqua que le passage de l'objet et des créatures à la base de <a
  href="/org/us/dod/af/base/WPAFB/index.html">Wright-Patterson</a> s'effectua le <time>1989-06-23</time>. Des sources
  indiquent<b> </b>que Wright-Patterson passa en fait en alerte rouge ce jour-là. Des documents postérieurs fournis de
  source de Renseignement au Q.I. indiquent que les créatures semblaient avoir un lien fort avec la race saurienne ayant
  existé en des temps reculés. Les termes exacts stipulés dans un document aujourd'hui possédé par <a
    href="/org/us/asso/QuestInternational.html">Quest International</a> sont les suivants :
</p>
<blockquote>
  <p>
    Toutes les informations recoltées à bord de l'appareil spatial extraterrestre à propos de l'évolution d'une forme de
    vie extraterrestre tendent vers une évolution similaire à celle que l'on peut trouver sur Terre avant l'extinction
    des dinosaures... (les éléments trouvés indiquent) un haut dégré d'adaptabilité. Des études physiologiques et
    psychologiques plus poussées effectuées en Afrique du Sud et aux Etats-Unis tendent à une structure simple et
    complexe de comportement. Il semblerait que ces formes de vie ne puissent fonctionner indépendamment sans
    l'intelligence et identité d'un groupe lié à un centre de commandement. D'après certaines informations récoltées à
    bord de l'appareil récupéré, une race distincte leur est désignée comme supérieure. Conclusion : Une étude et
    analyse profonde de facade psychologique et de prédiction comportementale est conseillée. Des études menées sur deux
    formes de vie extra-terrestre capturées ont prouvé que celles-ci ne peuvent agir indépendamment de leur propre chef
    sans avoir accès à une communication, aux ordres et instructions d'une hiérarchie ou d'un centre de commandement...
  </p>
</blockquote>
<p>Trois aspects différents de l'affaire de l'Afrique du Sud coïncident en fait très exactement avec ce que d'autres
  sources ont révélé à propos de ces créatures reptiliennes-sauriennes :
</p>
<ol>
  <li> Diverses sources, dont nous citerons la plupart plus loin, indiquent que les "gris sauriens" représentent
    l'échelon le plus bas d'une hiérarchie reptilienne occulte, et que la race considérée comme supérieure est tout
    aussi saurienne-reptilienne-humanoïde, bien que représentant une "branche" différente et plus large de la race
    serpent.
  </li>
  <li> De nombreuses autres sources indiquent que la race serpent-reptilienne-saurienne agissent à un niveau de
    "conscience collective" comme si les individus extra-terrestres étaient — pour prendre une image — autant de
    "cellules" de l'esprit ou du corps immense d'une seule et même immense créature. Il semble en fait exister une
    combinaison d'individualité et de<b> </b>"conscience collective" opérant au sein de ces entités.
  </li>
  <li> La description de ces "extra-terrestres" tout comme la nature electromagnétique de leur appareil correspond
    exactement aux descriptions données par des centaines de rapports de nature semblable.
  </li>
</ol>
<p>L'Officier de Renseignements qui contacta <a href="/org/us/asso/QuestInternational.html">Quest International</a> et
  leur
  fournit l'information déclare ne l'avoir fait que dans l'intérêt de la race humaine dans son ensemble, et penser que,
  malgré les pressions qu'il subit pour signer un formulaire de <q>Déclaration de Secret National</q>, il aurait été
  coupable de trahison envers la race humaine s'il n'avait pas révélé ce qu'il savait, et ce que les gouvenement
  tentaient de dissimuler.
</p>
<!--#include virtual="/footer.html" -->
