<!--#include virtual="/header-start.html" -->
<title>Un groupe de réflexion scientifique s'attaque au mystère des ovnis</title>
<meta content="https://mimufon.org/1970 articles/ScientificBraintrustTacklesUFOMystery.htm" name="url">
<meta content="Slate, B. Ann" name="author">
<meta content="Saga's UFO Report, vol. 3, n° 2, p. 42." name="copyright">
<!--#include virtual="/header-end.html" -->
<p class="abstract">Récemment, sans fanfare, certains des experts en espace et aéronautique les plus distingués se sont
  rassemblés pour échanger des données sur les Objets Volants Non Identifiés - et leurs rapports confidentiels montrent
  que de nombreux scientifiques ont vu des phénomènes aériens qu'ils ne pouvaient être qualifiés que d'ovnis.
</p>
<p><q>On peut sans risque supposer qu'aucune vie intelligente ailleurs <q>quelque part</q> hors de notre système solaire
  n'a de quelconque possibilité de visiter la <a href="/place/systeme/solaire/planete/terre">Terre</a> dans les
  prochaines {{10000 | number}} années</q>, dit feu <a href="/people/c/CondonEdwardU/index.html">Edward Condon</a> en
  <time>1969</time>, après avoir dépensé rien que 1/2 million $ sur une étude sur les ovnis de 2 ans soutenue par l'<a
      href="/org/us/dod/af">Air Force</a> à l'Université du Colorado.
</p>
<p><q>Quand commence-t-on à compter ?</q> répondit l'astucieux <a href="/org/us/asso/AIAA.html">Institut Américain
  d'Aéronautique et d'Astronautique (AIAA)</a>, la plus grande société professionnelle d'ingénieurs et de scientifiques
  de l'espace de la nation impliquée dans les technologies des fusées, de l'aéronautique et des systèmes marins.
</p>
<p>Suite aux conclusions négatives de <a href="/people/c/CondonEdwardU/index.html">Condon</a> après une étude de 117 cas
  d'ovnis examinés en détail, l'<a href="/org/us/dod/af/index.html">AF</a> décida que les ovnis ne devaient plus avoir
  d'autre intérêt officiel et laissèrent tomber l'enquête qu'ils avaient menée depuis <time>1947</time> - seulement pour
  qu'elle soit réouverte à nouveau par un groupe de scientifiques des plus hautes formations dans le pays.
</p>
<p>L'<a href="/org/us/asso/AIAA.html">AIAA</a>, après avoir analysé le <a
  href="/time/1/9/6/8/CondonReport/index.html">rapport final</a> de l'<a
    href="/org/us/university/colorado/projet/condon">Etude du Colorado</a>, nota que 30 % de ces 117 cas ne purent être
  identifiés et que les conclusions et que les conclusions opposées could just as easily have been drawn. <q>Un
    phénomène avec un ratio si élevé de cas inexpliqués devrait éveiller une curiosité scientifique suffisante pour
    poursuivre son étude</q>, ont-ils indiqué.
</p>
<p>Ainsi, alors que certains spécialistes individuels et ouverts d'esprit étaient déjà partis pour exprimer que l'étude
  des ovnis étaient d'importance primordiale, le grand public n'était pas conscient qu'un braintrust nommé le
  sous-comité ovni de l'<a href="/org/us/asso/AIAA.html">AIAA</a> fut formé en <time>1967</time>. Cette équipe d'élite
  de 11 fut dirigée par le Dr. <a href="/people/k/KuettnerJoachimP/index.html">Joachim P. Kuettner</a> de l'Organisation
  Météorologique Mondiale. D'autres membres de l'équipe incluait des scientifiques de TRW Systems, Hughes Aircraft,
  Martin Marietta, l'Institut de Technologie de Georgia, la Recherche sur la Météorologie, le Centre de Vol Spatial
  Goddard de la <a href="/org/us/nasa">NASA</a>, le Commandement d'Electronique de l'<a
      href="/org/us/dod/army/index.html">U.S. Army</a>, des Systèmes de Missiles et de l'Espace de McDonnell Douglas, et
  l'<a href="/org/us/NOAA.html">Administration</a><a href="/org/us/NOAA.html"> Nationale Océanique et Atmosphérique</a>.
</p>
<p>Lorsque ce sous-comité scientifique fut formé, une attention spéciale fut prise pour s'assurer qu'aucun de ses
  membres n'avait de préjugés quant à sa manière de penser sur les ovnis. Leur examen du <a
    href="/time/1/9/6/8/CondonReport/index.html">Rapport Condon</a> remarqua les différences marquées dans les
  conclusions tirées par les auteurs des divers chapitres et le résumé de <a href="/people/c/CondonEdwardU/index.html">Condon</a><a
      href="/people/c/CondonEdwardU/index.html"></a>.
</p>
<p>
  <q>Il </q><span class="note"><a href="/people/c/CondonEdwardU/index.html">Condon</a><a
    href="/people/c/CondonEdwardU/index.html"></a></span><q> dévoile nombre de ses conclusions personnelles. Faire des
  jugements de valeur fut sans doute une des raisons pour lesquelles on demanda à <a
      href="/people/c/CondonEdwardU/index.html">Condon</a><a href="/people/c/CondonEdwardU/index.html"></a> de prendre
  le projet en main. On est content d'obtenir le jugement d'un homme si expérimenté et respecté, mais on n'a pas
  forcément à être d'accord avec !</q> indiqua le sous-comité dans la publication de l'<a href="/org/us/asso/AIAA.html">AIAA</a>
  de <time>1970-11</time>.
</p>
<p>They urged that a continued effort with an emphasis on improved UFO data collection be made, invited AIAA members to
  bring cases to their attention, stressed that the public and social aspects of the UFO controversy had subsided only
  temporarily but would continue to demand answers, and requested that Air Force files be fully declassified and opened
  for inspection.
</p>
<p>Au cours des quelques années qui suivirent, des cas spécifiques furent analysés en détail et présentés aux membres de
  l'<a href="/org/us/asso/AIAA.html">AIAA</a> dans le bulletin de la société. Le <a
      href="/science/crypto/ufo/enquete/dossier/Lakenheath/index.html">cas radar-visuel bien connu de Lakenheath, en
    Angleterre</a> en <time>1956</time> (qui commença lorsque l'installation radar de l'Approche Contrôlée au Sol appela
  le Centre Radar de Traffic Aérien et demanda : <q>Avez-vous des cibles sur vos écrans qui voyagent à 4000 miles/h
    ?</q>), fut qualifié de l'<q>un des incidents ovnis les plus dérangeant connu aujourd'hui.</q></p>
<p><a href="/people/s/SturrockPeterA/index.html">Peter A. Sturrock</a>, professeur de Science et d'Ingéniérie Spatiale
  et professeur d'astrophysique en Physique Appliquée à l'Université de Stanford (un membre de l'<a
      href="/org/us/asso/AIAA.html">AIAA</a>), fut intrigué par le fait que la plupart des observations d'ovnis étaient
  signalées par des non-professionnels. <a href="/people/s/SturrockPeterA/index.html">Sturrock</a> réalisa que c'était
  ce fait qui causait un <a href="/science/crypto/ufo/analyse/scepticisme">scepticisme</a> au sein de la communauté
  scientifique puisque certains des rapports étaient si bizarres que l'observation était discréditée à cause du passé
  non-technique des témoins. Il se demanda si des scientifiques et des ingénieurs dévoileraient leurs récits d'ovnis si
  on leur demandait dans des circonstances appropriées (ces "circonstances appropriées" signifiaient mettre en place une
  situation fermée, interne où l'anonymat était garanti).
</p>
<p>En <time>1973-04</time>, un questionnaire fut envoyé par courrier à was 1175 membres de l'<a
    href="/org/us/asso/AIAA.html">AIAA</a> du chapitre de San Francisco. L'étude demandait si un phénomène aérien avait
  déjà été vu qui n'avait pu être identifié et, si oui, demandait une description de l'observation. Elle demandait
  également si l'événement avait été signalé aux autorités et demandait une brève description de la formation
  scientifique du témoin.
</p>
<p>Le sondage eut 423 responses, 36 %. Alors que certains disaient que leurs observations pourraient avoir été causées
  par une expérience de nuage de barium, un <a href="/science/crypto/ufo/enquete/meprise/elme">feu de Saint-Elme</a>, un
  lancer ou une traînée de fusée, la majorité des observations, émanant d'hommes ayant une formation technique,
  indiquaient l'observation de phénomènes aériens inconnus précisément comme les rapports d'ovnis issus de
  non-professionnels.
</p>
<p>Il est intéressant que, alors que <a href="/people/s/SturrockPeterA/index.html">Sturrock</a> résume ses conclusions
  pour la publication de l'<a href="/org/us/asso/AIAA.html">AIAA</a> de mai <time>1974</time>, il indique : <q>En aucun
    cas un scientifique ne fit enregistrer publiquement le fait d'avoir vu un phénomène étrange qu'il ne put expliquer
    et </q>[qui]<q> pourrait être lié au phénomène ovni. Il apparaît donc d'après cette étude, que si vous voulez
    trouver si des scientifiques voient des ovnis, vous devez leur demander et vous devez probablement leur garantir
    l'anonymat.</q></p>
<p>Qui peut blâmer ces experts de l'espace professionnels et de haute formation de ne pas parler de leurs expériences,
  comme le cas suivant venant de l'étude concernant le contact télépathique, alors que l'attitude envers les <a
      href="/people/contactes.html">contactés</a> d'ovnis est toujours celle de l'incrédulité et du ridicule
  (rappelez-vous qu'au cours des premières enquêtes du projet <a href="/org/us/dod/af/amc/atic/projet/bluebook">Blue
    Blue Book</a> de l'<a href="/org/us/dod/af/index.html">Air Force</a>, le capitaine <a
      href="/people/r/RuppeltEdwardJ/index.html">Edward Ruppelt</a>, qui gérait ce bureau, remplit en hâte sa corbeille
  à papier de tous les rapports <a href="/science/crypto/ufo/observation/classification/hynek/rr/3">concernant des
    créatures</a> ou un contact !)
</p>
<p>Les conclusions de l'étude listent ce qui suit comme le <q>Rapport 18</q> et concerne le récit narratif de quelqu'un
  que nous nommerons M. Smith qui fit sa 1ʳᵉ rencontre avec des ovnis en <time>1945</time> alors qu'il était en service
  officiel en Belgique. M. Smith donna son passé technique : <q>Colonel : associé à la Recherche et Développement ;
    observateur entraîné avec passé dans le renseignement</q>. Le temps était clair avec une visibilité excellente. Il
  n'y avait pas d'appareil hostile ou ami au sein de la zone protégée par les règles d'engagement IAZ en vigueur. Le
  grand objet brillant, montrant des lumières blanches et jaunes avec certaines clignotant occasionnellement du rouge et
  du bleu, voyagea selon une trajectoire rectangulaire pendant près de 15 mn puis fit une échappée verticale très
  rapide. Il ne fut pas repéré par le <a href="/science/crypto/ufo/enquete/indice/radar/index.html">radar</a> ni aucun
  autre appareillage électronique.
</p>
<p>Mais ce ne fut que le début des ovnis et de M. Smith. Sa déclaration pour le sondage continue : <q>Los Altos,
  Californie (chez moi, <time>1972-08-12 10:11</time>. Temps clair. Visibilité excellente. Avant l'observation, je reçus
  une communication télépathique m'incitant à aller à la fenêtre de la cuisine et observer le vol de 4 ovnis. La
  communication télépathique se poursuivit. 4 véhicules argentés observés à hauteur du Mont Bielawski (élévation <span
      itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">3231</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span>) sur Skyline Drive à plusieurs miles au sud de Mountain View, Californie. Cet observateur demanda des
  manifestations visibles des véhicules. Des traînées de fumée formées par les 4 véhicules opérant en manœuvres
  intriquées. Les véhicules disparurent en ascension raide et trajectoire en recul. L'observation durée 3 mn
  environ.</q></p>
<p>M. Smith devait être contacté à un autre moment, en <time>1973-02</time>, alors qu'il conduisait sa voiture. Le
  message télépathique dit qu'<q>ils</q> seraient dans le voisinage du Réservoir de San Luis le jour suivant. Il indique
  que le temps était clair avec une visibilité excellente. Il n'y avait aucun avion, <a
      href="/science/crypto/ufo/enquete/meprise/ballon">ballon</a> ou parachutes dans la zone. Puis, selon M. Smith, une
  grande boule de lumière d'un diamètre estimé à <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">20</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> et à une altitude de <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">2500</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> se déplaça à travers le ciel du nord au sud venue de nulle part. La lumière émanant de l'objet fut décrite
  comme dorée. Alors qu'il observait l'ovni, M. Smith fut informé par son contact télépathique que ce qu'il observait
  était l'une de <q>leurs</q> sondes. Il regarda l'appareil pendant 2 mn environ jusqu'à ce qu'il disparaisse derrière
  un pic montagneux.
</p>
<p>Alors que les récits de M. Smith pour l'étude de l'<a href="/org/us/asso/AIAA.html">AIAA</a> étaient unique en ce
  qu'ils impliquaient un contact mental, les autres rapports qui vinrent de membres indiquaient que de nombreux objets
  brillants étranges avaient été vus ; des objets qui manœuvraient d'une manière telle que ces scientifiques de l'espace
  ne pouvaient les réconcilier avec de quelconques appareils ou dispositifs connus qu'ils leur étaient familiers.
</p>
<p><a href="/people/s/SturrockPeterA/index.html">Sturrock</a> conclut : <q>Cette étude a certainement atteint son but
  principal. Elle montre qu'un échantillon de personnes disposant d'une formation scientifique rapporte des phénomènes
  aériens semblables à ce qu'on appelle les signalements d'ovnis.</q></p>
<p>En <time>1975-01</time>, l'<a href="/org/us/asso/AIAA.html">AIAA</a> tint sa 13ᵉ Conférence sur les Sciences
  Aérospatiales à Pasadena, Californie. Durant 3 jours, des hommes brillants venus d'à travers le pays se rencontrèrent
  pour échanger des articles techniques et entendre les tout derniers développements de la recherche dans diverses
  disciplines.
</p>
<p>Mais d'un intérêt majeur, à en juger par la salle comble dans la pièce 124, fut la session 8A — Le Symposium<span
    lang="en-us"> sur les ovnis </span>— menée sous la Division de l'Espace et de la Physique Atmosphérique. Les
  intervenants invités étaient certaines des autorités sur les ovnis les plus éminentes de notre époque : le Dr. <a
      href="/people/h/HynekJosefAllen/index.html">J. Allen Hynek</a>, astronome et ancier consultant sur les ovnis pour
  l'<a href="/org/us/dod/af/index.html">Air Force</a> ; le Dr. <span class="people">Jacques Vallée</span>,
  astrophysicien et informaticien ; le Dr. <a href="/people/s/SaundersDavidR/index.html">David Saunders</a>, psychologue
  ; le Dr. <span class="people">Fred Beckman</span> de l'Université de Chicago ; <a
      href="/people/p/PhillipsTed/index.html">Ted Phillips</a>, expert en traces d'atterrissage ; et le président du
  sous-comité, le Dr. <a href="/people/k/KuettnerJoachimP/index.html">Joachim P. Kuettner</a>.
</p>
<p><a href="/people/b/BeckmanFred">Beckman</a>, analyste photographique pour le <a href="/org/us/asso/cufos/index.html">Centre
  d'Etudes sur les Ovnis</a> du Dr. <a href="/people/h/HynekJosefAllen/index.html">Hynek</a>, présenta diverses images
  d'ovnis prises à travers le monde, la toute dernière impliquant une observation à témoins multiples d'un objet au
  Japon actuellement en cours d'étude au <a href="/org/us/asso/cufos/index.html">Centre</a>. Ceci fut suivi de l'un des
  points les plus culminants de la conférence — la diffusion d'un film de 12 s qui captura en vol une soucoupe volante
  de forme ovale de <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">30</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> de diamètre. Pris en <time>1966-04</time>, l'objet est montré fonçant à travers le ciel après les montagnes
  de l'Ile de Catalina au large de la Californie du sud visibles sous l'appareil. Filmé par un photographe professionnel
  en affectation dans la zone pour prendre des clichés aériens scéniques pour des documentaires, il était attaché dans
  une chaise spéciale résistante aux vibrations montée sur le côté d'un hélicoptère.
</p>
<p>Alors qu'ils approchaient de l'extrêmité sud de l'île à une altitude de <span itemscope
    itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">1000</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span>, le cameraman vit tout d'abord l'ovni à 5 miles au loin environ ; il pensa que l'objet était un <a
    href="/science/crypto/ufo/enquete/meprise/ballon">ballon</a>. Lorsque l'ovni fut à environ 2 miles de l'hélicoptère,
  il réalisa que quoi que fut l'objet argenté, il s'agissait de quelque chose de très inhabituel et commença à le
  filmer. Son plus grand regret fut d'avoir arrêté de photographier lorsqu'il le fit.
</p>
<p><q>Après seulement quelques secondes, il passa hors de vue, quelque chose comme derrière l'hélicoptère. Depuis je
  suis vraimetn déçu de n'avoir pas dit au pilote de faire un virage et de le suivre... mais il aurait probablement été
  hors de vue alors et nous étions sur un planning de shooting serré.</q></p>
<p>Le film n'émergea pas avant récemment. À l'époque où l'objet fut photographié, le <a
    href="/org/us/dod/af/amc/atic/projet/bluebook">projet Blue Book</a> était sous le feu de vives critiques pour sa
  manière d'avoir pris en main les observations et des dessins apparurent à travers le pays mettant en avant le ridicule
  de l'explication du <q>gaz des marais</q> aux ovnis. Le photographe voulut faire profil bas en attendant que le film
  puisse être visualisé et authentifié dans un climat moins emotionnel. Actuellement ce film [revealing] est soumis à
  une analyse informatique.
</p>
<p>Utilisant également l'ordinateur et basant ses conclusions sur des découvertes, le Dr. <a
    href="/people/s/SaundersDavidR/index.html">David Saunders</a> has gone on record en prédisant que la prochaine vague
  d'ovnis interviendra en <time>1977-12</time> autour de Moscou ou de l'Iran (60 ° de longitude est). Il dit qu'une
  extrapolation de ce type avait été rendue possible en examinant les cycles approximatifs de 5 ans des vagues
  d'observations ayant eut lieu au cours des 30 dernières années. Ancien scientifique-clé du <a
      href="/org/us/university/colorado/projet/condon">Comité Condon</a>, <a href="/people/s/SaundersDavidR/index.html">Saunders</a>
  [blasted] le projet pour son orientation et conclusions préjugées dans son livre, <i lang="en">UFOs? YES!</i></p>
<p>Parlant devant le Symposium de l'<a href="/org/us/asso/AIAA.html">AIAA</a>, Dr. <a
    href="/people/s/SaundersDavidR/index.html">Saunders</a> refuta les conclusions d'un autre scientifique qui avait
  proposé que seulement les gens de faibles revenus et peu éduqués signalent voir des soucoupes volantes. Dans son étude
  informatisée (UFOCat) de 18 122 cas (incluant 315 incidents d'occupants), englobant plus de 3053 pays, <a
      href="/people/s/SaundersDavidR/index.html">Saunders</a> à trouvé que <q>plus de signalements par capita sont faits
    par les pays les mieux éduqués.</q></p>
<p>Le Dr. <span class="people">Jacques Vallée</span>, auteur de <em>Challenge to Science</em> et <em>Anatomy Of A
  Phenomenon</em>, a également utilisé des méthodes de traitement de données pour présenter sa conférence sur les
  schémas de base dans les observations d'ovnis. Les conclusions suivantes furent tirées de {{50000 | number}} cas
  internationaux :
</p>
<ul>
  <li>57 % de l'ensemble des signalements est fait dans des conditions de ciel clair ;</li>
  <li>Le phénomène étudié présente les caractéristiques optiques d'un phénomène réellement physique tel qu'observé par
    les témoins ;
  </li>
  <li>Les observations mondiales ont une durée considérable, dépassant souvent 5 mn et durant couramment jusqu'à 20 mn.
    Ces ovnis ne pourraient être interprétés comme étant des <a
        href="/science/crypto/ufo/enquete/meprise/rentree/meteore">météores</a>, <a
        href="/science/crypto/ufo/enquete/meprise/ballon">ballons</a>, étoiles, <a
        href="/science/crypto/ufo/enquete/meprise/aeronef/index.html">appareils</a>, oiseaux ou <a
        href="/science/crypto/ufo/enquete/meprise/Satellites.html">satellites</a> ;
  </li>
  <li>Les observations augmentent vers 17 h et atteignent un maximum vers 21 h. Ceci décroit jusqu'à une nouvelle vague
    maximum secondaire à 3 h et revient à un niveau bas à 6 h ;
  </li>
  <li>Avec tous les autres facteurs constants, les témoins sont seulement dans la position d'observer one in 14
    approches de près du phénomène à la surface de la <a
        href="/place/systeme/solaire/planete/terre/index.html">Terre</a>. Cela signifie, qu'afin de pouvoir générer les
    2000 observations de rencontres rapprochées que Vallée a dans son fichier, le phénomène devrait se manifester de
    manière proche du sol quelques 28 000 fois durant les heures spécifiques et dans les régions étudiées ; et
  </li>
  <li>En approximativement 70 % des cas de l'étude, le site de l'approche de près se trouvait dans une zone relativement
    déserte ou isolée, indiquant une intelligence de la part des ovnis puisqu'ils ne veulent pas être observés.
  </li>
</ul>
<p><a href="/people/v/ValleeJacques/index.html">Vallée</a> suggéra que la détection d'ovnis pourrait être accomplie par
  l'utilisation de stations géophysiques automatiques, bien équipées qui enregistreraient les fluctuations du champ
  magnétique terrestre. La station à Chambon-la-Foret, France, par exemple, indiqua des perturbations magnétiques dans
  l'atmosphère au cours de la même période où des témoins occulaires observaient des ovnis dans une région voisine. Les
  recherches menées par <a href="/people/v/ValleeJacques/index.html">Vallée</a> avec le Dr. <span class="people">Claude Poher</span>
  de France, également astrophysicien, pourraient bien offrir des résultats excitants dans un futur proche.
</p>
<p>La tout dernier cas d'ovni fut présenté au Symposium par l'ingénieur civil <span class="people">Ted Phillips</span>,
  qui se spécialise dans les rapports d'atterrissages avec traces physiques et qui à ce jour a répertorié presque 800
  cas dans 36 pays. <q>Sur la base de cette information</q>, indiqua <a
      href="/people/p/PhillipsTed/index.html">Phillips</a>, <q>de nombreux chercheurs pensent comme moi qu'il s'agit de
    l'approche la plus directe pour résoudre le problème des ovnis. Les traces restent comme des éléments tangibles
    après l'événement ovni qui a été signalé. Les ovnis ne sont pas disponibles pour une étude en laboratoire — les
    traces physiques le sont.</q></p>
<p>L'observation eut lieu le <time>1974-09-01</time> au matin, à l'extérieur de la ville rurale de Langenburg, dans le
  Saskatchewan, au Canada. Le fermier Edwin Fuhr, 36 ans, moissonnait sa récolte de graine de colza et était au travail
  depuis presque 1 h. Une légère pluie tomba et Fuhr procéda lentement sur son tracteur, vérifiant constamment sa
  position sur la droite, mais gardant à l'esprit qu'il y avait une grande zone d'herbe humide ou marécageuse sur sa
  gauche. Lorsque Fuhr regarda devant lui et sur la gauche pour voir à quelle distance il se trouvait du marécage, il
  observa un dôme de métal à environ <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">50</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> dépassant de l'herbe haute.
</p>
<p>La 1ʳᵉ pensée du fermier fut que le dôme était une sorte de nouvelle couveuse métallique pour oies dont il avait vu
  la publicité. Il suspecta également son voisin de lui faire une blague. Arrêtant le tracteur, Fuhr marcha jusqu'à
  moins de <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">15</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> de l'objet, pensant donner un bon coup de pied dans la "couveuse" pour faire peur à quoi qu'il puisse y
  avoir à l'intérieur. Soudain, la situation changea.
</p>
<p>Alors qu'il approchait l'objet métallique, Fuhr put voir que l'herbe autour de la base bougeait et que l'objet
  tournait silencieusement et rapidement. Maintenant assez effrayé, il recula jusqu'à rejoindre le tracteur qui tournait
  toujours à plein régime. Il remonta sur le siège et cette fois vit 4 autres dômes brillants tournant tous dans le sens
  des aiguilles d'une montre et en survol à <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">12</span> <span content="INH" itemprop="unitCode">pieds</span>
    </span> ou <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">18</span> <span content="INH" itemprop="unitCode">pieds</span>
    </span> du sol. L'herbe bougeait à la base de chaque objet.
</p>
<p>Fuhr essaya de faire avancer le tracteur pour s'en aller, mais ne put bouger les commandes ou le volant. Qu'il
  s'agisse d'un effet provoqué par les dômes étranges ou qu'il a été simplement affaibli par la peur, le fermier ne
  pouvait en être certain. <q>J'étais assis là comme figé</q>, dit le témoin. <q>Je ne pouvais rien bouger ! Je ne
    savais pas quoi diable faire ! Tout d'un coup, ils partirent tous en l'air, tout droit, je dirais à <span itemscope
        itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">200</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> environ, puis s'arrêtèrent. Si vous aviez cligné les yeux, vous auriez manqué le truc !</q></p>
<p>Survolant maintenant en formation en escalier, les 5 dômes s'arrêtèrent de tourner.</p>
<p>Une vapeur grise, comme un échappement, flotta hors de 2 ouvertures à la base de chaque appareil qui était suivi par
  une rafale de vent qui applatissait la récolte de graines de colza. Terrifié comme il l'était par le vent étrange créé
  par les dômes en survol, Fuhr ne put que penser : <q>Oh, enfer, voilà ma récolte qui s'en va !</q></p>
<p>Puis, après 2 mn, les objets, qui furent décrits comme ayant une apparence d'acier inoxydable brossé, décolèrent
  rapidement et disparurent dans les <a href="/science/crypto/ufo/enquete/meprise/nuage/index.html">nuages</a>. Edwin
  Fuhr resta assis assez figé sur son tracteur pendant un moment, juste pour être sûr que les ovnis étaient vraiment
  partis. Avec précaution, il marcha à travers le marais.
</p>
<p>En dessous de l'endroit où il avait vu le 1er dôme en survol, il y avait une dépression dans l'herbe haute de <span
    itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">11</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> de diamètre. L'herbe à l'extérieur était [matted] et compressée absolument plate, tordue en un anneau dans
  le sens des aiguilles d'une montre, mais au centre, directement sous le centre de l'ovni, l'herbe était restée debout.
  Il n'y avait pas de chaleur ni d'émission d'odeur anormale quelconque. Au cours de l'enquête de <span class="people">Ted Phillips</span>,
  le fermier mentionna que le 2d dôme avait l'air d'avoir 2 extensions metalliques ou des sondes sortant de sa base ; il
  les estima faire <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">3</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> de long environ et <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">3</span> <span content="INH" itemprop="unitCode">pieds</span>
    </span> d'épaisseur.
</p>
<p>Il devrait être noté que Fuhr ne souhaitait aucune publicité de son expérience. Il rentra à la ferme après l'incident
  et raconta tout à sa femme qui, à son tour, dit à Fuhr qu'il était fou. Mais il est difficile de garder un secret dans
  les communautés rurales et l'histoire finit par être entendu par l'agent de police Ron Morier de la Police Montrée
  Canadienne Royale affectée à la région. Le policier Morier apprit du fermier, qui avait posé quelques questions
  discrètes à ses vosins, qu'il y avait eu des réactions animales évidentes à la rencontre. À minuit, le soir avant que
  les dômes soient vus dans le champ, des chiens du voisinage commencèrent à aboyer et ne s'arrêtèrent pas pendant 3 h,
  au grand inconfort de leurs propriétaires qui ne purent rien pour faire stopper le raffut inhabituel. De plus, le
  bétail dans la région commença à [acting up], courant frénétiquement en avant et en arrière, essayant de se libérer de
  leurs [pens].
</p>
<p><span class="people">Ted Phillips</span>, qui interrogea Fuhr, demanda qu'elle fut la réaction de l'agent de police
  au signalement d'ovnis. <q>Le policier Morier fut vraiment intéressé, mais le caporal dit de ne pas répéter
    l'histoire. Il dit de "la garder sous votre chapeau pendant un moment et de ne pas signaler quoi que ce soit</q>,
  répondit le fermier.
</p>
<p>En questionnant le policier, <a href="/people/p/PhillipsTed/index.html">Phillips</a> posa la question de la
  réputation du fermier Edwin Fuhr. <q>Je pense qu'il a vu quelque chose et je ne vois pas pourquoi il exagèrerait sur
    ce qu'il a vu</q>, répondit Morier. <q>En aucune manière ça ne peut être un <a
      href="/science/crypto/ufo/enquete/dossier/canular">canular</a>. Quoi qu'il y ait eu là-bas, c'est venu des airs et
    est parti de la même manière, autant que je puisse dire.</q></p>
<p>Quoi que les dômes avaient été envoyés faire, leur mission n'était pas terminée en dimanche matin, car le lundi
  suivant, lorsque Fuhr revint sur le site pour continuer sa moisson, un 6ᵉ anneau avait été ajouté aux 5 autres. Le
  diamètre similaire de <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">11</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> d'herbe [matted] indiquait qu'encore un autre objet était mystérieusement arrivé et reparti après les
  autres.
</p>
<p>Que ressentit Fuhr au sujet de cet épisode ? Croyait-il aux ovnis avant cette rencontre ? <q>Je pensais que c'était
  un ramassi de conneries !</q> répondit le fermier de manière candide. <q>Je n'en avait jamais vu un donc pourquoi
  aurais-je dû y croire. Mais dieu sait que j'y crois maintenant !</q></p>
<p>Un autre point culminant dans la présentation de <a href="/people/p/PhillipsTed/index.html">Phillips</a> au Symposium
  concerna un objet luisant brillamment qui terrorisa une famille à Columbia (Mo.) le soir du <time>1973-06-28</time>.
  Alors que Vanea Richards, 16 ans, allait vers le réfrigerateur, elle entendit un son rossant plutôt fort venant des
  bois près de son mobil-home. Elle regarda par la fenêtre, mais ne put rien voir dans l'obscurité. Le bruit semblait se
  déplacer autour d'un grand arbre à <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">60</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> de distance environ et alors qu'il continuait, elle devint de plus en plus effrayée et appela son père.
</p>
<p>James Richards alla à la fenêtre de la cuisine (tandis que Vanea courrait verrouiller la porte d'entrée) et vit 2
  rayons de lumière venant d'un point entre la barrière et les arbres. Il estima que les rayons étaient à <span
      itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">5</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> l'un de l'autre, larges au sommet et effilés au sol. Richards ne put rien voir au-dessus des rayons blancs
  argentés brillants, ni autour d'eux. Soudain, ils disparurent et une forme ovale luisante et brillante fut vue juste
  au-dessus de la position d'origine des rayons. C'était un objet de <span itemscope
      itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">15</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> de diamètre en survol près du sol.
</p>
<p>L'ovni était extrêmement brillant, si brillant que Richards dut se tourner après l'avoir regardé brièvement. Dans la
  lueur intense, les bords de l'objet étaient flous et aucun détail de surface ne fut vu. Les arbres autour de l'ovni
  restaient pleinement dans la lumière, <q>éclairés brillamment comme en plein jour</q>. Le bruit rossant continua et
  les arbres autour de l'objet bougeaient d'avant en arrière comme s'ils étaient sous un vent fort. Un grand arbre
  bougeait différemment, comme s'il était tiré ; une branche fut effectivement forcée au sol. Puis, après un fort son de
  craquement, le mouvement de tirage et les bruits rossants s'arrêtèrent. Cette branche fut par la suite trouvée tordue
  et tirée vers le bas, cassée du tronc de l'arbre à un point juste au-dessus de <span itemscope
      itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">17</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> du sol.
</p>
<p>La zone était maintenant calme, presque trop calme. Richards remarqua que ses chiens étaient restés couchés entre le
  mobil-home et un hangar voisin. Il n'était pas habituel qu'ils n'aboient pas avec tout le bruit et les lumières à une
  si courte distance. L'objet était toujours en survol silencieux, mais commença alors à se déplacer plus près du
  [trailer]. Richards chargea ses fusils et appela à l'aide. L'ovni était maintenant à <span itemscope
      itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">50</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> environ de la maison et à ce moment semblait être blanc argenté au centre avec une bande de lumière bleue et
  une lueur orange s'étendant autour du bord extérieur. Puis, dans un mouvement lent et doux, il recula à nouveau à sa
  position d'origine au bord du champ.
</p>
<p>Alors que Richards décrivait les événements effrayants ayant lieu à l'opérateur téléphonique, les lumières de la
  maison s'atténuèrent par 2 fois. Puis le téléphone tomba en panne pendant que l'appareil se déplaçait à nouveau vers
  le [trailer].
</p>
<p><q>Nous ne savions pas quoi faire</q>, dit Richards. <q>Nous étions tous les 2 effrayés. Ce sentiment de frisson me
  vint. J'étais muet à ce moment. J'étais sûr, comme lorsque vous pensez presque que vous allez mourrir ou quelque chose
  comme ça, comme si la mort était sur vous. C'était ça !</q></p>
<p>L'objet recula soudainement vers le champ et stationna. La lueur qu'il émanait diminua de plus en plus jusqu'à ce que
  l'ovni disparaisse. Les feuilles du côté de l'arbre où l'appareil était en survol étaient brûlées jusqu'à une hauteur
  de <span itemscope itemtype="https://schema.org/QuantitativeValue">
      <span itemprop="value">35</span> <span content="FOT" itemprop="unitCode">pieds</span>
    </span> et furent mortes dans les 2 semaines suivant l'épisode, indique le rapport de <a
      href="/people/p/PhillipsTed/index.html">Phillips</a>. Aucune radiation ne fut détectée.
</p>
<p>Le directeur du <a href="/org/us/asso/cufos/index.html">Centre pour les Etudes sur les Ovnis</a>, le Dr. <a
    href="/people/h/HynekJosefAllen/index.html">J. Allen Hynek</a>, a dit à la conférence de l'<a
    href="/org/us/asso/AIAA.html">AIAA</a> que l'un des problèmes sérieux des enquêtes sur les ovnis avait toujours été
  le <q>signal-sur-bruit</q>. Le <q>bruit</q> (les objets qui peuvent être identifiés) étant si grand que l'existence
  d'un <q>signal</q> (objets qui ne peuvent être identifiés) avait été sérieusement mis en doute.
</p>
<p><q>Dans le problème ovni, nous ne savions pas au début qu'il y avait un signal... il s'agissait simplement de contes
  innacceptables pour les scientifiques en tant que corps</q>, dit l'astronome. <q>Seuls ceux d'entre nous, à travers
  une longue exposition au sujet ou motivés par une curiosité effrênée pour travail dans le domaine et de salir nos
  mains avec les données brutes, arrivèrent à savoir qu'il y avait un signal.</q></p>
<p><a href="/people/h/HynekJosefAllen/index.html">Hynek</a> utilisa l'analogie suivante comme illustration : <q>Dans
  l'isolation du radium, madame Curie fut obligée de travailler avec des tonnes de pitchblende pour obtenir une quantité
  minuscule de radium. Pourtant l'existence d'un signal dans le bruit de pitchblende était indéniable. La radioactivité
  du pitchblende ne fut pas remise en cause. Supposons qu'au lieu de cela il y ait eu une rumeur - un vieux conte de
  bonne femme ou une histoire d'alchimiste - selon laquelle il existait un élément inconnu miraculeux qui pouvait être
  utilisé dans la transmutation des elements et qui avait des pouvoirs guérisseurs miraculeux et d'autres propriétés
  exotiques. Est-ce qu'un scientifique quelconque sur la base d'un tel conte d'alchimiste aurait fait ce qu'a fait
  madame Curie pour extraire le signal du bruit de tonnes de pitchblende ? Difficilement. Madame Curie savait qu'il y
  avait un signal - ce n'était pas une rumeur. Et bien que le travail ait été immense, il y avait une méthodologie
  définie, scientifiquement acceptée pour séparer le signal du bruit.</q></p>
<p>A côté du problème de séparer les mauvaises identifications d'ovnis tels que des avions , <a
    href="/place/systeme/solaire/planete/index.html">planètes</a>, <a
    href="/science/crypto/ufo/enquete/meprise/ballon/">ballons</a> météo, etc.) du résidu constant permanent d'objets
  uniques observés dans qu'on puisse les attribuer à des facteurs connus, se trouvent d'autres observations
  particulières incorporées dans les rapports. Il y a eu des observations de spectres, d'anges, de robots, de
  lévitations et choses semblables qui ont détourné de nombreux scientifiques de s'intéresser plus aux ovnis.
</p>
<p>Assez curieusement, selon plusieurs scientifiques distingués au Symposium, l'explication la moins probable aux ovnis
  est la <a href="/science/crypto/ufo/analyse/hypotheses/intelligence/HET">théorie extraterrestre</a> !
</p>
<p>Le Dr. <a href="/people/s/SaundersDavidR/index.html">Saunders</a> a indiqué : <q>Tous ces effets pouvaient être
  anticipés en partant de la supposition simpliste que les ovnis ont une réalité physique.</q></p>
<p>Le Dr. <a href="/people/h/HynekJosefAllen/index.html">Hynek</a> a déclaré : <q>Nous ne savons pas à qui appartient
  vraiment le problème des ovnis - au physicien, au sociologue ou au psychiatre. Prenez, par exemple, les signalements
  depuis des régions largement éparpillées du globe, des aspects apparemment paranormaux de certains signalements
  d'ovnis. Ces cas de "<a href="/people/contactes.html">contactés</a>" ont généralement été considérés même par des
  enquêteurs sur les ovnis chevronnés comme des émanations de doux-dingues. Pourraient-ils, cependant, éventuellement
  être une partie du signal extrêmement complexe que notre culture ne sait pas comment interpréter ?</q>
</p>
<p>Le Dr. <span class="people">Jacques Vallée</span> a observé : <q>Je pense que la croyance actuelle parmi la plupart
  des enthousiastes des soucoupes volantes que les objets volants non identifiés sont des appareils utilisés par
  des </q><q>visiteurs d'une autre planète masque la nature réelle, infiniment plus complexe de l'intelligence et de la
  technologie donnant naissance aux observations. Les choses que nous appellons objets volants non identifiés ne sont ni
  objets ni volants.</q></p>
<p>Dans le même temps, le <a href="/org/us/asso/cufos/index.html">Centre Ovni</a> de <a
    href="/people/h/HynekJosefAllen/index.html">Hynek</a> offre une association libre pour des scientifiques motivés par
  leur intérêt commun, un référentiel d'information, de documents et rapports et un lieu où chaque individu peut venir
  rapporter son expérience sans peur du ridicule.
</p>
<p>Ceci étant it une autre approche au problème de la détection des ovnis fut présenté au Symposium par le Dr. <a
    href="/people/k/KuettnerJoachimP/index.html">Kuettner</a> dans un addresse intitulée <em>Quo Vadis ? Où aller à
  partir de là ?</em></p>
<p><q>La masse disponible d'éléments [sur les ovnis] accumulés aujourd'hui et déjà informatisés en 2 ou 3 endroits est
  si grande (de l'ordre de 50 000) que même la petite fraction des cas "non identifiés" représente un grand nombre</q>,
  a-t-il indiqué. <q>De nombreuses personnes ont discuté de divers schémas et nous avons fait de même dans notre Comité.
    La plupart de ces schémas se heurtent au problème discuté précédemment ; ils sont trop coûteux et nécessitent un
    soutien majeur. Nous sommes, cependan, arrivés à une idée relativement peu coûteuse qui pourrait ou ne pourrait pas
    marcher. Si elle le fait, cela pourrait être assez significatif et c'est pourquoi il pourrait être intéressant
    d'essayer.</q>
</p>
<p><a href="/people/k/KuettnerJoachimP/index.html">Kuettner</a> expliqua que le Service de la Météo Nationale opère près
  de 100 unités de <a href="/science/crypto/ufo/enquete/indice/radar/index.html">radar</a> météo 24 h/24 aux U.S. pour
  fournir l'information nécessaire aux diverses prévisions, avertissements et centres sur le climat. Des photos des
  écrans sont prises toutes les heures lors d'un temps normal et tous les 40 s lors d'un temps sérieux. Les <a
      href="/science/crypto/ufo/enquete/indice/radar/index.html">radars</a> ont une portée d'un rayon de 125 et 250
  miles. L'utilisation de <a href="/science/crypto/ufo/enquete/indice/radar/index.html">radars</a> primaires,
  secondaires et coopératifs à travers le pays pourrait couvrir une zone de 80 % des U.S. Des photographies prises sur
  les écrans sont stockées à l'installation du Service des Données Environmentales en Caroline du Nord.
</p>
<p><q>L'effort est réduit et peu coûteux et aucun soutient majeur n'est nécessaire</q>, conclut <a
    href="/people/k/KuettnerJoachimP/index.html">Kuettner</a>. <q>S'il est infructueux, rien n'est perdu, mais s'il est
  fructueux, cela pourrait ajouter un morceau de données puissant aux études de cas spécifiques. Cette information
  pourrait déjà exister, mais n'a pas été récupérée.</q></p>
<p>Ces hommes accomplis ne représentent qu'une portion du "groupe de réflexion" qui a ramassé le problème ovni après que
  l'Air Force l'ai laissé tomber. Ils risquent leurs réputations en interprétant le "signal" complexe et ambigü au sein
  du "bruit". Jusqu'ici, certaines de leurs conclusions n'ont été annoncées que lors de réunions privées et publiées
  dans des journaux techniques généralement non accessibles au public.
</p>
<p>Ce qui est important est que l'homme de la rue soit conscient que cet intérêt de première priorité pour les ovnis
  existe et chez certains des scientifiques de l'espace les plus distingués dont les talents combinés nous ont emmené
  dans l'espace. Peut-être le ridicule sur l'ensemble du sujet des ovnis est-il presque terminé...
</p>
<!--#include virtual="/footer.html" -->
